[2018-01-08 14:48] rbiggs opened #1007 "Using with ES6 import/export"
Nice library. I'd love to use this with normal ES6 imports for projects. I use Rollup for that. As it stands Mathjs doesn't work with Rollup for imports. I use the `commonjs` plugins for Rollup when I need a library that uses commonjs module format without problem. However, in the case of Mathjs I've been unable to import it into an ES6 Rollup project. I can indeed import the main part of Mathjs,

[2018-01-08 19:45] josdejong commented on #1007
Yes we definitely have to set up a build script to convert ES6/7/8 to ES5, thanks for your suggestion.

I will mark this issue duplicate in favor of #914 to keep the discussion focused. Help would be welcome :)

[2018-01-08 19:45] #1007 closed

[2018-01-08 21:56] HarrySarson commented on #914
Something like https://lebab.io/ could help with converting the current code base into es6.

[2018-01-09 14:33] mblinsitu commented on #997
Thanks for your interest in this topic.

I am not sure I understand the issue with ghosted properties.

I have a use case that may or may not by related where setters/getters are defined in the class and reference 'shadow' properties in the instance. This is to provide reactive behavior at the property level, e.g. redisplaying a view when a model changes. (I am using [mobx](https://mobx.js.org), a

[2018-01-09 18:23] ThomasBrierley commented on #997
Just to clarify: I use "ghosted" for lack of a better word to describe when an own-property is overriding an inherited property of the same name. It originates from describing a similar scenario with variable scopes in programming languages more generally.

The ghosting check is only used for methods (more specifically properties where `typeof prop === 'function'`). Javascript property setters and

[2018-01-09 23:11] mblinsitu commented on #997
Thanks for the clarification. I now understand why you don't want to redefine a function from within a mathjs expression.

Any thoughts about my suggestion to use a whitelist of constructor functions? The implementation is trivial:

[code]

Side note: I am fully aware of the performance hit of setters/getters, although it varies greatly across browsers (see, e.g., this [performance test](https://j

[2018-01-09 23:48] ThomasBrierley commented on #997
I don't see the need for it yet, unless i'm missing something? The pseudo code in my earlier post allows any instances of classes without the need for an explicit white list. Is there a particular behaviour i've left out that you need?

[2018-01-10 07:40] josdejong commented on #914
I hadn't thought about trying to automatically convert code to es6, that could be interesting too, thanks for the tip Harry.

[2018-01-10 11:04] mblinsitu commented on #997
If you are OK with giving access to properties of any instance object (except ghosted function properties), that's great!

However in your pseudo code, accessing (non-method) inherited properties of instance objects is listed as unsafe. I believe this would not work for my "reactive property" use case since the setter/getter is defined in the class (i.e., the prototype), not the instance. So check

[2018-01-10 13:26] ThomasBrierley commented on #997
Ah, you are correct, and since the get/set type is determined by it's return value. That restriction was suggested by Jos.

@josdejong could you tell us what the thinking behind that idea was?

[2018-01-10 20:24] josdejong commented on #997
For example, if you can replace the `_compile` methods defined on Nodes (result of `math.parse('2+3')`), you can get access to node.js/browser via the expression parser with a smartly prepared expression. (There is a [security.test.js](https://github.com/josdejong/mathjs/blob/master/test/expression/security.test.js) file for inspiration :) )

Coming weekend I hope to dive deeper in this discussion

[2018-01-11 01:01] ThomasBrierley commented on #997
It the target property is a method I think that should be restricted by the `typeof prop === method` section for the object instance block:

[code]
In other words the only access mode for method property types is 'call'

[2018-01-11 07:30] AlexYegupov opened #1008 "Unit.toString causes side effects"
Seems like after just logging to console my unit variable is converted into SI.

Here is my interactive commands:
[code]
Seems behavior: after just logging to console q0 is converted from cm to km.
Expected behavior:  q0.toNumber() must still return 100001 because it wasn't converted

System info:
[code]

[2018-01-11 13:18] jean-emmanuel commented on #880
I just stumbled on this, maybe a bit late but by any chance could you point out what needs to be imported to make a standalone parser/eval build ?

[2018-01-11 13:39] adityamertia opened #1009 "npm install mathjs deletes other npm installed packages"
Hi,
This is consistently seen everytime i do "npm install mathjs" that it deletes for e.g. 60 packages that are installed in npm. Why should mathjs deletes other packages?

[ec2-user@demo demo]$ npm install mathjs
npm WARN myproject@1.0.0 No description
npm WARN myproject@1.0.0 No repository field.

+ mathjs@3.19.0
removed 60 packages and updated 1 package in 2.022s

[2018-01-11 15:08] #973 closed

[2018-01-11 20:32] Murph9 commented on #880
I ended up going with a much smaller library as the use case only simple
+-* #
math.

[2018-01-12 08:40] lab4quant opened #1010 "question: math.lup vs lu_factorize, permutation vector different?"
Hello, I'm trying to use math.js (latest versoin from cdn) to perform matrix decomposition.

[code]

which produces this result:
[code]

When I used boost `lu_factorize` function for the same matrix, it produces this result:

[code]

the M from `lu_factorize` is 'combined' L & U, but the `permutation vector` from mathjs is different from boost.

Please help me to understand the difference, I'm try

[2018-01-12 14:40] ericman314 commented on #1010
I checked two online LU decomposition calculators [here](https://www.wolframalpha.com/input/?i=lu+decomposition+of+%5B+%5B1.0,+0.9,+0.7%5D,+%5B0.9,+1.0,+0.4%5D,+%5B0.7,+0.4,+1.0%5D%5D) and [here](http://comnuan.com/cmnn0100d/), and both return the same result as math.js. It's possible that boost's permutation matrix has a different meaning, which results in the same L and U, but different P, but a

[2018-01-12 14:52] ericman314 commented on #908
Are we still interested in this? I stashed my determinant testing code somewhere and now I can't find it. I can recreate it if we still want to use lup decomposition for calculating the determinant.

[2018-01-12 18:30] ccorcos opened #1011 "Does MathJS use eval? Is it secure?"
I'm trying to determine if I should use this library -- it seems amazing and there's a lot of magic going on. It would be nice if somewhere in the readme, you commented on the security of this library. Can we accept and eval strings from users?

[2018-01-12 19:55] javazen opened #1013 "math.derivative changed result between 3.14 and 3.16.1"
First, thanks to Jos and everyone who has made this a great math library!  I have unit tests for the parts of mathjs I use, and when I upgraded from 3.14.2 to 3.16.1 one of them that uses math.derivative() started failing.

For the expression "1 - (-B)" math.3.14.2 gives a derivative node which is a ConstantNode, value=1, which is correct.

In 3.16.1 and later, the same expression gives a derivati

[2018-01-12 20:00] HarrySarson opened #1014 "Additional arguments of OperatorNode's are silently ignored in derivative."
`OperatorNode`'s that only support two arguments (such as '-', '/' or '^') silently drop any additional arguments when calculating the derivative.

The `derivative` function should throw an error instead.

See also #1003

[2018-01-12 21:58] HarrySarson commented on #1009
This is about npm deleting packages. The mathjs libary has nothing to do with this issue.

Maybe https://github.com/npm/npm/issues/17379 might help you :)

[2018-01-12 23:02] joelhoover commented on #1013
Can confirm that this is an issue in the most current version (3.19.0).

So, this is actually an issue in `simplify`, because if we take the derivative with `options.simplify` set to `false`, we get `0 - -1`, which is correct. However, we run into issues if we run `simplify` on such expressions:

[code]

Diving into an invocation of `simplify` on `"0 - -x"`, after `simplifyCore` runs we have `-(-x

[2018-01-13 05:37] firepick1 commented on #1013
Joel, thanks for tracing this through to code with which I am unfamiliar. I can help with simplifyCore should the need arise.

[2018-01-13 06:27] joelhoover opened #1015 "Extension that adds `integral` functionality to compute simple integrals"
Hi all! I'm pleased to announce the first public release of my current project: [`mathjs-simple-integral`](https://github.com/joelhoover/mathjs-simple-integral) (also [published to npm](https://www.npmjs.com/package/mathjs-simple-integral)). This package implements the `integral` function for Math.js. It is currently in beta and has some rather severe limitations, such as no implementing integrati

[2018-01-13 11:22] josdejong commented on #1011
Here is a page on security: http://mathjs.org/docs/expressions/security.html

does that help?

[2018-01-13 11:27] josdejong commented on #908
Yes I think so! The current performance of `det` is not yet resolved and it would be great have a better performance. Maybe fallback on the slow algorithm where the fast algorithm isn't stable (large matrices you said?).

[2018-01-13 11:42] josdejong commented on #880
:+1:  the expression parser of mathjs can be overkill, good to stay critical and select a pragmatic, fitting approach.

@jean-emmanuel did you try the documentation on custom bundling http://mathjs.org/docs/custom_bundling.html ? Or have a look at https://github.com/josdejong/mathjs-expression-parser?

[2018-01-13 12:03] jean-emmanuel commented on #880
https://github.com/josdejong/mathjs-expression-parser is a very good start thanks a lot :)

[2018-01-13 12:39] josdejong commented on #880
:+1:

[2018-01-13 12:45] josdejong commented on #1008
:smile:

It may indeed be better to have predictable output for `toString`. Maybe introduce an option similar to how we handle parentheses in `toString` outputs of expressions? (in that case you can pass options to `toString`:  `node.toString({parenthesis: 'auto' | 'keep' | 'all'})`).

[2018-01-13 13:50] josdejong commented on #1013
Thanks a lot @joelhoover , your research saves me quite a headache ;) .

I think you're right: we cannot distinguish subtract and unary minus by their operator, we have to rely on their name instead in `isAssociative`, and the check on args<=1 was in the way there. I still want to make a small refactoring to `isCommutative`, probably add a test whether the node is an OperatorNode before checking t

[2018-01-13 19:47] josdejong commented on #1015
That looks like an impressive start Joel, awesome! Would be great if we could integrate it (pun intended) in math.js as soon as you feel like it's complete enough to remove the beta label :). I will be happy to give feedback where needed but I'm afraid I lack spare time to help with the development itself.

[2018-01-13 19:59] josdejong commented on #1013
@joelhoover I've done a small refactoring in `isAssociative` and `isCommutative` to first have them check explicitely whether dealing with an OperatorNode instead of indirectly via a number of optional args, see commit https://github.com/josdejong/mathjs/commit/18f703beabdfdf8dd8b748140af00bbd40729145. Does that make sense?

[2018-01-14 01:40] lab4quant commented on #1010
@ericman314 , thank you for your update
Let me investigate further into lu_factorize, the parameter is called PM, which should be permutation matrix not vector

[2018-01-14 19:16] #1002 closed

[2018-01-14 19:16] #1013 closed

[2018-01-14 19:28] josdejong commented on #1013
These issues should be fixed now in v3.20.0, thanks again Joel :+1:

[2018-01-14 19:36] joelhoover commented on #1013
Always a pleasure to help. 😄

Just a quick question, is there a reason why `isCommutative` returns `true` for non-`OperatorNode`s? It seems like it should return `false` like `isAssociative` does.

[2018-01-14 19:48] ThomasBrierley commented on #997
If it's easier I could just go ahead and implement this and then we can poke around with some examples afterwards to try and break it. It's probably more intuitive to just see the code in action... I realise this isn't exactly the most exciting type of feature for mathjs :P I'm hoping to be able to do this next weekend (shouldn't take much time).

[2018-01-14 21:11] pezcode opened #1016 "Consider adding ResultSet to list of datatypes recognized by math.typeof"
Calling typeof with a ResultSet returned from eval gives me 'Object'.

I want to format different types of results nicely, and need to know if I'm dealing with a normal object or several results. I can check for result.isResultSet but it feels weird having to do that.

Is typeof only meant to be used inside of parsed expressions? Then it would make sense to exclude some mathjs types. But it would

[2018-01-15 02:21] lab4quant commented on #1010
I'm still confused with `lu_factorize` `pm` output, with `math.lup` output: `L`, `U`, `P`, how do I calculate determinant? I know there's `math.det` function for that.
Thanks!

[2018-01-15 02:54] ericman314 commented on #1010
The determinant is the product of the diagonal entries in `U`, but that product changes sign every time a row swap is done during the decomposition. The number of row swaps can be determined from `P`. In your example, it takes one swap to go from [0,1,2] to [0,2,1], so the determinant is the negative product of the diagonals, or 0.044. There is discussion (see #908) on changing `math.det` to use t

[2018-01-15 07:10] lab4quant commented on #1010
@ericman314 thanks a lot!

[2018-01-15 07:10] #1010 closed

[2018-01-15 18:32] #1011 closed

[2018-01-15 21:14] josdejong commented on #1016
Good point, we should add that!

[2018-01-15 21:21] josdejong commented on #1013
Well, honestly, I have left that in place because else a couple of unit tests break, I haven't looked into it deeper (I haven't written the code). I suppose `isCommutative` should be true for non-operators because it's not applicable in that case. Or maybe the list with commutative operators should be extended or something like that.

[2018-01-16 01:33] luwzchn opened #1017 "A strange question"
why i use： math.eval('69.57*1500');  it's return 104354.99999999999 ？ the right result should be 104355。

[2018-01-16 06:02] firepick1 commented on #1017
I'm not sure there is much difference there. What trouble does this cause you?

[2018-01-16 08:36] luwzchn commented on #1017
@firepick1 I mean ：Why can't we remove the precision problem of JS when i using multiplication?
when i use ： math.eval('69.57*1500');   i need  the  results is : 104355 not  104354.99999999999
for example,  I need  19.9*100=1990  not 19.9 * 100 = 1989.9999999999998

[2018-01-16 09:16] josdejong commented on #1017
@luwzchn these are numerical round-off errors. See: http://mathjs.org/docs/datatypes/numbers.html#roundoff-errors

this is the most asked question ;)

[2018-01-16 17:04] firepick1 opened #1018 "simplifyCore fails when called directly by client"
Error message: ParenthesisNode is not defined

To reproduce: math.simplify.simplifyCore(math.parse("((x)*(y))")

[2018-01-16 17:07] firepick1 commented on #1018
Fixed in https://github.com/josdejong/mathjs/commit/c4b555c36fd58e88930690a9c3cff0e5121362f1

Added new unit test. All tests pass in simplify2 branch.

[2018-01-17 10:31] josdejong opened #1019 "Investigate options to make internal usage of eval redundant or optional"
The expression parser of mathjs has it's own expression parser, which first parses and expression into an AST, and then compiles it into high performing JavaScript code using eval. The usage of eval is great for performance, but it's also a security risk. In some restricted environments usage of eval is blocked for security reasons, which means that you can't use math.js everywhere.

I would love

[2018-01-17 11:32] josdejong commented on #1018
Thanks for the fix Karl! I've released v3.20.1 containing this fix.

[2018-01-17 11:32] #1018 closed

[2018-01-17 12:28] josdejong commented on #997
Sorry for the late reply

ha ha, yes, it's far from my favorite but very important.

@ThomasBrierley it would be great if you could play around with it. The code `customs.js` part of the code can use a refactoring anyway, but we need to be careful of course.

Just to try, I have changed `if (isPlainObject(object) && isSafeProperty(object, prop))` into `if ( isSafeProperty(object, prop))` in both `

[2018-01-17 17:43] piotr-s-brainhub opened #1020 "fix basic arithmetic"
This is a feature request.
OS: Max OS X 10.12.6
NodeJS: 8.6.0
npm: 5.2.0
mathjs: 3.20.1

In JavaScript the following code:
[code]
gives:
[code]

I hoped this library fixes such a behavior. Unfortunately:
[code]
still gives:
[code]

[2018-01-17 17:45] piotr-s-brainhub commented on #1020
The same with `math.add(184.72, 319.94)`

[2018-01-17 18:09] ThomasBrierley commented on #997
That sounds about right.

I'd like to do this by going down the re-factor route based on my pseudo code from earlier if that's ok. This should make it much clearer to reason about the various rules as well as modifying them. I'll have a go over the weekend.

[2018-01-17 18:23] firepick1 commented on #1020
Please use toFixed(2) to address this. It is a standard Javascript function:
(184.72+319.94).toFixed(2)
This is not a mathjs issue.

[2018-01-17 20:14] josdejong commented on #1020
You're seeing regular floating point round-off errors, mathjs has solutions for that.

See: http://mathjs.org/docs/datatypes/numbers.html#roundoff-errors

[2018-01-17 20:15] josdejong commented on #997
Great, curious to see what you will come up with!

[2018-01-17 23:20] bjodah commented on #993
FWIW: As far as I know the best CAS implementation of integration is [RUBI](http://www.apmaths.uwo.ca/~arich/). There was a Google summer of code project last year in the sympy organization which aimed to port these rules into SymPy. They didn't quite finish, but once (if) that ends up wokring, then it shouldn't be too hard writing another export function for mathjs (since the approach they ended

[2018-01-17 23:25] ericman314 commented on #993
Fascinating idea, @bjodah. I think it's worth a look.

[2018-01-17 23:28] bjodah commented on #993
If you are interested in the status of that effort I would recommend reading up/reaching out on SymPy's mailing list: https://groups.google.com/forum/m/#!searchin/sympy/rubi

[2018-01-18 16:23] mikesamuel commented on #1019
Typo in

?

[2018-01-18 18:28] HarrySarson commented on #1019
Generation of WebAssembly code would be pretty neat and presuably result in very fast evaluation.

I think it would also guarantee that mathjs does not allow injection of malicious code when parsing expressions.

[2018-01-18 18:30] HarrySarson commented on #929
Can the `bug` label now be removed.

[2018-01-18 18:51] mikesamuel commented on #1019
@HarrySarson, Good point.  wasm is designed to allow proper sandboxing via `importObject` during [instantiation](https://github.com/WebAssembly/design/blob/master/JS.md#webassemblyinstance-constructor).

It would only work on Node >= 7 and probably not in browser for a while.
It looks like Node6 is [going into maintenance in April](https://nodejs.org/en/blog/release/v8.0.0/#long-term-support) so t

[2018-01-18 18:53] josdejong commented on #993
@joelhoover what you you think about that? (See #1015)

[2018-01-18 18:57] josdejong commented on #1019
oops, fixed that.

@HarrySarson I'm not sure, does it protect against running arbitrary code when you've found access to `new Function(...)` (via a constructor)? I _think_ so but I'm not familiar with asm.js.

[2018-01-18 18:58] FSMaxB commented on #1019
Wouldn't WebAssembly require writing native code (like C, C++ or Rust)?

I don't think WebAssembly is a viable option for now because of limited compatibility, but if emscripten is used to create WebAssembly from native code, the same code can be used to create asm.js for the time being, so this might be a possible direction to go.

[2018-01-18 18:58] josdejong commented on #929
ha ha, true

[2018-01-18 19:00] josdejong commented on #929
Hm, I don't remember what these exact missing methods are?...

[2018-01-18 19:03] FSMaxB commented on #1019
@josdejong It seems like you are using WebAssembly and asm.js interchangeably. But they are something quite different.

**asm.js** is (from my understanding) just a subset of regular JavaScript with some type annotation so that Browser that support it can convert it into efficient machine code.

**WebAssembly** is (again from my understanding) an API and Instruction set that maps very closely to a

[2018-01-18 19:15] mikesamuel commented on #1019
@FSMaxB, WebAssembly would require compiling an AST to a stack-based binary instruction set.

My understanding is that asm.js was a proposal that Mozilla came put forward as what they would like instead of [NaCl](https://en.wikipedia.org/wiki/Google_Native_Client).  That proposal showed that there was broad support for something like asm.js but without the JavaScript parser overhead.  Most of the

[2018-01-18 19:23] josdejong commented on #1019
:rofl:  ... well... that's illustrative for how much I know about it

[2018-01-18 19:24] mikesamuel commented on #1019
My understanding is that the validator disallows any call that doesn't [provably produce a float](http://asmjs.org/spec/latest/#callexpression) and the return type of the `Function` constructor would be [**extern**](http://asmjs.org/spec/latest/#extern).

[2018-01-18 20:46] josdejong commented on #1019
I just did a quick and dirty experiment removing compiling of an expression via:
[code]
to basically:
[code]

First results look awesome:

[code]

The compiler without `eval` is actually faster than the current one! I hope to work this out in more detail soon, this looks reaaally promising

[2018-01-18 21:11] mikesamuel commented on #1019
Wow!

Is `... regular js` a tree interpreter?

[2018-01-19 14:09] josdejong commented on #1019
It's basically something like this: the expression parser parses input into an expression tree or AST, which contains nodes like OperatorNode, FunctionNode, ConstantNode, SymbolNode, etc. For example a FunctionNode contains properties like `fn` (for example `sqrt`), and `args` (like a ConstantNode with the value 16).

Without compilation, you could evaluate such a node like this (simplified):

[co

[2018-01-19 14:23] FSMaxB commented on #1019
Why not go back to the original approach with `prototype.eval`? Shouldn't that have the same performance as or even better than the approach with returning a function?

[2018-01-19 14:27] FSMaxB commented on #1019
`compile` could then be a noop that just returns a function that calls `node.eval`.

[2018-01-19 16:09] josdejong commented on #1019
The example I posted is quite simplified, some nodes have a lot of logic which you can execute once in a compile step, as it doesn't yield changes when executing with a different scope. See for example [AssignmentNode](https://github.com/josdejong/mathjs/blob/master/lib/expression/node/AssignmentNode.js#L105-L184) which has quite some logic. If you do as much work as beforehand in a compile step,

[2018-01-21 10:48] ahallez opened #1021 "Precision attribute for rounding functions"
Hi,

Would it be an option to add a second optional argument to the rounding functions (round, floor, ceil) to indicate the precision of the rounding?

e.g. round(3.234, 2) would return 3.23

[2018-01-21 17:21] josdejong commented on #1019
I've completely rewritten the `compile` function to one which doesn't use `eval`. Currently the old compile method is renamed to `node.compileWithEval()`, and the new implementation is named `node.compile()`, so we can compare them side by side. I did some small tests on all different browers, and it looks like the new solution (without eval) is slightly faster than the old one. Firefox is an exce

[2018-01-21 19:41] mikesamuel commented on #1019
Is the code below where identifiers in untrusted inputs get resolved to lvalues and rvalues?

https://github.com/josdejong/mathjs/blob/1192bb6bbc80e8d2987ed94899405f4db09fe268/lib/expression/node/SymbolNode.js#L130-L135

If so, there might be a few tweaks to *SymbolNode* that might prevent custom node implementations from naively trusting the name.

[2018-01-22 00:00] FSMaxB commented on #1021
Mathjs already does exactly that! See [here](http://mathjs.org/docs/reference/functions/round.html) and [here](http://mathnotepad.com/#contents=N4IgzgLghhCmIC5RlgG1gYwgSwPYDtFRt8ATWAD0QEYAacaAJwkQAZ7Yy2BfesDRrlSoAKrgAOPDhXGNYYMHnxhEAbVAA3KKgCu8BCEE6yACgDMAOgBMZgCy0ABFYCUIegFtY0It16bteoggbiCe3ki%2BALr0GrCMigSIZvQ64qQwsKRBVqzUABwAtLkFVlYirKwIFQjUrBYAbLZmAFog3EA%3D)

[2018-01-22 00:01] FSMaxB commented on #1021
Not for `floor` and `ceil` though.

[2018-01-22 08:30] josdejong commented on #1019
Yes, that's one of them. Basically, many exploits boil down to getting access to `Function` which allows executing arbitrary JavaScript, like via `sqrt.constructor`. Therefore, we put guards on all places where we get or set object properties: from scope, from math, or from object accessors. That are these functions `getSafeProperty`, `setSafeProperty`, `validateSafeMethod` that you can find in cl

[2018-01-22 09:56] ahallez commented on #1021
Ok, I didn't check the documentation for round, because I'm mostly interested in floor and ceil.

[2018-01-22 11:17] FSMaxB commented on #1021
@josdejong Do you think this should be implemented? I don't think it is 100% trivial, especially for all the different types.

@ahallez Do you know any other places where something like this has been implemented. e.g. Matlab, numpy etc.?

[2018-01-22 12:18] ThomasBrierley commented on #997
I've done some experimentation, didn't quite turn out like I expected, I might have a few questions to ask later to save me some time.

My first attempt didn't break as many test as I expected once I removed checking for specific assertion messages... I have about 11 broken, a handful are to be expected because they test exactly what we are trying to allow (I will list them once i'm happy with the

[2018-01-22 12:35] ahallez commented on #1021
@FSMaxB it looks like the same pattern returns in most libraries. round has a precision argument and floor and ceil don't.

[2018-01-22 13:21] Nekomajin42 commented on #1021
@FSMaxB
Excel has this argument for roundup and rounddown.

[2018-01-22 13:49] FSMaxB commented on #1021
I wonder, wouldn't the following be a workaround for ceil?

[code]

[2018-01-22 17:18] mikesamuel commented on #1019
This sounds like [RCE](https://nodesecroadmap.fyi/chapter-1/threat-RCE.html):

[code]

Well, if the problem is untrusted identifiers reaching the square bracket operator, then
you could wrap all untrusted identifiers in a class like that below which would require
someone to explicitly think about what they're doing with the identifier but still make
it obvious what's going on in log messages.

[co

[2018-01-22 19:03] josdejong commented on #1019
Thanks Mike, I like that idea! That will prevent accidentally using an unsafe property or method.

[2018-01-22 19:19] josdejong commented on #1019
@ThomasBrierley want do you think of Mike's idea?

[2018-01-22 19:56] Nekomajin42 commented on #1021
@HarrySarson
I agree, it's not a common case, however, as a teacher I've met problems, where this exact feature came handy in Excel. Let me show an example:

*You have a shop, and you want to give a 10% discount for certain items, but to make it consistent, you change the last digit to 9.*

Examples:

|Original|New|
|---|---|
|800|729|
|150|139|
|240|219|

The problem is that you have to add a dif

[2018-01-23 07:37] josdejong commented on #1021
Though not a very common use case, I think it can be useful to have support for passing a number of digits to `floor` and `ceil` as optional second argument. I would like to add  `fix` to this list too though to have it complete.

Thanks for sharing your use case Toth.

Fraction.js already has built in support for this. For number and BigNumber we'll have to implement this. We have to be careful n

[2018-01-23 07:44] josdejong commented on #997
Property access checking remains essential (see https://github.com/josdejong/mathjs/issues/1019#issuecomment-359355305), basically we must prevent from getting access to `Function` via the constructor of a function or class, which would allow arbitrary code execution. For example `sqrt.constructor("console.log('hacked!!!')")()`.

[2018-01-23 07:56] #1017 closed

[2018-01-23 07:56] #1020 closed

[2018-01-23 10:29] Schnark commented on #993
BTW: _Numeric_ integration is actually one of the examples in the documentation: http://mathjs.org/examples/advanced/custom_argument_parsing.js.html

[2018-01-23 11:17] josdejong opened #1023 "Change `ConstantNode` to just hold a value instead of a stringified value and its type"
Currently, the `ConstantNode` type holds a stringified value and its type, like
`new ConstantNode('2', 'number')`. When evaluating the ConstantNode, it is parsed into a number, BigNumber, or Fraction.

I would like to change this such that ConstantNode simply holds a value, like `new ConstantNode(2)` and `new ConstantNode(math.bignumber(2))`. That's simply easier to understand and work with.

It w

[2018-01-23 12:39] FSMaxB commented on #1023
Actually wouldn't it make sense to print fractions as actual fractions in the LaTeX-Output? On the v4_constant_node branch it curently looks like you treat numbers, bignumbers and fractions all the same.

[2018-01-23 13:19] LloydLS opened #1024 "Get part of Matrix fails when used in user defined function"
Version: "3.20.1"

*Description:* Passing a matrix as an argument in a custom function returns an error message, whereas the same custom function works if the matrix is defined previously as a global variable.

*Broken example:* Feed in matrix through the function:
[code]

*Working example:* Define matrix variable first:
[code]

(MathJS is awesome btw, thanks!)

[2018-01-23 13:43] josdejong commented on #682
I'm working on getting all breaking changes for v4 implemented. Hope to finish this soon.

[2018-01-23 13:44] ThomasBrierley commented on #1024
If size is replaced with an explicit array of indices `[1, 2, 3, 4]` it works. Something about invoking `size` inside a function seems to break the local reference `b`.

I suspect the working example only works because it's using the global reference instead.

[2018-01-23 16:07] HarrySarson opened #1025 "Suggestion for v4: refactor OperatorNode to have explicit number of arguments."
There have been a number of issues (#1013, #1014, #1002) related to the handling of the number of arguments of `OperatorNodes`.

I would like to suggest removing the `OperatorNode` class and replace it by `UnaryOperatorNode` and `BinaryOperatorNode` classes (a breaking change for v4 #682).

This way users cannot shoot them selves in the foot by doing `new OperatorNode('subtract', '-', [ /* more th

[2018-01-23 16:49] josdejong commented on #1025
Great idea, thanks for the suggestion!

As for the `add` and `multiply`: maybe we should we create a `MultiOperatorNode` which is basically the current `OperatorNode`?

[2018-01-23 17:31] HarrySarson commented on #1025
Is there a use case for `MultiOperatorNode`? Would nested `BinaryOperatorNode`'s or a `FunctionNode` suffice

[2018-01-23 17:45] FSMaxB commented on #1025
For reference: https://github.com/josdejong/mathjs/issues/739

[2018-01-24 08:56] josdejong commented on #1023
Yes we could actually format fractions nicely. There was no special handling for Fractions when stringifying or using toTex before, but we can certainly add that.

Would you be interested to add this to the ConstantNode?

[2018-01-24 09:05] josdejong commented on #1024
Thanks for bringing this up. This is indeed due to a conflict with an internally used variable `size`.

Funny thing is that this issue is solved in the new compiler I wrote last weekend, see https://github.com/josdejong/mathjs/issues/1019#issuecomment-359264526. The new compiler will be released in v4 (I expect to release a beta of v4 within a few weeks).

[2018-01-24 09:35] FSMaxB commented on #1023
I can do that. Should I make a pull request to the `v4_constant_node` branch or wait until it is in `develop`?

[2018-01-24 10:19] josdejong commented on #1023
Thanks! A PR to `v4_constant_node` would be great.

[2018-01-24 12:51] josdejong commented on #830
In the `v4` branch I've removed implicit conversion of `null` to `0`, and I've improved the error messages of the statistics function a bit. This means that the statistics functions simply will break when you pass a `null`, forcing you to explicitly solve the issue yourself by either converting `null` to `0`, or by filtering out zero's. For example:

[code]

[2018-01-24 15:02] josdejong commented on #676
In the `v4` branch, I've now changed the default value of `precision` to undefined too when `notation='fixed'`:

[code]

I've also changed `lower` and `upper` such that you have to pass exponents instead of values:
[code]

[2018-01-24 15:04] josdejong commented on #1025
@firepick1 do you have any thoughts on this? Would having two or three separate classes for operators make life easier in `math.simplify` or harder?

[2018-01-24 23:34] FSMaxB commented on #1023
I just noticed that fraction.js already has builtin LaTeX support.

[2018-01-25 01:17] FSMaxB commented on #1023
There is a problem because `getType` can never return `BigNumber` or `Fraction`. See https://github.com/josdejong/mathjs/blob/087f53d8544dd3631d75b6ce836446153fc88de1/lib/utils/types.js#L29-L39

This means that the `Fraction` and `BigNumber` cases are absolutely pointless here:
https://github.com/josdejong/mathjs/blob/087f53d8544dd3631d75b6ce836446153fc88de1/lib/expression/node/ConstantNode.js#L13

[2018-01-25 19:23] josdejong commented on #1023
Ah, sorry @FSMaxB . That's indeed a bug. There are two typeof functions in the code base, that's confusing:

- A generic one understanding just plain JS types:
  https://github.com/josdejong/mathjs/blob/v4_constant_node/lib/utils/types.js
- A more advanced one which also recognizes mathjs types like Matrix, BigNumber, Fraction:
  https://github.com/josdejong/mathjs/blob/v4_constant_node/lib/functi

[2018-01-25 20:56] FSMaxB commented on #1023
Note that the code that escapes strings for latex needs to be ported to the new ConstantNode as well, once it is merged.

[2018-01-25 21:04] josdejong commented on #1023
Good point. For reference, see #1022

[2018-01-26 20:21] lwirtz commented on #1021
Yes @FSMaxB. One use case would be fee calculations based on percentages that would always round up to the nearest whole cent. I'm building a fee calculator for a government entity using your API through a bot to show customers what specific services will cost (they can't actually pay through the web, but this is a reoccurring request to easily calculate fees based on age and other selections). I

[2018-01-27 12:50] josdejong commented on #1025
@HarrySarson thanks for this great start of implementing `UnaryOperatorNode` in #1027.

I was just thinking about the pros/cons of splitting in two classes (`UnaryOperatorNode`, `OperatorNode`) or three classes (`UnaryOperatorNode`, `BinaryOperatorNode`, `OperatorNode`). Less classes is generally better: the more classes you have, the more work it is to handle all of them everywhere. But unary ope

[2018-01-27 15:06] ericman314 commented on #792
I'm happy to finish it. Should I submit the PR to the v4 branch?

[2018-01-28 13:37] ericman314 commented on #792
So to be clear, there are two proposed changes to the parsing rules here:
1. implicit multiplication now has higher precedence over multiplication and division
2. division between two integers (fractions) has higher precedence over implicit multiplication

At present, `1/2x` is parsed as `(1/2) * x`. Rule 1 causes it to be parsed as `1 / (2*x)`. Rule 2 causes it to again be parsed as `(1/2) * x`.

[2018-01-28 14:04] josdejong commented on #792
Thanks for your clear summary. I think we all agree on rule 1. We have to give rule 2. more thought I think.

I don't fully understand why two explicit divisions would have changed behavior, I think we can keep that the same.

How about the following rule 2:

2. Explicit division gets higher precedence than implicit multiplication when:
    - lhs of the explicit division is a number
    - rhs of t

[2018-01-28 16:05] HarrySarson commented on #1025
Maybe `isUnary` and `isBinary` methods are the way to go, it would certainly require a smaller change to the code base which is always a good thing.

I guess the questions I have are:
 - How to we find a good solution to #1014? Being able to do `new OperatorNode('-', 'unaryMinus', [node1, node2])` without causing an `Error` to be thrown I think could be at the root of this behaviour.
 - Can an `Op

[2018-01-28 18:44] josdejong commented on #1025
These are good points. About your questions:

- I think this issue holds for both solutions. You could give an error in both cases: when a user creates a `unaryMinus` operator either by accidentally passing more than two arguments, or by accidentally putting it into an `BinaryOperatorNode` or `MultiOperatorNode`. I think though that in the case of three explicit classes it's less probable that a p

[2018-01-28 20:34] HarrySarson commented on #1025
Is it possible to validate iin the constructor of an `OperatorNode`, so that the number of args has to match the function that will be called when the node is evaluated. i.e. it is impossible to create an unaryMinus node with two arguments or a minus node with one or three arguments.

[2018-01-28 20:37] josdejong commented on #1025
Yes, so that's solvable in both solutions.

[2018-01-28 20:41] HarrySarson commented on #1025
At the moment though you can (and the tests do) `new Operator('*', 'foo', [ ... ])` this would fail validation.

[2018-01-28 21:05] josdejong commented on #1025
There are currently no checks in place to warn you about "infeasible" combinations. We _could_ add these if needed, but I'm not sure whether we _should_: it will couple the parser to function implementations. Right now these are completely separate, which makes usage very flexible. The only valid combination for `*` is `new Operator('*', 'multiply', [ ... ])`, but if you restrict to that, you woul

[2018-01-29 08:44] gizmodus opened #1030 "Memory leak in mathjs.eval()"
Hi,

First thanks a lot for this great project, we are using mathjs in a large project!
Yesterday, I made some memory investigations with Chrome Developer Tool and I found a possible problem with mathjs.eval(). If you call this function a couple of times, memory usage in Chrome's heap snapshot increases significantly.

I created a little project on stackblitz to illustrate the problem (relevant co

[2018-01-30 07:13] gizmodus commented on #1030
Great, thank you very much!
Is v4 already stable enough to be used in production?

[2018-01-30 18:28] josdejong commented on #1030
I wouldn't advise you to use it in production. v4 not yet released, and we're still working on a few breaking changes. The expression compiler itself is done and well tested, but hasn't been used in real world applications yet. I hope that we can release v4 within a couple of weeks - but it's ready when it's ready.

[2018-01-30 22:18] HarrySarson commented on #1025
If we can use Solution 2 to fix #1014 then it has my full backing

[2018-01-31 06:42] gizmodus commented on #1030
Okay, thank you!

[2018-01-31 07:55] josdejong commented on #1025
Yes, we can indeed use it to solve #1014. Ok let's go for `Solution 2` then, thanks for all your input!

At all the places where we work with `OperatorNode`, we will have to check whether the `OperatorNode` is binary. Basically the same as checking whether `node.args.length === 2`. We _do_ have to go through `derivative`, `simplify`, and `rationalize` thoroughly and add these checks where missing,

[2018-01-31 08:59] taoqf commented on #1021
I need this, too. my use case is simple, so i didn't commit a pr.
[code]

[2018-01-31 09:14] taoqf opened #1031 "default behavior of `format`"
I am confused about `format`,  I checked the `formatNumber` and find the default `notation` is `auto`, I supposed the default behavior is `fixed`.
https://github.com/josdejong/mathjs/blob/master/lib/utils/number.js#L130

[2018-01-31 09:22] taoqf commented on #1031
I think I get it. But I have another question: what's deffrent between
[code]
and
[code]
is this an issue?

[2018-01-31 09:28] taoqf commented on #1031
I expect if i pass an precision >=0 , use `fixed`, else use `auto`. by the way, the test
https://github.com/josdejong/mathjs/blob/master/test/function/string/format.test.js#L38 `1/3` confused me at the first time.

[2018-01-31 10:02] josdejong commented on #1023
I would love to have some input from Karl about this issue, but I have a strong feeling that this change in `ConstantNode` is a good improvement. In order to be able to move forward and prevent merge conflicts with other changes for v4 I will now merge `v4_constant_node` into `v4`.

[2018-01-31 10:16] josdejong commented on #1014
Should be fixed via #1032

[2018-01-31 10:18] josdejong commented on #1025
I've worked out the solution with `isUnary()` and `isBinary()`, I quite like the result, though there is still room for another refactoring step. @HarrySarson would be great if you could have a look at #1032.

[2018-01-31 10:25] josdejong commented on #995
Fixed via #995 (fix is not yet released)

[2018-01-31 10:36] josdejong commented on #1023
@FSMaxB I've just merged your fix for escaping latex string from the `develop` branch into `v4`.

[2018-01-31 10:49] josdejong commented on #1031
The default notation for `math.format` is indeed `auto`, see also docs: http://mathjs.org/docs/reference/functions/format.html

math.js is quite strict, therefore it will throw an error for `format(2018.123, undefined)`. If you pass that, you probably did not intend so (maybe you pass an `options` object that comes from somewhere else, but it is accidentally undefined instead of an object or somet

[2018-01-31 11:15] HarrySarson commented on #1025
I will have a look later today :)

[2018-01-31 11:18] taoqf commented on #1031
All right. Thank you after all.

[2018-01-31 11:18] #1031 closed

[2018-01-31 11:23] josdejong commented on #1031
:+1:

[2018-01-31 11:23] josdejong commented on #1025
thanks!

[2018-02-01 16:16] HarrySarson commented on #804
Complex.js now has infinity support in `master` branch. When the next release is published to npm we should be able to fix `math.pow(complex, Infinity)`.

I think it should "just work" but some tests might fail and even if they don't we should add some new tests. I will make a PR when the new version is published. :)

[2018-02-01 16:28] faeron opened #1033 "Unit: Adjustable range for usable prefixes on output (toString, format)"
I was wondering if it was possible to limit/define the range of prefixes when formatting a unit.
Although the output is totally correct from mathematical point of view, it looks somehow unusual for a "normal" user in some cases (e.g. a calculated distance from a map)

`
math.unit(10000000, 'm').toString()
`
it shows `10 Mm` but `10000 km` would look more natural in that case.

Basically what I ask

[2018-02-01 18:48] josdejong commented on #1025
This has been implemented via #1032.

[2018-02-01 18:48] #1025 closed

[2018-02-01 19:12] infusion commented on #804
I thik the concept of complex infinity must be introduced for math.js as well.

[2018-02-02 21:14] avianey commented on #622
any update on this ?

[2018-02-02 22:00] josdejong commented on #792
@ericman314 do you have an idea when you will have time to work on the implicit multiplication?

[2018-02-02 22:09] ericman314 commented on #792
I think I can get to it this weekend.

On Feb 2, 2018 3:00 PM, "Jos de Jong" <notifications@github.com> wrote:

[2018-02-03 04:05] ericman314 commented on #792
After seeing the strange results of rule 2 in repeated divisions, I'm having doubts. In my opinion, when a user writes an expression, it should be absolutely clear to him/her how it will be parsed. I think if we try to implement rule 2, no matter how clever we are (and I _thought_ my solution above was pretty clever), we will eventually find an example that results in unexpected behavior.

@josdej

[2018-02-03 06:20] ericman314 commented on #792
As a start, I submitted PR #1034 which adds a config option for implicit multiplication, but I'm happy to modify it as necessary according to whatever our final decision is here.

[2018-02-03 12:33] josdejong commented on #792
Thanks for exploring Solution 2 @ericman314 . I totally believe you that this gives weird, hard to understand cases. That's really unfortunate, I had hoped we could find a nice solution which feels natural and consistent. Just for my understanding, can you post one or two of these weird cases?

Just to be sure we're on the same page: did you implement Solution 2 as described in your comment https:

[2018-02-03 14:11] josdejong commented on #622
No progress yet.

Anyone interested in picking this one up?

[2018-02-03 14:12] josdejong commented on #804
Great if you can pick this up coming time Harry !

[2018-02-03 14:40] ericman314 commented on #792
Jos, thanks for clarifying your position.

I jumped to conclusions without trying your suggestion. To be honest I wasn't exactly sure how to do it. I suppose the parser would simply look ahead a few tokens to find the pattern `[number] / [number] [symbol]`? If  that's the case, it's almost just as easy as my first implementation of rule 2 which matches `[integer] / [integer]`.

The reason my first

[2018-02-03 15:06] josdejong commented on #792
I think you're right with your last three rules. We may have to also catch `symbol / symbol symbol`, to handle a case like `8.314 J / mol K `, what do you think?

In that Solution 2 proposal my idea was that implicit multiplication would _never_ have higher precedence except in the special case of `number / number symbol`. I'm not exactly sure how this would work out but it may be an interesting e

[2018-02-03 15:29] ericman314 commented on #792
I've actually just finished implementing it, with implicit multiplication always having higher precedence _except_ for the pattern `number / number symbol`, in which the `/` is raised above implicit multiplication. I was testing out all the examples we've seen so far in this discussion. I am extremely pleased with the results:

[code]
And my personal favorite also works:
[code]

The only one that

[2018-02-03 15:36] josdejong commented on #792
that. is. awesome!

The example `x 2.5 / 5 y` is indeed an odd one, we shouldn't worry about that. How does `2 1/2 x` evaluate? I think that will be `(2 * (1/2)) * x` right?

[2018-02-03 15:39] josdejong commented on #792
About unit testing, I was just thinking, we should rewrite tests like these:

[code]
with something like:
[code]
that's much easier to understand instead of having to calculate and compare the result.

[2018-02-03 15:51] ericman314 commented on #792
`number number` isn't supported at all currently, so `2 1/2 x` gives `SyntaxError: Unexpected part "1" (char 3)

Agreed. I'll get started on the tests. Also, when stringifying a parsed tree, do we need to alter when parentheses are displayed to account for the new precedence?

[2018-02-03 15:57] josdejong commented on #792
ah, of course! That's good. (We could later on implement support for implicit addition in a case like `2 1/2` but no need now.

I think we can keep it as it is, we have the option `toString({parenthesis: 'all'})` to get the unambiguous output.

I've gone through your list with examples again, I'm really happy with this behavior, it all looks logical to me! I'm very curious to your implementation.

[2018-02-03 15:57] ericman314 commented on #792
Ouch, there's 590 instances of `parseAndEval` in `parse.test.js`. I'll just start with the new tests and go from there.

[2018-02-03 15:59] josdejong commented on #792
No need to replace all, in many cases `parseAndEval` is the right one, I think we should only replace the tests in ''should parse implicit multiplication'', and the new tests you're about to write

[2018-02-03 16:11] ericman314 commented on #792
If you're curious, [here's](https://github.com/ericman314/mathjs/blob/b50d4fe2f1a8115fd5e18aac5b7a3351df6fbccd/lib/expression/parse.js#L925-L1078) my version of `parse.js` that contains the implementation.

[2018-02-03 18:11] ericman314 opened #1035 "Eval error with function and implicit multiplication"
I came across a bug in the last example in the docs for implicit multiplication:

[code]

The output of `console.log(util.inspect(math.parse('sqrt(4)(1+2)'), {depth:100}));`

[code]

The error occurs in the current `develop` branch but *not* the `master` branch.

[2018-02-03 18:59] ericman314 commented on #792
I've submitted the PR but couldn't figure out how to leave package-lock.json alone.

[2018-02-03 19:11] josdejong commented on #1035
That's a good point. this behavior has been there for a long time though (I tried for example v3.10.0). Basically the output of `sqrt(4)` is expected to be a function, which is then invoked with argument `(1+2)`. We can discuss whether this is desirable behavior or whether we want to change it in v4.

Here some example cases that we need to consider then I think:

[code]

[2018-02-03 19:13] josdejong commented on #792
Great! going to review your work immediately.

yeah, package.lock can easily give huge changes or merge conflicts though it looks like it improved with the latest versions of npm. No problem!

[2018-02-03 19:27] josdejong commented on #1035
Thinking about it, it makes sense to make this change. If you want to invoke the output of a function or access a matrix subset, you can always first store the result in a variable, and then use that variable as function or matrix.

[2018-02-03 20:08] josdejong commented on #1033
There is currently no way to customize the way prefixes are selected. Of course you can always overwrite the built-in implementation, which you can find here: [Unit.prototype._bestPrefix](https://github.com/josdejong/mathjs/blob/master/lib/type/unit/Unit.js#L1163-L1210), though these internals may change in future versions of mathjs which would break your adjustment.

Related discussion: https://g

[2018-02-03 20:56] josdejong commented on #1035
@ericman314 I've implemented your idea in #1037.

I think usage as implicit multiplication is more common in maths than immediately invoking a returned function, so this will be an improvement.

What do you think?

[2018-02-03 20:57] ericman314 commented on #1035
You're probably right.

[2018-02-04 10:55] josdejong commented on #792
Implemented via #1036

[2018-02-04 10:55] #792 closed

[2018-02-04 11:02] josdejong commented on #1035
I think it's the best choice, will merge #1037 now.

[2018-02-04 11:02] #1035 closed

[2018-02-04 12:10] josdejong commented on #833
I've dropped constant `uninitialized`. This was mainly used for keeping new entries undefined when resizing matrices. Instead you can use `null` to indicate entries that aren't explicitly set.

[2018-02-04 14:27] josdejong commented on #682
:tada:  I've just released the first release candidate for v4.0.0, you can install this via npm:

[code]

I plan to do the final release of `4.0.0` in about two weeks, but it depends on feedback we'll receive on the release candidate.

[2018-02-04 19:14] josdejong commented on #682
@gizmodus, would you be interested in giving the release candidate of mathjs, `4.0.0-rc.1` a try? I would love to collect some feedback before doing the official release.

And @pjhampton, I'm not sure whether you're still involved in the integration of mathjs in DuckDuckGo, but if so, would it be possible for you to try out the release candidate of mathjs 4 too?

To install:
[code]
A detailed list

[2018-02-04 20:18] josdejong commented on #991
This issue will be fixed in v4 (the first release candidate has been published today)

[2018-02-04 20:21] josdejong commented on #923
This issue is addressed in #1035, will be fixed/changed in v4.

[2018-02-04 20:21] #923 closed

[2018-02-04 20:24] josdejong commented on #926
This issue wasn't yet closed...

[2018-02-04 20:24] #926 closed

[2018-02-05 10:40] faeron commented on #1033
Thank you. I will look into the function you mentioned.

[2018-02-05 10:40] #1033 closed

[2018-02-05 10:42] josdejong commented on #1033
:+1:

[2018-02-05 14:09] ThomasBrierley commented on #997
Sorry, things got critical at work and then I was also sick so haven't made any progress. I'll try to fit some more in this week.

[2018-02-05 14:27] ThomasBrierley commented on #1019
I think might show my ignorance of mathjs here so keep that in mind for my bellow comments.

My understanding of the methods exported by `custom.js` is that they are called when accessing properties but I haven't really dug into the context where that happens, I assumed it was automatically applied to every property.

you could wrap all untrusted identifiers in a class like that below which would

[2018-02-05 14:31] ThomasBrierley commented on #997
I'll carry one with this idea for now and if mike's idea in #1019 becomes the way to go then we can just take the rules and put them in a class instead. Maybe as a separate PR to keep things simple.

[2018-02-05 18:51] josdejong commented on #1019
@ThomasBrierley currently these security functions like `isSafeMethod`, `getSafeProperty`, etc are called in quite some places in the code. In the current solution it is easy to somewhere _forget_ to retrieve a property the safe way. The idea of Mike in https://github.com/josdejong/mathjs/issues/1019#issuecomment-359497833 simply makes it _impossible_ to get an unsafe property unless you're using

[2018-02-05 18:51] josdejong commented on #997
Take it easy, no need to hurry. I have these weeks too, I guess everyone has. :)

[2018-02-05 21:49] ThomasBrierley commented on #1019
Ahh, well that certainly does sound better.

The natural interface for my new implementation is `access(obj, key, mode)`. Where mode is one of `('set', 'get', 'call')`, these modes could be mapped to methods of the `UntrustedIdentifier` class if preferred.

Also "obj" is currently mandatory... would that pose a problem for some identifiers when referencing a global variable of some kind?

[2018-02-06 19:00] josdejong commented on #1019
Sounds good. Maybe a single method with three values for `mode` is a bit abstract? How about an `UntrustedIdentifier` class with three explicit methods on it for the different types? I suppose in case of `'call'` you will also have to pass arguments, and in case of `set` you will have to pass the new value, so these three methods will have a different signature too.

I don't expect so: "global" va

[2018-02-06 19:37] ThomasBrierley commented on #1019
That sounds fine. I can see that from the perspective of actually getting, setting and calling they do have quite different signatures... However from the perspective of purely checking if it's safe it is useful to have a single function with a mode.

I'll carry on with the refactor as planned but expose a new `access` type function from custom.js then migrating away from the guard functions to us

[2018-02-06 19:52] josdejong commented on #1019
Cool, I'm curious how this approach will work out!

[2018-02-12 14:47] jean-emmanuel opened #1038 "SyntaxError when evaluating multiline strings in expression"
It seems the parser chokes on new line characters when parsing string variables:
[code]

[2018-02-12 18:48] josdejong commented on #1038
You have to escape the new line character, like:

[code]

[2018-02-12 18:51] jean-emmanuel commented on #1038
Ok, thanks !

[2018-02-12 18:55] josdejong commented on #1038
:+1:

[2018-02-12 18:55] #1038 closed

[2018-02-14 03:42] lab4quant opened #1039 "question: math.qr() column pivoting, permutation vector?"
Hello

I'm trying to understand the algorithm used in `math.qr()`, is there column pivoting? if not, is there other function to do the same with column pivoting and can produce permutation vector?

thanks!

[2018-02-14 10:52] gizmodus commented on #682
@josdejong: Sorry for my late answer, I was on holiday. Yes of course, we can run our own tests with the new mathjs release candidate. Shall I report our questions / issues in this thread?

I have a question concerning the breaking change of string comparison. One of our main use cases of mathjs is to evaluate boolean expressions with math.eval(). Previously, this was possible:

`"male" == "male"

[2018-02-14 11:02] josdejong commented on #682
Thanks for your feedback @gizmodus . This change in behavior for comparing strings is explained in the [HISTORY](https://github.com/josdejong/mathjs/blob/v4/HISTORY.md) under **"String comparison"**. Basically mathjs now assumes strings contain a numeric value. If you want to compare arbitrary strings, you can use `compareNatural("male", "male")`. Does that help?

[2018-02-14 12:42] gizmodus commented on #682
@josdejong Yes, that helps. Thank you!

[2018-02-14 22:07] HarrySarson commented on #1039
I did not implement column pivoting for the `qr` decomposition :(

If this is a feature you would be interested in adding to mathjs I am sure that Jos would not mind you submitting a pull request :) If you would like help understanding the current implementation of `math.qr` I wrote this function and would be very happy to help.

[2018-02-14 22:11] HarrySarson commented on #987
Currently mathjs is only being tested against node >= 4. Given that this is the case, it might be worth explicitly dropping support for older node version (adding `{ "engines" : { "node" : ">=4" } }` in package.json and maybe a note in the readme) to prevent users being caught out.

[2018-02-14 22:32] HarrySarson commented on #942
@josdejong could you assign this to me? Otherwise I might forget about it again.

[2018-02-14 22:42] ChristopherChudzicki commented on #467
This would be a great feature! I would love it for my project [math3d.org](https://www.math3d.org) which uses MathJS for parsing. For this project I wanted cross product and dot product operators. Currently I pre-process `'a cross b'` to `'a & b'` and have reassigned `OperatorNode.fn` from `bitAnd` to `cross`. This works (since I wasn't using `&` operator for anything) but seems _very_ hacky.

[2018-02-15 03:55] lab4quant commented on #1039
@HarrySarson , thank you for the update. I'm not sure if I can implementation qr with pivoting
I found [this](https://github.com/lballabio/QuantLib/blob/master/ql/math/matrixutilities/qrdecomposition.cpp) c++ version, with pivoting option, but it's really complicated, it's also using other c/c++ code

[2018-02-15 20:25] #1014 closed

[2018-02-18 15:15] josdejong commented on #682
Good news: I managed to rewrite `typed-function` completely such that it doesn't need `eval` anymore, whilst still having comparable performance (!). That was quite a challenge. Still have to work out some details and last issues, it's 90% done at this moment.

This means that math.js v4 will not use `eval` anywhere in the code base anymore :). Hope to release a second release candidate soon.

[2018-02-20 06:38] ceremcem commented on #1030
Is this a `wontfix` till v4?

[2018-02-20 07:06] ceremcem opened #1041 "How to delete/override a unit?"
Since `math.createUnit()` throws an exception when creating a unit multiple times, we should be able to delete a unit.

### Rationale + Proposal

We have a context focused unit: `box`. Item `foo` has 6 items in a box and item `bar` has 10 items in a box.

So we need to make the calculation in their context:

[code]

[2018-02-20 14:16] ceremcem opened #1042 "Unpredictable round-off error with units"
[code]

Why is this happening? How do we prevent such errors when making unit calculation?

[2018-02-20 15:40] josdejong commented on #1030
I would love to fix it but it may require a lot of effort, maybe so much that it isn't worth it given that it will be fixed in v4. I've briefly checked whether I could find a fix, but that wasn't the case. Any help would be welcome.

[2018-02-20 15:48] josdejong commented on #1042
These are... drum roll...  round-off errors due to floating point calculations. You've asked a couple of questions in this regard last days, just look up the links to the documentation that I posted here and there for more information.

When using the expression parser, you can configure mathjs to use BigNumber or Fraction instead of number: Units do support all three numeric types. Or you can rou

[2018-02-20 15:55] josdejong commented on #1041
Thanks, good point!

The class `math.type.Unit` already has a static function `deleteUnit`, we should explose this via a new function `math.deleteUnit`, similar to `math.createUnit`.

I like your idea of passing an optional  `override` property when creating a new unit, for example `math.import` uses the same mechanism.

[2018-02-20 17:27] ericman314 commented on #1041
There is already an override option for defining a new unit:
[code]

[2018-02-21 10:44] josdejong commented on #682
:tada:  I've just released the second release candidate for v4.0.0, you can install this via npm:

[code]

This version contains the rewritten `typed-function` library and the new expression compiler which do not use `eval` anymore. This means that mathjs does not use `eval` under the hood anymore :D .

I hope to do the final release of `v4.0.0` within a week, probably coming weekend.

[2018-02-21 10:47] josdejong commented on #401
@cr It has been a while, but I have some good news. Hadn't expected it to be possible to get there, but the upcoming mathjs v4.0.0 does not use `eval` under the hood anymore. This means that it should be possible to use it in CSP-secured environments :D

v4.0.0 isn't yet released but you can try the release candidate, see https://github.com/josdejong/mathjs/issues/682#issuecomment-367286156 for de

[2018-02-21 10:48] #1023 closed

[2018-02-21 10:55] josdejong commented on #1019
I will close this issue now: mathjs v4 is completely `eval`-free :smiley: I hope to release the final version within a week.

Until a month ago I hadn't dare to dream about getting this far. @mikesamuel thanks for triggering this whole discussion. I'm afraid you will have to rewrite the comments on the usage of eval in mathjs in your Security Roadmap to past perfect :grimacing:

See https://github

[2018-02-21 10:56] josdejong commented on #1041
LOL I should have checked that beforehand, sorry.

@ericman314 How do you think about exposing `math.deleteUnit`? I think that makes sense, that way you have a "complete" API which allows to cleanup everything you added.

[2018-02-21 10:59] josdejong commented on #987
Thanks @harrysarson , good point. I've fixed that in the develop branch

[2018-02-21 10:59] josdejong commented on #467
Thanks for sharing you workaround @ChristopherChudzicki

[2018-02-21 12:10] josdejong commented on #1039
@lab4quant I will mark this as feature request ok?

[2018-02-21 12:19] josdejong commented on #942
@harrysarson  Sure! If you are willing to become a collaborator on the project :smiley:  I've send you an invitation. Can you share me your email too privately (you find mine on my profile page)?

[2018-02-21 13:35] harrysarson commented on #942
Yep have done :)

[2018-02-21 14:04] ericman314 commented on #1041
Absolutely. I will try to get to it this week.

[2018-02-21 14:05] DanVeira commented on #1042
[code]

Output: 45239010.00000001

What am I doing wrong? I'm honestly losing my damn mind with this, its been 2 days and I still don't know how to work with big numbers in NodeJS. In PHP I just use the bcmath library and it's done.

[2018-02-21 14:12] josdejong commented on #1042
Sorry for the confusion here @DanVeira . Unfortunately, the `{number: 'BigNumber'}` setting only applies to numbers created using the expression parser ([see docs](http://mathjs.org/docs/core/configuration.html)). mathjs does not numeric change inputs passed to individual functions.

See related discussion here: https://github.com/josdejong/mathjs/issues/864

[2018-02-21 14:24] ericman314 commented on #864
I'm jumping in late in the discussion, but I agree that regular numbers should be converted to BigNumbers automatically. Is this something `typed-function` can do?

[2018-02-21 14:32] #1019 closed

[2018-02-21 14:34] josdejong commented on #864
I don't have a clear idea how we could best tackle this challenge, but I indeed think that this may be something we can solve by extending typed-function with capability to do preprocessing of inputs depending on dynamic configuration.

[2018-02-21 14:47] mikesamuel commented on #1019
@josdejong Awesome.  Best reason to have to do a rewrite.

[2018-02-21 15:11] naeco33 opened #1043 "Add units mcd and t (tonne)"
Hi,

I discovers that
math.unit("3mcd");
do not work, Normally, it exist, but i have the error  "SyntaxError: Unit \"mcd\" not found.".

And
math.string(math.unit("3tonne")); : "3 tonne"
but
math.string(math.unit("3t")); :  "SyntaxError: Unit \"mcd\" not found.".

Best regards

[2018-02-21 16:58] josdejong commented on #1043
Thanks for your suggestions!

[2018-02-21 20:16] harrysarson commented on #1043
The unit `mcd` would class with `mili candela` possibly?

[2018-02-21 20:16] DanVeira commented on #1042
@josdejong What would you do in my case? I receive decimal numbers up to 8 decimal places from a websocket and I need to work with them. It needs to be seriously fast too.

I'm at a point where I'm thinking of giving up on NodeJS and use something else because it's pathetic that I can't even get basic arithmetic operations to work.

Thank you.

[2018-02-21 20:44] josdejong commented on #1042
@DanVeira you sound frustrated, keep breathing ;)

What sort of operations do you need to do?

If you just need to do some basic operations with bignumbers, you could simply us [decimal.js](https://github.com/MikeMcl/decimal.js/) directly, this library is used by mathjs under the hood. If you need dynamic expression parsing with bignumbers or need specific functions available in math.js, well, the

[2018-02-21 20:45] josdejong commented on #1042
o, and if you need *fast* performance it will make a lot of difference if you could simply use regular numbers instead of BigNumbers, calculations with BigNumbers are way slower than with simple numbers. But well that depends on your use case.

[2018-02-21 22:10] naeco33 commented on #1043
yes exactly :)

Le 21 févr. 2018 21:16, "Harry Sarson - notifications@github.com"
<github.naeco.2d084a3543.notifications#reply@reply.github.com> a écrit :

[2018-02-21 22:22] harrysarson commented on #1043
So a `mcd` is meant to be a milli candela?

[2018-02-21 22:28] ceremcem commented on #1041
@ericman314  Let's put this here as a live example for future readers: http://jsbin.com/dimayikimu/edit?html,output

The `{override: true}` solves my current problem. For cleanup purposes, `math.deleteUnit` would be great to have.

[2018-02-21 22:41] ceremcem commented on #1042
The problem I mentioned is, the number part should stay intact whether you use units or not. For example, if:

[code]
I would expect:
[code]

My point is, the problem here is not about the results (the number part), it's about inconsistencies between a simple calculation and a calculation with unit.

[2018-02-21 23:48] ericman314 commented on #1042
@ceremcem, math.js performs more calculations than is immediately apparent when handling units. In your first example at the top of this thread, `2999999 + 1` is evaluated using integer arithmetic which gives an exact answer. With `2999999 g + 1 g`, however, math.js first converts each unit to an SI basis, `kg`, before evaluating. So internally, the actual calculation is performed like this:

1. C

[2018-02-22 01:35] bornova opened #1044 "Unexpected result with "in" operator during unit conversion"
Hi,
If I don't include the unit to convert to after the "in" operator, I get some unexpected results:

`math.eval("2 liter in")` returns `61.023744094732294 in^4`
or
`math.eval("2 km in")` returns `39370.07874015748 in^2`

This maybe a trivial issue as you wouldn't do a conversion like that.  However, I have an application where I evaluate and print the answer as I type the expression and it will

[2018-02-22 01:41] ericman314 commented on #1044
This is because `in` is also an alias for inch, but its use as an operator to convert units goes back to the early days of the library. To avoid ambiguities, I personally always use `to` in my expressions.

[2018-02-22 07:24] lab4quant commented on #1039
@josdejong , thanks a lot!

[2018-02-22 08:51] josdejong commented on #1043
Yes, see also https://www.wikiwand.com/en/Candela

[2018-02-22 12:56] naeco33 commented on #1043
When i bought some LED for my electronics project, the value is always write as :
Diamètre = 3mm
Tension / Voltage = 1.8 - 3.4V
Consommation = 20mA - 30mA
Color = 460-465nm
4500-5500mcd
30 degree
exemple : http://www.ebay.fr/itm/LED-Verte-3mm-lot-de-100-500mcd/350277858979?hash=item518e2ff6a3:g:k2wAAMXQvTlRh3yL

[2018-02-23 09:48] robinjac commented on #960
I have not tried R or math.js that much but I've been reading a lot about data science lately and have similarly been interested in using java script as my language of choice. Java script has many advantages compared to the other script languages and actually performs better then python in many cases. The only place it falls short at the moment is the actual number crunching and the reason is that

[2018-02-23 10:29] josdejong commented on #960
Thanks for your input @robinjac. Yeah I would love to improve the performance of mathjs too :D

[2018-02-23 14:48] QuantumInformation commented on #960
Maybe you should look into collaborating with deeplearnjs, they are high perf.

[2018-02-24 13:01] josdejong commented on #960
Yes definitely. There are a couple of libraries that could be interesting to integrate, like ndarray.

[2018-02-24 13:16] josdejong commented on #960
Or look into GPU powered solutions, see http://gpu.rocks/

[2018-02-24 13:17] josdejong commented on #960
Anyone interested in looking into better performing matrix implementations for math.js?

[2018-02-24 16:31] gizmodus commented on #682
@josdejong We updated to RC2 and ran our own tests without any problems. The memory issue is also gone as expected. Thanks a lot for this great library!

[2018-02-25 12:55] josdejong commented on #682
Thanks for the feedback @gizmodus, good to hear !

[2018-02-25 13:11] #680 closed

[2018-02-25 13:11] #833 closed

[2018-02-25 13:53] josdejong commented on #682
v4.0.0 is officially released now, enjoy! :D

[code]

The changes are listed on the History page: http://mathjs.org/history.html#20180225-version-400

[2018-02-25 13:55] #682 closed

[2018-02-25 13:56] josdejong opened #1045 "Breaking changes for v5"
We'll collect any breaking changes we want to do in this issue.

- [x] More consistent behavior of sqrt, nthRoot, and pow. See #851, #1060
- [x] Change transpose operator `A'` to calculate `ctranspose`, see #1094, #1097
- [x] Rename `math.eye` to `math.identity`. See #1054
- [x] Upgrade (breaking) dependencies
- [x] Drop the `dist` folder from the git repo. This was needed for bower support, but b

[2018-02-25 15:57] josdejong commented on #991
This should be fixed now in v4

[2018-02-25 15:57] #991 closed

[2018-02-25 15:58] josdejong commented on #1024
This should be fixed now in v4, can you give that a try @LloydLS ?

[2018-02-25 15:58] #1024 closed

[2018-02-25 15:59] josdejong commented on #830
mathjs v4 is released today, containing the improved handling of `null`.

[2018-02-25 15:59] #830 closed

[2018-02-25 16:01] josdejong commented on #353
The default behavior of `null` is changed now in v4: `null` is not implicitly converted to `null` anymore. See also #353

[2018-02-25 16:01] #353 closed

[2018-02-25 16:02] josdejong commented on #676
mathjs v4 is released now, closing this issue.

[2018-02-25 16:02] #676 closed

[2018-02-25 16:03] josdejong commented on #833
This has been adressed in v4

[2018-02-25 16:05] josdejong commented on #690
toHTML has been implemented for a while now, this issue can be closed.

[2018-02-25 16:05] #690 closed

[2018-02-25 16:08] josdejong commented on #1030
Mathjs `v4.0.0` has been released which doesn't suffer from this memory leak.

Let's keep this issue open for a while without high prio: it will probably take a lot of time to fix. If people can seamlessly upgrade to v4, and v3 is retired soon, it may not be worth putting in much effort. Let's see.

[2018-02-25 16:11] #1009 closed

[2018-02-25 16:13] #972 closed

[2018-02-25 16:13] #984 closed

[2018-02-25 16:13] #924 closed

[2018-02-25 16:19] josdejong commented on #857
I think this has been resolved in mathjs v4. Feel free to reopen this issue if that's not the case.

[2018-02-25 16:19] #857 closed

[2018-02-25 16:20] #863 closed

[2018-02-25 16:20] #820 closed

[2018-02-25 16:22] #668 closed

[2018-02-25 16:24] #753 closed

[2018-02-27 10:26] LloydLS commented on #1024
Hi Jos,

Looks good, thanks!

[2018-02-28 15:51] enil42 opened #1047 "Cloudflare production 4.0 links are broken"
On: http://mathjs.org/download.html

http://cdnjs.cloudflare.com/ajax/libs/mathjs/4.0.0/math.min.js

is returning a 404.

[2018-02-28 19:06] AlexMouton opened #1048 "Typed matrix dimensions?"
Hi Jos, et al.
Is there a way for me to enforce the dimensionality of a matrix in a typed function?
I am interested in specifying vectors/positions specifically, and would rather not have to check those repeatedly.

I see theres a hot new version, so excuse me if this is now dated.

Thanks
Alex Mouton

[2018-02-28 20:14] josdejong commented on #1047
Thanks for reporting! Looks like it works again, not sure what it was.

I've now replaced the cdnjs links with unpkg - right after a new version is deployed, it always takes a while before the new version is available on cdnjs whilst unpkg is directly available.

[2018-02-28 20:14] #1047 closed

[2018-02-28 20:32] josdejong commented on #1048
That's an interesting question. There is no provisioning in `typed-function` to specify the size of a matrix, but you could introduce a new datatype yourself for this, something like:

[code]

Would something like that work for you?

[2018-02-28 20:40] petermarks12 opened #1050 "How to check if unit already exists?"
Hi,

I have created a custom unit using math.createUnit().  Now, I want to check if that unit exist or not, so that I should not end up creating same unit again.

Is there any way to retrieve list of all units, so that I can verify this?

[2018-03-01 15:57] hyzhak opened #1051 "Can't compare string with anything"
version
[code]
Strings comparison doesn't work for strings:
[code]
return error:
[code]

[2018-03-01 16:11] hyzhak commented on #1051
I've just tried old mathjs@3.20.2 version and it works for examples noted above

[2018-03-01 16:20] josdejong commented on #1051
That's correct, the behavior of comparing strings has been changed in v4, see history: http://mathjs.org/history.html#20180225-version-400 -> "String comparison"

[2018-03-01 16:59] dave11mj opened #1052 "math.round() returns wrong value"
### Given
`math.round(1.649, 1)`

### Expected
`1.7`

### Actual
`1.6`

[2018-03-01 17:25] hyzhak commented on #1051
@josdejong  ok, does it mean that we no longer can use textual expressions like?:
[code]

[2018-03-01 18:07] grondilu opened #1053 "wrong factory example in extension.md?"
In docs/core/extension.md, the factory example is :

[code]
That can't be right.  "return foo(args) { ... }" is not a valid syntax.

Was it instead

[code]
?

or
[code]

?

[2018-03-01 19:12] josdejong commented on #1051
That's correct, the alternative is explained in the history http://mathjs.org/history.html#20180225-version-400:

For most functions it's a nice improvement that you can enter text containing values, like `math.sqrt('4')` and `math.multiply('2', '4')` works now. In some cases like comparing strings lexically it's more verbose now to compare strings. Since math.js is about maths, we think the main

[2018-03-01 19:12] AlexMouton commented on #1048
I think so. Ill give it a try.
Thanks
A

[2018-03-01 19:13] josdejong commented on #1052
`math.round` rounds to the nearest integer so the `1.6` output is actually expected output. `math.round(1.651, 1)` would round to `1.7`.

[2018-03-01 19:14] AlexMouton opened #1054 "Rename 'eye'"
Just a vote here to rename this to 'identity'.
Two reasons, Identity is ubiquitous, and an 'eye matrix' can be confused for a view/projection/look-at matrix in graphics environments.

[2018-03-01 19:20] josdejong commented on #1053
Thanks! Fixed via 9bb441b

[2018-03-01 19:31] AlexMouton opened #1055 "Access to scope from imported functions?"
Hi Jos
Just another thought.
Can I access the scope from these functions I have imported into mathjs?
My circumstances may be a bit left-field, but I'd like to produce some side effects, but I don't have an opportunity to close over Scope when these functions are created.

I have a working pattern where I return a signal structure from the evaluation of the function, and collect those after evalua

[2018-03-01 19:32] dave11mj commented on #1052
Cool ! :D .. we actually had a good debate on the different ways of rounding, and I can see why that is the expected result. ^^

[2018-03-01 19:32] #1052 closed

[2018-03-01 19:35] josdejong commented on #1052
:+1:

you also have functions like `floor`, `ceil`, `fix` if you want different rounding, only these functions do not (yet) support passing a number of digits like `round` (see #894)

[2018-03-01 19:35] josdejong commented on #1052
Sorry I mean #1021

[2018-03-01 19:38] josdejong commented on #1055
Maybe what you're looking for is custom argument parsing using the `rawArgs` property?

http://mathjs.org/docs/expressions/customization.html#custom-argument-parsing

[2018-03-01 19:42] josdejong commented on #1054
Thanks for your suggestion. I think `eye` is quite common too and used in various math applications. I'm open to discussing renaming the function to `identity` which is indeed more clear.

At least it's very easy to create an alias `identity` for your self and use that instead of `eye` if you want :)

[2018-03-01 19:55] jaaneh opened #1056 "Ways to get around having to encode expressions in the URL in REST API?"
Hey there,

Using the API, I noticed that it doesn't like addition (+) and returns an API Error.

Example: http://api.mathjs.org/v4/?expr=1+1

I know it has to be url encoded, and %2B works fine, but are there any way to get around this? I know / works instead of %2F

Thanks!

[2018-03-02 08:05] josdejong commented on #1056
Well, it's simply that the url has to be encoded, you can't get around it. The only way not to have to use encoding is using the POST request instead of GET: in that case you can put your expressions in the request body in JSON format.

[2018-03-02 09:11] hyzhak commented on #1051
@josdejong Thanks! My goal was to use mathjs in my middleware extension for comparison wide variety of fields (strings or numbers). But with `compareNatural` it won't work. And thanks for the hint! I'm going to take a look whether I can overwrite ("wrap") default behaviour for `==` function (https://github.com/josdejong/mathjs/blob/master/lib/function/relational/equal.js).

[2018-03-02 10:40] cr commented on #401
Congrats, @josdejong, that's a major accomplishment for the project! 👍

And thanks for letting me know. I'll definitely check it out for the next RPN calculator project.

[2018-03-02 14:11] josdejong commented on #1051
yes that should be very easy:
[code]
or something like that :)

[2018-03-02 15:47] jaaneh commented on #1056
Exactly what I was looking for. Cheers!

[2018-03-04 11:30] jean-emmanuel opened #1057 "Print function could receive array"
It seems that `print` could also accept Array as its value argument, couldn't it ?

[2018-03-04 11:52] josdejong commented on #1057
I'm not sure what you mean, can you elaborate? Which function print do you mean? What not simply try out whether it works?

[2018-03-04 11:57] jean-emmanuel commented on #1057
Sorry, I mean this function : https://github.com/josdejong/mathjs/blob/d7d25e83c835c3f060bff2e26e293710b61fc32b/lib/function/string/print.js#L56
It only accepts plain objects and throws when `values` is an array, although it seems this code could just "work" with arrays too.

[code]

[2018-03-04 13:13] jean-emmanuel commented on #1057
#1058

[2018-03-04 14:27] josdejong commented on #1057
Ah, I get it. I think it's will be a nice extension of `print`, thank for your suggestion.

[2018-03-04 14:31] josdejong commented on #1050
Hm, you could use `math.type.Unit.isValuelessUnit('cm')` I think.

[2018-03-05 07:59] #1056 closed

[2018-03-05 21:41] Yatoom opened #1059 "Unhelpful error message for non-intersecting lines"
I used the `math.intersect()` method to determine whether two line segments intersect. However, I found two line segments that are not intersecting, and I still got an answer.

[code]
This is the output of the script above:
[code]

Wouldn't it be nice if it would return `false` if the line segments do not intersect?

[2018-03-05 21:51] ericman314 commented on #1059
The lines in your example do in fact intersect.

However, the function does return a useless error when two non-intersecting lines are provided. The function should instead return a more helpful error, so I've labeled this as a bug.

[2018-03-05 22:04] Yatoom commented on #1059
I thought the lines would look like this:
![](https://i.imgur.com/eCsoopx.png)

[2018-03-05 22:05] FSMaxB commented on #1059
That are not lines but line segments. `intersect` intersects the entire lines.

[2018-03-05 22:06] Yatoom commented on #1059
Ah that makes sense. Thanks!

[2018-03-05 22:29] FSMaxB commented on #1059
Essentially to get the intersection of two line segments, you have to check if the intersection point is on the two segments, therefore being inside of the two rectangles that are defined by the endpoints of the segments.

The x coordinate of the intersection needs to be between the x coordinates of line segment endpoints respectively. Same for the y coordinates.

[2018-03-05 22:37] ericman314 commented on #1059
Aha, I understand now. If you think a corresponding `intersectSegment` function or even an option such as `intersect(..., { segment: true } )` might be useful we can open another issue.

[2018-03-07 19:00] dakotablair commented on #851
I have submitted a patch for this (#1060), but let me know if there are any other changes you'd like to see.

[2018-03-07 20:14] josdejong commented on #851
Thanks @dakotablair , I will look into it soon, hopefully coming weekend.

[2018-03-13 11:51] XeniaSiskaki opened #1061 "Support for unit 1/x"
Currently a unit like `1/K` isn't acceptable and has to be manually converted to `K^-1` before creating the unit.

This currently works in the [Math notepad](http://mathnotepad.com/) and can partially work in mathjs with:

`var x = math.eval('1/K')`
`x.equalBase(math.unit('K^-1')) // => true`

Would it be possible to add support for such units?

[2018-03-14 12:06] jean-emmanuel opened #1062 "Typed-functions breaks mathjs for iOS 9.3"
https://github.com/josdejong/typed-function/blob/master/typed-function.js#L1096
This throws `TypeError: Attempting to change value of a readonly property.` thus preventing mathjs to load.
Tested with iOS 9.3 (can be reproduced with desktop safari 9.1).

[2018-03-14 16:44] josdejong commented on #1061
Thanks for your input Xenia. It's not yet clear to me what you mean exactly, you can already use `1/K` both in calculations as well as when defining a new unit. What are you missing exactly?

[2018-03-14 16:50] josdejong commented on #1062
Thanks for reporting this issue!

It should be easy to make a fallback for older browsers and browser that don't allow replacing a function name, will look into it within a few days.

[2018-03-14 17:00] XeniaSiskaki commented on #1061
Doing `math.unit('1/K')` throws an `Uncaught SyntaxError: Unexpected "/" in "1/K" at index 1`

[2018-03-14 17:47] blackdynamo commented on #1062
I am also seeing this on older android versions. Threw me for a loop cause didn't have a clue where the error was coming and it's just including the mathjs@4.0.0 release.

[2018-03-15 04:59] ericman314 commented on #1061
The `Unit` constructor invoked using `math.unit` uses a very simple parser that can only understand certain expressions. Evidently, "number divided by unit", such as `1/K`, is not one of them. We could probably add support for that if necessary. (Curiously, `1 K/K^2` _is_ supported.)

Although using `math.unit` directly is faster, you can achieve the same results using `math.eval('1/K')`, which gi

[2018-03-15 08:21] XeniaSiskaki commented on #1061
Thanks for your quick input! We will go with `math.eval` until this is fixed (if ever).

[2018-03-15 22:47] luiscarbonell opened #1063 "math.derivative() throws unreasonable TypeError"
__OS:__ Ubuntu 16.04
__Node.js Version:__ v8.10.0

Node.js Code:

[code]

Error thrown:

[code]

===

Note that all other terms in the typed function are accurately derived and do not throw any errors.

[code]

[2018-03-16 06:40] arnog opened #1064 "eval() on a node returns a 'number' regardless of config options"
When invoking `eval()` on a node, the result is reduced to a number, even when the config has been set to use `'BigNumber'` or `'Fraction'`.

In the code below, I would expect all 3 calls to return a BigNumber object. The workaround is to convert the node to a string, then evaluate the string.

[code]

[2018-03-16 11:47] josdejong commented on #1064
The `number` configuration is only used when _creating_ a new number somewhere, like when parsing/evaluating an expression from a string such as `"1/3"`. The configuration is _not_ applied when you create ConstantNodes with some value yourself, or when calling a function with numeric input like `math.add(2, 3)`.

[2018-03-16 14:12] hyzhak commented on #909
ok, I have tried:
[code]
and got:
[code]
it seems this feature is not supported yet. Am I correct? I'm looking for support of hexadecimal because I'm getting a raw expression from a user and it could have hexadecimal numbers. So support of hexadecimal would be very helpful :)

[2018-03-16 15:15] ovk commented on #909
As far as I know, this issue is not addressed yet.

For my project that is based on MathJS I just used some pre-processing to "support" hex and binary literals. It is ugly workaround, but it works: [example](https://clcalc.net#eyJjIjpbIjB4ZmFjZTEyMzTCoCvCoDBiMTEwMS4xMTAwIl0sInYiOiIxIn0=)

[2018-03-16 15:23] hyzhak commented on #909
@ovk big thanks for your support!

[2018-03-16 15:56] kisonecat commented on #566
There is a fromLatex parser in https://github.com/kisonecat/math-expressions which @dqnykamp and I are working to improve (and connect with MathJS).

[2018-03-16 16:22] arnog commented on #1064
Ah, I see. Re-reading the docs, it indeed says that. So a fix would be to pass a BigNumber to the node constructor:
[code]

Thank for the quick response!

[2018-03-16 16:22] #1064 closed

[2018-03-17 02:45] javazen commented on #1063
I have what looks like a similar issue. In 4.0.0, when I call:
     math.derivative("1 - (-B)","B"); // with or without {simplify:false}

This error is thrown:
Uncaught TypeError: Unexpected type of argument in function _derivative (expected: OperatorNode or ConstantNode or SymbolNode or ParenthesisNode or FunctionNode or FunctionAssignmentNode, actual: undefined, index: 0)

When stepping thru, li

[2018-03-17 12:25] josdejong commented on #566
Cool @kisonecat ! Thanks for sharing. Will be interesting to see if/how we can connect this to mathjs

[2018-03-17 12:37] josdejong commented on #1061
@ericman314 we should indeed be careful not to built an entire expression parser in the unit parser.

The current unit parser already has support for divisions like `5 m/s`, it only doesn't handle a case like `1 / s` correctly where the division is right after the number, so I think this is simply a bug that we should solve.

[2018-03-17 13:02] josdejong commented on #1061
this should be fixed via https://github.com/josdejong/mathjs/commit/b00e0b7460e1d7165dfe83b6de7d23a04ca2bd42 (currently in the develop branch)

[2018-03-17 13:06] ericman314 commented on #1061
Agreed. Thanks for fixing that.

[2018-03-17 19:35] #1053 closed

[2018-03-17 19:35] #1061 closed

[2018-03-17 19:35] #1062 closed

[2018-03-17 19:49] josdejong commented on #1062
This should be fixed now in v4.0.1

[2018-03-18 01:39] jean-emmanuel commented on #1062
Thanks a lot !

[2018-03-19 08:50] arnog opened #1065 "compare() and compareNatural() behave unexpectedly."
The doc for `compareNatural()` indicates:

However, the following results are returned:

[code]

I would have expected the output from both functions to be identical (namely, 0).

[2018-03-19 10:05] josdejong commented on #1065
You're comparing a number and a string, and string inputs are handled differently by `compare` and `compareNatural` differ: `compare` changes string input to a number and compares the values then, where as `compareNatural` compares strings lexically.

[2018-03-19 13:27] LloydLS opened #1066 "size() mismatch of 2D matrix generated using .map()"
Hi,

size() of 2d matrix returns array with two elements:
[code]

whereas, size() of 2d matrix generated via .map() returns array with only one element:
[code]

Is this a bug, I expected them to be the same? Present in v4.0.1 and v3.x

Thanks,

[2018-03-19 19:38] husayt opened #1068 "how to use with algebra.js"
[Algebra.js](https://github.com/nicolewhite/algebra.js) allows solving many equation types very nicely and has a similar expression tree and parsing. Would be great to be able to integrate with math.js like we do with numbers.js.

How could this be done?

[2018-03-19 19:54] husayt opened #1069 "Add extensions list to the website"
I noticed there are extensions being built for math.js. Would be great to list them in a separate section on the website.

* numbers.js
* numeric.js
* [Simple integral](https://github.com/joelhoover/mathjs-simple-integral)
* [math.diff.js](https://github.com/hausen/math.diff.js)

and even some nonstandard ones:

* https://github.com/shauns/postcss-math
* https://github.com/otm/svg.math.js

[2018-03-19 20:03] husayt commented on #1015
@joelhoover @josdejong this is great stuff indeed. Would be really amazing to closely "integrate" with math.js as suggested.

[2018-03-19 20:26] josdejong commented on #1068
Yes indeed, Algebra.js is a great initiative. So far it's simply two parallel paths. I don't know if/how we could join forces.

In #442 we shortly discussed together with the creator of Algebra.js but that did not result in anything so far.

If anyone is interested in picking this up to see if there are possibilities just let me know.

[2018-03-19 20:53] husayt commented on #442
@NicoleWhite math.js now has solid derivative and simplify implementations, algebra.js integration would be great. Algrbra.js could also benefit from very strong expression tree,  toLatex and other features of math.js.
Thanks for great work

[2018-03-19 21:04] josdejong commented on #1064
Yes that's correct @arnog

I've tried to improve the docs on the `number` configuration, see this commit: https://github.com/josdejong/mathjs/commit/c5fb3bcbc5e6f020c98936eba19abb9483cf54d4. I hope this will help others with the same questions as you.

[2018-03-19 21:13] josdejong commented on #1066
Ah, that's an interesting one. The result of the map is a 1d matrix containing 1d matrices, rather than a single 2d matrix.

I have to think a bit about whether it would be logic/desirable/possible to turn the return values of a map into a multi-dimensional matrix in case there are arrays returned. This can get complicated very easily though. What to do with an input like `b = [0,1,2].map( f(x,i,a

[2018-03-20 09:23] LloydLS commented on #1066
Thanks Jos,

To give some context of what I'm using this for, I want to generate a set of x, y coordinates that I can pass into a function that will return z coordinates; example (a 3d Gaussian):

[code]

Thanks again!

[2018-03-20 11:02] XeniaSiskaki commented on #1061
Thanks!

[2018-03-20 14:18] gdarai opened #1070 "array input for math.add"
Hi, nice library,
Correct me if I am wrong...
I just saw that you don't support array of Matrices as input for the math.add function.
So I have to use:
```reduce(ARRAY, (sum,M)=>math.add(sum,M), math.zeros(size));```
instead of plain
```math.add(ARRAY)```
It would make things much more readable so take this as a suggestion for a possible enhancement and keep the great work, thanks.

[2018-03-20 18:21] josdejong commented on #1070
There is a `math.sum`, that may help?

[2018-03-21 09:22] XeniaSiskaki opened #1072 "No prefix support for bar"
Would it be possible to add the short prefixes for `bar`? We are in need of using `mbar`

[2018-03-24 10:59] josdejong commented on #1072
Yes sure. Just thinking I guess then we should allow both short and long prefixes on the unit bar? Like `millibar` and `mbar`?

[2018-03-24 11:30] XeniaSiskaki commented on #1072
Well, it's up to you!

[2018-03-24 11:31] josdejong commented on #1066
I think the underlying issue here is that the expression parser does not support scripting (like for loops), and you're really operating on the edge of what you can do with single line functions/expressions. It would be great to extend the expression parser of course but that will not be overnight.

I think a neat workaround to solve the original issue of having a matix containing matrixes is:

[c

[2018-03-24 11:49] josdejong commented on #1063
Thanks for the many examples, especially the very short one @javazen , that makes it easier to pinpoint the issue easier.

The code at line 26035 going to the generic function is not the cause of the issue, this is simply `typed-function` which tries to find a matching signature for a function call in two stages, first a fast one (0-5) and then an generic one (remaining signatures, empty if you ha

[2018-03-24 11:53] josdejong commented on #1072
ha ha yeah of course

This is one of the first units that needs both short and long prefixes at the same time, most units have an abbreviation (like `kilometer` and `km`, but no `kilom`), so this is sort of a unique case.

[2018-03-26 11:15] LloydLS commented on #1066
Thanks Jos, that works well!

[2018-03-26 19:06] dalestone opened #1073 "reference error on click for live demo"
![reference_error](https://user-images.githubusercontent.com/3886432/37927130-1d67246a-3131-11e8-9300-c60d6a24ffb3.gif)

[2018-03-26 21:14] harrysarson commented on #1073
Confirmed this is a bug. Seems like the code is trying to fetch the function-plot library from https://wzrd.in/ which is down.

[2018-03-28 19:13] lgomez opened #1075 "Selecting ranges relative to unit"
Hello all,

This may be simply my limited experience working with matrices but perhaps someone can point me in the right direction or provide an example that helps me understanding this.

I'd like to perform calculations on matrices using ranges relative to a unit. For example, given a matrix where I have dates (in this case days) on the Y axis and values on the X axis, I need to calculate  moving

[2018-04-02 00:53] zzc-tongji opened #1076 "Fail to import mathjs to React VR."
Get more information from https://github.com/facebook/react-vr/issues/453.

[2018-04-02 08:32] josdejong commented on #1066
:+1:

[2018-04-02 08:32] #1066 closed

[2018-04-02 09:14] josdejong commented on #1069
@husayt thanks, good point. I've extended the "extensions" section on the downloads page, and added a new section "other math libraries"

http://mathjs.org/download.html

I don't think svg.math.js is using math.js so I didn't add this one.

[2018-04-02 09:14] #1069 closed

[2018-04-02 09:57] josdejong commented on #1075
You can indeed implement such an `ma` function and import it in mathjs. The implementation of your `ma` function depends a bit on how you want to create this moving average: per row? I guess some plain and simple JavaScript with for loops and stuff will be easiest there.

The notation with subset, index, range is indeed rather cumbersome though you have to write it only once. You could also look i

[2018-04-02 11:26] yogeshborad commented on #601
Just hit the command:

[2018-04-02 14:22] josdejong commented on #601
good point @yogeshborad I suppose that this issue is resolved in math.js v4, since there `new Function` isn't used anymore?

[2018-04-02 17:58] lgomez commented on #1075
I see. Yes, I think deep down I was hoping to be able to use or implement something that came closer to range selection like one would do them in spreadsheets lol. I started hacking away last night on this. Will share if i get to anything useful.

By the way, is there a way to get metadata about a unit gotten from a matrix? For example, if I were to use `.get()` to grab a value from a matrix, is t

[2018-04-02 18:12] josdejong commented on #1075
Well, there is: you can use the expression parser which makes life easier when working with matrices and range, like simply doing `M[i, :]` to get row `i`. See docs: http://mathjs.org/docs/expressions/syntax.html#matrices (mind you the expression parser is one-based)

If you get some value from a matrix, the value itself does not know anything about where it came from. If you need something like t

[2018-04-02 18:52] lgomez commented on #1075
Understood. Thank you!

[2018-04-02 18:52] #1075 closed

[2018-04-02 20:26] dqnykamp opened #1077 "JSON reviver doesn't deserialize nodes correctly"
The JSON reviver math.json.reviver is not deserializing nodes correctly.
Example:
[code]
It seems like x2 is composed of vanilla Javascript objects rather than nodes.  Omitting the reviver completely achieves the same result, as demonstrated with underscore.

[code]

[2018-04-03 12:19] yogeshborad commented on #601
Yes, sorry for that. This issue is only resolved in math.js v4. Thanks to @josdejong  for reminding and correcting to me.

[2018-04-03 17:59] josdejong commented on #601
Good to hear, thanks for the confirmation Yogesh.

[2018-04-04 08:45] josdejong commented on #1077
Thanks for reporting, nodes are indeed not supported in serialization/deserialization. We should definitely add this. Same holds for the `ResultSet` class I think (result of multi line expressions like `math.eval("a=1\nb=2")`.

[2018-04-04 18:37] g1fa opened #1078 "Doco error on matrix page (multiplication)"
matrix markdown doco contains an error:

// multiply an array with a matrix
var c = [[2, 0], [-1, 3]];                // Array
var d = math.matrix([[7, 1], [-2, 3]]);   // Matrix
math.multiply(c, d);                      // Matrix, [[14, 2], [-13, 8]]

should be (and mathjs calculates to):

// multiply an array with a matrix
var c = [[2, 0], [-1, 3]];                // Array
var d = math.matrix([[

[2018-04-04 19:02] josdejong commented on #1078
I'm not sure whether I understand your point, when I evaluate this code, it evaluates to `[[14, 2], [-13, 8]]`, the same as the comments say so it looks like the documentation is correct, right? I also calculated the result by hand and on wolframalpha, and the result looks correct.

[2018-04-08 18:30] josdejong commented on #1077
Should be fixed now in `v4.1.0`

[2018-04-08 18:30] josdejong commented on #1016
Should be fixed now in `v4.1.0`

[2018-04-08 18:31] josdejong commented on #1072
This is fixed now in `v4.1.0`

[2018-04-09 18:47] asilvas opened #1079 "linspace"
There seems to be nothing that truly emulates this behavior. Similar topic https://github.com/josdejong/mathjs/issues/61

I can kinda hack it with `math.range` but it's pretty hacky to get the exact matrix size you desire.

[2018-04-09 18:50] josdejong commented on #1079
Thanks for the suggestion.

Anyone interested in implemented `linspace`?

[2018-04-09 18:52] asilvas opened #1080 "Numpy mappings"
Would be mighty handy to have a doc (or update existing [functions doc](http://mathjs.org/docs/reference/functions.html)) that shows the functional equivalents of Numpy, being it's so widely used. I get that not everything is a one-to-one, or that some stuff is even possible, but it would go a long ways towards helping those like myself trying to port over large or complex Python code. As an added

[2018-04-10 19:17] javazen commented on #1068
I did some experimentation with algebra.js in conjunction with math.js. I found a couple of limitations that prevented me from going further with it:
1) algebra doesn't seem to parse functions: new algebra.parse("2*abs(x)").toString() -> "2absx"
2) algebra doesn't parse expressions with a variable in the denominator, e.g. 1/x

I don't see how I can get around these limitations, as much as I would

[2018-04-11 11:01] josdejong commented on #1080
Thanks for your suggestion Aaron, such a tutorial and/or reference document helping people coming from python to see how things work in mathjs can be very helpful indeed. Maybe the same holds for people coming from Matlab/Octave.

Anyone interested in picking this up?

[2018-04-11 11:05] josdejong commented on #1068
Thanks for sharing your experiences. Algebra.js and math.js are currently two separate worlds, would be great if they could strengthen each other.

[2018-04-11 11:30] #1063 closed

[2018-04-11 11:43] josdejong commented on #1063
I found an even simpler expression to replicate the issue: `math.derivative('-x', 'x')`, and have fixed it in https://github.com/josdejong/mathjs/commit/229ff3d8ff741dade140338acc0fe43a73d3e0ed.

Should be fixed now in `v4.1.1`

[2018-04-12 22:26] iandanforth opened #1081 "How to get full matrix as return value from eval()?"
In contrast to Matlab, for example, if I assign a value to a portion of a matrix I only get back that portion. I'd like to do something like

[code]

And get back the whole matrix, not just the first row.

Is this possible?

[2018-04-13 07:56] yoyo837 commented on #914
Thanks @josdejong for creating this great library.
This is a good idea, do you have any plans for this?

[2018-04-13 19:04] josdejong commented on #914
Plans enough but time is the limiting factor here :smile:

[2018-04-14 18:38] josdejong commented on #1081
Thanks for bringing this up Ian. This behavior looks odd: replacing a subset of a matrix returns only the affected part of the matrix. This behavior may stem from assignments like A[1,1] = 4 which returns `4` (like many programming languages), but I would not expect this behavior in an operation.

To get back the whole matrix, you will simply have to execute a second expression `A` to get the whol

[2018-04-15 05:06] pedroteixeira opened #1082 "Missing unit symbols"
Hello,
Just noticed that in v4.1.1:
[code]

But in the docs http://mathjs.org/docs/datatypes/units.html, it does mention the alias:
` decade (decades), century (centuries), millennium (millennia)`

thanks for the great library!

[2018-04-15 05:14] pedroteixeira opened #1083 "Incorrect unit conversion to 'decade'"
in `v4.1.1`:
[code]
I think the expected output would be `2 decade`, right?

I'm guessing some conflict with the `deca` prefix..

[2018-04-15 14:03] harrysarson commented on #1083
Confirming this behavour happens in the master branch.
[code]

Also `mathjs.unit('20', 'year').to('decades').format()` (note the `s`) fails with:
[code]

`mathjs.unit('20', 'days').to('decade').format()` -> `'0.0054757015742642025 year'`
`mathjs.unit('20', 'days').to('decades').format()` -> Error

[2018-04-15 18:58] ericman314 commented on #1083
This was a result of the `decade` unit having the wrong value (`'year'`) for its `name` property.

I wrote a quick test that revealed there was one other typo: the unit `watt` had the name `'W'`.

`hertz` has the name `'Hertz'`, but there's an alias that points from `hertz` to `'hertz'` which seems resets the name of the `hertz` unit to `'hertz'`. This seems unnecessary; maybe we can remove it and

[2018-04-15 19:04] ericman314 commented on #1083
Should be resolved via #1084

[2018-04-16 10:58] majeeddl opened #1085 "Comparings strings"
when I use string formula , the error is shown, I attached image for this error

![2018-04-16_15-26-16](https://user-images.githubusercontent.com/472520/38805357-c5efd87a-418a-11e8-8dd2-328e9091b367.png)

[2018-04-16 17:01] ferrolho commented on #263
I stumbled upon this issue when I was trying to compute the *principal square root* of a matrix. MATLAB implements this as [`sqrtm`](https://uk.mathworks.com/help/matlab/ref/sqrtm.html). I ended up implementing the [Babylonian iterative method](https://en.wikipedia.org/wiki/Square_root_of_a_matrix#By_the_Babylonian_method) as shown below:

[code]

Should I open a PR?

[2018-04-17 08:25] newebug commented on #263
May be Python scipy like api more popular.

[2018-04-17 08:25] #263 closed

[2018-04-17 09:40] ferrolho commented on #263
@josdejong would you like me to create a PR with a SciPy-like implementation?

[2018-04-17 09:47] newebug commented on #263
Welcome, SciJs  :)

[2018-04-17 14:00] FSMaxB commented on #1085
The [documentation](http://mathjs.org/docs/reference/functions/equal.html) says the following:

[code]

This behavior is kind of surprising I have to say.

@josdejong: Is there a string comparison function? So far I haven't found one, if there isn't it might be a good addition.

[2018-04-17 14:54] FSMaxB commented on #1085
On one hand I like the idea of having an `===` operator, since people using JavaScript might already be familiar with it, but on the other hand it might also be confusing.

But there needs to be a way to do string comparisons either way!

[2018-04-17 17:25] ccorcos commented on #990
@josdejong have you ever used typescript? I think you'd **really** like it.

[2018-04-17 18:03] josdejong commented on #1082
Thanks for reporting Pedro, these three plurals where indeed missing. I've added them, will be available in the first next release.

[2018-04-17 18:13] josdejong commented on #1083
The fix is merged, will be available in the first next release.

[2018-04-17 18:31] josdejong commented on #990
Yes I've used TypeScript for one and a half year on a few large projects (Angular, React, and React Native). I'm a bit mixed: I love having intellisense on your object models and function signatures, but dealing with types also distracts from the actual logic you're writing. A few downsides I encountered is dealing with libraries having no typescript definitions or, even worse, having outdated def

[2018-04-17 18:56] josdejong commented on #1085
Yes, we should indeed add a function `equalText` or something like that. You can create such a function yourself with a one-liner: `equalText(a, b) = (compareNatural(a, b) == 0)`.

@harrysarson Good idea. I expect though that changing `==` (`math.equal`) to also allow to compare strings with text has tricky cases. For example when the input contains a numeric value which cannot be parsed due to a

[2018-04-17 19:18] ccorcos commented on #990
Outdated types are annoying, but you can always uninstall them and treat it all as unsafe Javascript...

As for Redux, I feel your pain. Redux is actually quite impure and thus difficult to type well. If you used something more along the lines of the Elm pattern, then types would be a breeze.

But in general, Typescript gets painful when you have highly polymorphic code. For me at least, the type

[2018-04-17 19:45] josdejong commented on #990
Have a look at this discussion: https://github.com/josdejong/typed-function/issues/10 :D

[2018-04-17 21:27] harrysarson commented on #1085
@josdejong you make a very good point about strings that are almost but not quite numbers.

I think it is much better for someone to try and compare two strings and get an error message than compare two nearly numbers and get false due to their typo and spend ages debugging for this.

I take back the string equality suggestion

[2018-04-18 06:29] josdejong commented on #1085
It was a good suggestion, please keep them coming Harry :). It would have been the nicest solution but unfortunately there are some drawbacks.

I was thinking more about the `strictEqual` function and `===` operator. I think it will become quite confusing: in JavaScript strict equality on objects only returns true when having the same object instance. For example a BigNumber is from JavaScript per

[2018-04-18 12:17] #1082 closed

[2018-04-18 12:30] josdejong commented on #1082
Fixed in v4.1.2

[2018-04-18 12:30] josdejong commented on #1083
Fixed in v4.1.2

[2018-04-18 12:30] #1083 closed

[2018-04-20 12:13] vladimirmartsul opened #1087 "Why api.mathjs.org doesn't have HTTPS (TLS)?"

[2018-04-21 14:08] josdejong commented on #1087
I'll have to buy an SSL certificate for that and configure the website and REST service correctly. Costs time and money, which I haven't spend on it so far.

As a workaround: the web application is a Heroku application, and Heroku provides applications with an SSL certificate by default, so you could use the url from heroku too:

https://mathjs.herokuapp.com

[2018-04-23 15:06] LloydLS opened #1088 "Cannot pass array into filter() from another function"
Hi,

It looks like filter() can't be used in a custom function, as it won't accept an array passed from outside (unless the array is a predefined variable). Is this expected?
[code]
Tested in version 4.1.2.

Thanks!

[2018-04-24 13:33] harrysarson commented on #1085
The two different equals operators in js lead to a fair bit of cunfusion, I would definately argue for keeping things simple in mathjs and sticking to `==`.

I much prefer the idea of an `equalText` function :) As a name suggestion: `strcmp` like in c.

[2018-04-25 07:44] jwilber commented on #1079
@josdejong I'll happily give it a go if it's still open?

[2018-04-25 07:58] josdejong commented on #1079
Thanks for your offer Jared, that would be great.

[2018-04-25 17:26] ccorcos commented on #990
Interesting. Rather than use strings that need to be parsed to represent runtime data types, I would simply create a type generic that helps you create a data structure in parallel with the type.

For example, [here's a simple validation library](https://github.com/ccorcos/ts-validator) I made for validating JSON at runtime. And I've built a set of composable functions for creating the validator w

[2018-04-26 17:49] vikash20186 opened #1089 "toHtml() for invalid or partial expression"
Hi All,

I was trying to use toHtml() and it works great given expression is valid and math.parser is able to parse it. But i am looking for toHtml kind of output for invalid expression also. Is there any relevant method available to generate html representation for an invalid or partial expression?

Thanks,
Vikash

[2018-04-26 18:34] josdejong commented on #990
Interesting library @ccorcos , thanks for sharing. Reminds me of a similar library of mine: [ducktype](https://github.com/josdejong/ducktype)

[2018-04-26 18:40] josdejong commented on #1089
That would be nice indeed, though it's currently not possible, see #416. Thanks for your suggestion Vikash.

Let's continue any discussion in #416 to keep the topic focused.

[2018-04-26 18:41] #1089 closed

[2018-04-26 20:55] harrysarson commented on #1085
Would compareText return -1,0 or 1 based on the comparison?

[2018-04-27 05:44] mtsee opened #1090 "this is bug ?"
math.eval('4224.38 + 3000.23') = 7224.610000000001 ????

[2018-04-27 09:28] josdejong commented on #1090
Thats a round-off error, see similar questions:

https://github.com/josdejong/mathjs/issues?utf8=%E2%9C%93&q=is%3Aissue+round-off+is%3Aclosed+

[2018-04-27 09:28] #1090 closed

[2018-04-27 10:04] josdejong commented on #1085
It would work similar to `compare` and `compareNatural` (and `strcmp`): returns 1 when the first argument is larger than the second, 0 when both are equal, and -1 when the first argument is smaller than the second.

In fact, thinking about it, we can simply use `compareNatural` for text comparison so an additional method `compareText` may be overkill. At least `equalText` is really needed.

[code]

[2018-04-27 10:42] xerosanyam opened #1091 "Is there a way to do partial import ?"
I am importing 'mathjs' in my app. Is there a way that I could import only few functions
for example: add, subtract, multiply, bignumber

Currently I have to include complete lib, which increases my bundlesize

[2018-04-27 19:52] josdejong commented on #1091
Yes, see

Docs: http://mathjs.org/docs/custom_bundling.html
Example: http://mathjs.org/examples/advanced/custom_loading.js.html

[2018-04-29 19:10] harrysarson commented on #987
node 4 is now no longer supported. Should we be dropping support for it too?

[2018-04-30 18:25] josdejong commented on #987
Yes makes sense, can you do that?

We still have to set up CI for testing against all browsers too.

[2018-04-30 21:02] harrysarson commented on #987
Yeah both dropping node 4 and getting browser tests are both very good ideas :)

[2018-05-02 04:18] jackschmidt opened #1094 "Hermitian conjugate vs transpose"
In matlab and octave the expression `A'` produces the Hermitian conjugate, the complex conjugate of the transpose. In mathjs 4.1.2, `A'` produces the transpose. Is it reasonable to adjust mathjs to match matlab?

The named functions in matlab and octave are `transpose` for the current behavior of mathjs and `ctranspose` for the behavior of matlab and octave.

https://www.mathworks.com/help/matlab/

[2018-05-02 07:16] josdejong commented on #1094
I'm open to changing this, makes sense to follow the "common" behavior. Will be a breaking change of course.

I think we should:

1. Do a round over other math applications to see if they have the same behavior for `A'`
2. If it's indeed the most common behavior, implement `ctranspose` in math.js and change `A'` to use `ctranspose`

Anyone interested in picking these points up?

[2018-05-02 08:07] josdejong commented on #987
I've removed node 4 from the TravisCI configuration, and added node 10.

[2018-05-02 10:41] lazybean commented on #1021
It would be nice to be able to pass negative precision, to round to nearest 10, 100 ,...
Math.round(118,-1)  // 120
Math.round(118, -2) // 100

[2018-05-02 11:32] codewp opened #1095 "Dividing two numbers unit issue"
Hi and thank you for the great library.

I found an issue in mathjs that below code can show it.
[code]
Also, I should say that I already defined units like this.
[code]

Please let me know how can I solve this problem?

Thanks.

[2018-05-02 12:40] ericman314 commented on #1094
I am not a mathematician, so I had to look this up on [MathWorld](http://mathworld.wolfram.com/ConjugateTranspose.html):

So it seems like the conjugate transpose has much more significance than the transpose alone, particularly in quantum mechanics and linear algebra. The notation for it is different in each field, though no one uses `A'` specifically. But it is reasonable to follow Matlab and Oc

[2018-05-02 13:10] ericman314 opened #1096 "Native BigInt in Javascript"
Chrome 67 will ship with [native support](https://developers.google.com/web/updates/2018/05/bigint) for the `BigInt` type, arbitrary precision itegers. I opened this issue to discuss how we might use `BigInt`s once adoption is more widespread.

There's no `BigDecimal` implementation yet, but `BigInt` could be particularly useful for fractions.

Related: #15, #604

[2018-05-02 13:47] ericman314 commented on #1096
There could also be the possibility of implementing a very simple BigDecimal library which uses BigInts under the hood for exceptional performance. I will look into this!

[2018-05-02 14:25] jackschmidt commented on #1094
I made an attempt at task 2.

I also discovered a related bug in the Frobenius norm. The code on line 195 of `lib/function/arithmetic/norm.js` is comment with `sqrt(sum(x'x))` but this is only true for the conjugate transpose. The general formula is `sqrt(sum(sum(pow(abs(a[i,j]),2),i=1..m),j=1..n))`, the square root of the sum of the absolute values squared of the entries.

In mathjs 5.2.1:
[code]

[2018-05-02 23:36] neilhighley commented on #534
v4.2.1 doesn't play nice with react-native, 3.9.3 seems to work ok.

[2018-05-03 19:13] harrysarson commented on #35
mathjs now has support for calculating derivatives and there is a now #442 and #1015 which look at the possibility of implementing integration. I think we can close this in favour of these other issues.

[2018-05-03 19:13] #35 closed

[2018-05-05 07:06] josdejong commented on #35
:+1:

[2018-05-05 07:09] josdejong commented on #534
@neilhighley thanks for reporting, can you open a separate issue for this and provide some more details?

[2018-05-05 07:35] josdejong commented on #1095
With expressions with so much ambiguity it's a good idea to use parenthesis to prevent your expression being evaluated differently from what you may be expecting, i.e.

[code]

Here is some documentation on the exact behavior of implicit multiplication:
http://mathjs.org/docs/expressions/syntax.html#implicit-multiplication

[2018-05-05 07:42] josdejong commented on #1096
Yes, really cool!

Maybe we should simply introduce this as a separate, new data type `BigInt` (alongside the existing `BigDecimal`).

Having a `BigInt` will be really interesting to use in Fractions. That should become relatively easy when we have implemented #694 for Complex numbers and Fractions (Unit already has supports multiple numeric types).

[2018-05-05 07:47] josdejong commented on #1021
Interesting idea @lazybean :)

[2018-05-05 08:00] josdejong commented on #1094
Sounds indeed like a good idea to implement and use `ctranspose` instead, thanks for looking this up @ericman314. Let's go for it.

[2018-05-05 08:56] #1076 closed

[2018-05-07 08:03] cnsgithub opened #1100 "Try to keep dependencies up to date"
Hi, i noticed that fraction and other dependencies have not been updated for quite a while

4.0.4 vs
https://github.com/infusion/Fraction.js/tree/v4.0.8

2.0.3 vs
https://github.com/infusion/Complex.js/tree/v2.0.10

I think updates on 3rd party dependencies should be done more frequently. Thanks

[2018-05-07 08:09] josdejong commented on #1100
Good point. Also the decimal.js dependency must be updated (marked as a major change).

It would help me a lot if you or anybody could put together a pull request updating the dependencies (and make sure all unit tests still pass).

[2018-05-07 08:32] harrysarson commented on #1100
Upgrading complex might be semver major, I'm not sure but the way some values (especially infinity) are handled has changed between 2.0.3 and 2.0.10

[2018-05-07 09:58] SimonSimCity opened #1101 "Failing since updating this package from 4.1.1 to 4.2.2"
Today I've updated my package to MathJS `v4.2.2` and found this error when trying to start it:

[code]

I can confirm that it worked with MathJS `v4.1.1` so I'm for now switching back to it ...

Don't know how much it has to say, but I'm using your library in a Meteor project.

[2018-05-07 18:05] josdejong commented on #1100
Yes, I saw that too. Haven't looked into how it changed exactly and whether that's a bugfix or breaking change. @infusion maybe you can easily explain the changes?

[2018-05-07 18:09] josdejong commented on #1101
Thanks for reporting @SimonSimCity .

I think this could be related to changed behavior in webpack, which was upgraded from `v3.3.11` to `v4.6.0` in mathjs@4.2.0 (see [history](https://github.com/josdejong/mathjs/blob/master/HISTORY.md#2018-05-02-version-420), see [commit](https://github.com/josdejong/mathjs/commit/68b5e3ffe6e24472f6e1b04e66c219fa04451adb#diff-b9cfc7f2cdf78a7f4b91a753d10865a2)). H

[2018-05-07 18:11] josdejong commented on #1101
@SimonSimCity how can I reproduce this issue? Do you have some minimalist setup/demo which replicates the issue?

[2018-05-07 18:49] infusion commented on #1100
Thanks for mentioning. I recently did some minor things like upgrading all my libs to ES6 and noticed that people failed making it work with babel, so I reverted the changes. Additionally, I integrated minor improvements like numerical stability things. Also the first things towards infinity changes were introduced, but I think it's not breaking but only additional features at the moment. When I r

[2018-05-07 19:19] josdejong commented on #1100
Thanks for your quick reply Robert.

Some unit tests where breaking when using v2.0.10, boiled down to complex infinity now consistently being returned as `complex(Infinity, Infinity)` (instead of sometimes having a 0 or NaN value for either re or im). Makes sense to me to see this as a fix and not a breaking change.

See commit: https://github.com/josdejong/mathjs/commit/0abdfbe5906ad59937414405c

[2018-05-08 03:57] jackschmidt commented on #1101
I found two reproducers.

In node, if I do `math=require('mathjs/dist/math.js')` then I get this error. However, if I do the more reasonable `math=require('mathjs')` everything is fine.

In a browser, if I do `importScript('https://cdnjs.cloudflare.com/ajax/libs/mathjs/4.2.2/math.min.js')` from within a Web Worker, I also get the error. (So create a short js file `worker.js` with that line in it,

[2018-05-09 15:55] lwirtz opened #1102 "Using API Call with Notation: 'fixed' Error"
Small back story, I'm trying to round a value to an exact decimal without mathjs dropping the zero with the return value. I'm having a heck of a time with what seems like a simple task. The following screen shot depicts my main hangup. I'm not sure why 'fixed' isn't working and pulling an error. Can someone help me through this obstacle? Is there another function that will solve this problem for m

[2018-05-09 16:30] harrysarson commented on #1102
Trying swapping the single quotes around `'fixed'` for double quotes (like the error message says :smiley:), you will need to escape the double quotes to make the JSON valid.

[2018-05-09 16:34] lwirtz commented on #1102
@harrysarson Thank you! I'm a novice, so I had no idea about adding the escape to the double quotes! Works like a charm!

[2018-05-09 16:41] harrysarson commented on #1102
No worries, glad I could be off assistance.

[2018-05-09 16:41] #1102 closed

[2018-05-10 11:57] codewp commented on #1095
@josdejong

Thank you so much, worked.

Bests.

[2018-05-10 11:57] #1095 closed

[2018-05-12 18:13] ovk opened #1103 "Calling `toTex` on node that contains call to `derivative()` causes exception"
Derivative function cannot be converted to TeX expression. When calling `toTex` on node that contains a call to `derivative` function the following exception is thrown
[code]
Here's a minimal example that reproduces this issue: https://jsfiddle.net/hhpxvprx

[2018-05-13 01:05] joelhoover commented on #1103
I've investigated this issue, and I believe it is fixed with #1104.

The issue here is that `math.parse('derivative("x", "x")')` will parse `derivative` as a function and create a `ConstantNode` with `valueType = 'string'` for both instances of `"x"`, and `derivative.toTex()` simply calls `_derivTex` with those `ConstantNode`s. However, `_derivTex` expects that it's arguments are the `Node`s that

[2018-05-13 04:45] DrSensor commented on #1100
Using CI like [greenkeeper](https://greenkeeper.io) maybe can help sync update with 3rd party dependencies.

[2018-05-13 12:46] josdejong commented on #1100
Thanks for the suggestion @DrSensor , that's a great idea.

Anyone interested in looking into integrating greenkeeper with mathjs?

[2018-05-15 18:48] rafnogueira opened #1106 "How do I block the fraction simplification ?"
I doing a small educational game but when I try to create fractions that are not in simplified mode like
var question = math.fraction(267,  300 );

the math.js keeps putting  89/100 in output  what I need to do ?

[2018-05-16 06:58] mofosyne commented on #457
Looks like it's all merged in now. Closing.

[2018-05-16 06:58] #457 closed

[2018-05-20 17:24] ceremcem opened #1108 "How do we add alias to an existing unit?"
For example, I want to add `foo` as an alias of `hour`, how can I do that?

[2018-05-21 03:19] ericman314 commented on #1108
This will do it:

[code]

And then:

[code]

[2018-05-21 09:57] #1101 closed

[2018-05-21 10:08] josdejong commented on #1101
This seems to be an issue in webpack 4, see https://github.com/webpack/webpack/issues/6642

I've solved it by adding `globalObject: 'this'` to the webpack config, and the bundle seems to work fine now in the browser, WebWorkers, and node.js.

@jackschmidt would be great if you can verify whether this issue is solved in mathjs `v4.3.0`.

[2018-05-21 15:55] jackschmidt commented on #1101
Looks good in browser, web workers, and node when installed from npm (and unpkg, jsdelivr for browser and workers).

[2018-05-21 15:59] josdejong commented on #1101
:+1: thanks for the fast feedback.

[2018-05-21 16:07] josdejong commented on #974
Available now in v4.3.0.

[2018-05-21 16:07] #974 closed

[2018-05-21 19:13] FabienFellay commented on #974
Thank you guys!

[2018-05-22 18:33] ceremcem commented on #1108
I was about to add your answer to the documentation, but here it was: http://mathjs.org/docs/datatypes/units.html#userdefined-units

[2018-05-22 18:33] #1108 closed

[2018-05-24 09:11] isma4444 opened #1109 "Strange result in math.inv() function"
Somehow I get different results using the inverse of matrices with python and with math.js

Original matrix:

[code]

The result by using math.js

[code]

Using python:
[code]
The element (0,3) is different and by a big margin.

[2018-05-24 10:27] harrysarson commented on #1109
For reference in MATLAB I get the same as python:
[code]

The matrix `A` is very nearly singular with is causing these problems. I dunno if these errors can be avoided or not.

@isma4444 what does `Ainv  = math.inv(A); math.inv(Ai)` give?

[2018-05-24 13:17] harrysarson opened #1110 "Linting mathjs"
## I would like to propose linting mathjs.

Using a tool such as https://eslint.org/ would make maintaining the libary easier, reduce the time spent reviewing pull requests and make contributing to mathjs an smoother experience.

We would need to decide on a configuration to use.

I guess the main downside would be that adding the linting would cause probably thousands of errors initially and woul

[2018-05-24 13:53] ericman314 commented on #1109
Changing element (0,0) to exactly 0 results in the `inv(A)` giving the correct inverse. I suspect this is not an issue with a singular matrix but an actual bug related to some conditional check equating that element to 0 during gaussian elimination or something like that. I'm intrigued and interested in finding the bug but I won't be able to get to it for a day or two, likely.

[2018-05-25 04:50] ericman314 commented on #1109
I managed to implement a Gauss-Jordan elimination with full pivoting in `inv.js` which solves this issue. Unfortunately, I shamelessly copied the algorithm from Numerical Recipes in C so we probably can't include it in math.js. I will need to study the algorithm and try to reproduce it from memory.

[2018-05-26 11:31] josdejong commented on #1110
Thanks for your initiative!

I have no strong opinion about which linter we will use.

Qua rules, the current code base has semicolons, 2 space indentation. I think we should start with non-strict rules and over time make it more strict.

Besides linting, I would love to move the code base to ES6+, see #914, which involves setting up a tooling with babel/webpack/rollup/etc. I think it's good to ke

[2018-05-26 22:10] harrysarson commented on #1109
numpy must have something aswell, might be worth a look

[2018-05-27 10:07] harrysarson commented on #1110
Yeah, `eslint` comes with the `--fix` option which will fix indentation errors etc which would make the process a bit less painful.

[2018-05-27 10:08] harrysarson commented on #914
If we want to use es6 import/export statements we would need to first move all the `require()` calls into the top level of the module.

[2018-05-27 11:57] josdejong commented on #914
Yes indeed, good point. I would also like to get rid of all the semicolons :)

In total, it's quite some work, but I think we can do the migration in small steps, something like:
1. set up a build-script and move the code (as is) to `src`, have the transpiled code in `lib`
2. refactor `require()` calls with ES6 modules (`import` / `export`)
3. refactoring removing all semicolons
4. rewrite the exa

[2018-05-27 18:28] whatisthiswtf opened #1113 "Unexpected Value for tan"
Running `tan(pi/2)` does not give `Infinity`

Also, `cos(pi/2)` gives `6.1232339957368e-17 `

Maybe this a more general problem with rounding, or rounding at intermediate steps?

Can the same problem affect other functions or procedures?

Tested on the expression parser on mathjs.org on May 27, 2018 2:25 P.M. EDT

[2018-05-28 11:02] josdejong commented on #1113
This is indeed a generic rounding issue. As far as I know there is no numerical solution to this problem (except some tricks that you could apply to have it occur less often).

This as a duplicate of #133.

[2018-05-28 18:44] josdejong commented on #1085
I've implemented functions `compareText` and `equalText`, they are now available in `v4.4.0`. Enjoy :)

[2018-05-28 18:44] #1085 closed

[2018-05-28 21:03] ericman314 commented on #1109
Thanks, those are indeed good resources. But it ended up being simple enough to implement the pivoting in the current implementation; see PR #1114.

[2018-05-29 17:25] harrysarson opened #1115 "Test on Internet Explorer and Edge"
As of #1111 mathjs can now test on any browser but currently only test on chrome and firefox.

We should definitely:
 - [x] Run tests on Microsoft Edge: fairly easy, need to fix some error message checks and account for some rounding differences.
 - [x] Run tests on IE 11: harder, need to polyfill some of the newer additions to JavaScipt.

We should look into:
 - [ ] Running tests on IE 9: would n

[2018-05-29 17:27] harrysarson commented on #1115
I am fairly busy for next two weeks or so. If anyone wants to have a go at this they would be very welcome to. I am happy to help if you need advice on where to start.

[2018-05-29 17:33] harrysarson opened #1116 "Add note on browser testing to README"
Now that #1099 and #1111 have landed we should expand the section of the readme that explains how to test mathjs.

 - A new (sub)section explaining how to use `npm run test:browser` to get karma to run the tests.
 - There is a bit already about browserstack. We should modify it to explain how to run our tests using the platform. We should also say this will only work if you have a browserstack acc

[2018-05-29 18:34] josdejong commented on #1116
:+1:

[2018-05-29 21:54] harrysarson commented on #1065
Maybe @arnog is requesting a change to this bit of the docs to clarify that a string is not a "numeric" value, even if the string happens to contain a number.

[2018-05-29 21:57] harrysarson commented on #1051
I think this is fixed by the changes referenced in #1085 and if people want to override the default behavour they can using https://github.com/josdejong/mathjs/issues/1051#issuecomment-369930811. :smile:

@hyzhak please feel free to reopen if there are still issues here.

[2018-05-29 21:57] #1051 closed

[2018-05-29 22:14] harrysarson opened #1117 "Browserstack tests are failling"
oh dear...

https://travis-ci.org/josdejong/mathjs/builds

It is some sort of network issue I think, `ETIMEDOUT` when trying to connect to browserstack.
I will have a look in the morning.

[2018-05-30 02:46] ericman314 commented on #908
I never did find that code I wrote, but I can do it again. Code always comes out better the second time around, anyway.

About falling back to the slow algorithm, I wouldn't recommend that. For matrices of the size where that would matter, the slow algorithm would be much too slow. I will do some research and see if there are any relaxation methods that can improve the accuracy of the LU decomp be

[2018-05-30 04:50] ericman314 commented on #908
Well, I don't know if my code was any better the second time around but it is still faster than the previous implementation. Here are the results of the benchmark before and after the changes in PR #1118. (It doesn't contain any relaxation methods, though.)

[code]

[2018-05-30 06:04] josdejong commented on #1117
Travis CI had issuesyesterday. I will rerun the failing tests to see if everything works again

[2018-05-30 06:58] josdejong commented on #1117
I've rerun the broken tests, and now everything passes again.

Thanks for your attentiveness!

[2018-05-30 06:58] #1117 closed

[2018-05-30 07:37] harrysarson commented on #1117
Ah nice :smile:

[2018-05-31 06:30] Clan-Utility opened #1119 "TypeError: Scalar expected when calling math.subset"
Math.js 3.20.2

In general, I would like to append a matrix to another matrix on the right.
That is, append
[code]
to
[code]
and get
[
    [0, 1, 2, 0, 1],
    [3, 4, 5, 2, 3]
]

[code]

However, math.index sets _isScalar to true if n===1 & k===1, and that makes math.subset raise TypeError: Scalar expected

[code]

[2018-05-31 12:45] harrysarson commented on #1110
An alternative would be to start with a full/strict set of rules and add `/* eslint-disable */` to the top of each file, we could then remove it for one file at a time thereby slowly linting the whole of mathjs.

[2018-05-31 13:09] harrysarson commented on #1115
Applying this patch is a good place to start. It will get browserstack to run tests on IE 11 and Edge

[code]

[2018-05-31 18:17] harrysarson opened #1121 "CompareNatural does not compare strings lexically."
`CompareNatural` uses [javascript-natural-sort](https://www.npmjs.com/package/javascript-natural-sort) to compare strings.

Strings are not compared lexically as the docs say they should be.

For example:

[code]

and

[code]

Is this a bug or should we change the docs to say something like `strings are compared in a sensible way`?

(Note that the javascript operator `<` does lexical comparison on

[2018-05-31 18:27] harrysarson commented on #995
This was merged into master for version 4 :)

[2018-05-31 18:27] #995 closed

[2018-05-31 18:30] harrysarson commented on #1070
I think `math.sum` is what @gdarai is looking for :smile:

[code]

[2018-05-31 18:30] #1070 closed

[2018-05-31 18:40] josdejong commented on #1121
Thanks, it's indeed an error in the documentation. I've updated the docs.

For reference, see also #1065.

[2018-05-31 18:41] josdejong commented on #1065
The docs where indeed wrong, sorry for the confusion.

I've updated the docs, see https://github.com/josdejong/mathjs/commit/a389d340e95ec8fc7b53c9622a8d2c773791fc65 (will become available in the first next release)

[2018-05-31 18:41] #1065 closed

[2018-05-31 18:41] #1121 closed

[2018-05-31 18:42] josdejong commented on #995
thanks Harry :+1:

[2018-05-31 18:46] josdejong commented on #1054
Thanks! Scilab uses `eye` too, and Wolfram Alpha uses `IdentityMatrix`.

I prefer having just one of the two, not both. If people really want they can always make an alias themselves.

[2018-05-31 19:04] josdejong commented on #908
Wow!!! that's huge! Thanks a lot.

I would say the new performance is acceptable, it's now its on par with other matrix operations like multiplication. Shall we close this issue, or do you want to keep it open for another improvement round?

[2018-05-31 19:05] josdejong commented on #1110
That's fine with me too! As long as we can migrate gradually I'm happy :)

[2018-05-31 19:10] #1116 closed

[2018-05-31 19:56] josdejong commented on #1119
I've tried your code on the latest version of mathjs and also on v3.20.2, and it works just fine. I don't get an error, so I'm not sure how to reproduce this issue. Note that you have to use the new matrix returned by `math.subset` to actually get the merged result.

Maybe your life will become a bit easier though by using the `concat` function: to do what you want you can simply do:
[code]

[2018-05-31 19:59] josdejong commented on #1115
See this branch: https://github.com/josdejong/mathjs/tree/browser_testing

Some tests on the IE11 and Edge are currently failing (like with error messages `TypeError: Object doesn't support property or method 'assign'`, and numerical round-off errors), will fix that coming weekend I hope.

[2018-05-31 20:13] ericman314 commented on #908
Computing determinants isn't very important in linear algebra, but computing the LU decomposition is. If someone would like to profile that function and look for some optimizations I think it could be worth the time.

[2018-05-31 22:20] FSMaxB commented on #673
Another commen about this: As far as I know this strange comparison behavior is specified in IEEE 754 that defines how floating point numbers are supposed to work. This also means that processor instructions working on floating point show this behavior and it is also mandated by ISO C standards. (meaning this is not a quirk specific to JavaScript).

I think the reasoning behind it is that NaN is s

[2018-06-01 00:34] Clan-Utility commented on #1119
I was using node v9.5.0 on mac.

Anyway, math.concat works like a charm. Thanks.

[2018-06-01 07:08] hogegex opened #1122 "math.inv() causes "Can not calculate inverse, determinant is zero""
The following simple code works fine with mathjs v4.4.0, but it throws an exception in v4.4.1.

[code]

This is probably a bug caused by #1114.

[2018-06-01 09:38] nichabalie opened #1123 "Is it possible to use mathjs inside javascript function ?"
Hi, I want to use mathjs to evaluate mathematical expression inside a basic javascript function.

Simple example:
[code]
I want the following result: `f([1,2,3], [4,5,6]) = [5, 7, 9]`

But when I use:
[code]
the result is `[1,2,3][4,5,6]`

Is there a way to use mathjs inside function? Thanks

[2018-06-01 11:15] josdejong commented on #1123
I guess what you want to do is add two arrays element wise, in that case you have to use the `math.add` function instead of the JavaScript `+` operator:

[code]

Or you could define the function using the expression parser and use it externally like:

[code]

[2018-06-01 12:53] harrysarson commented on #1123
WHen calling the function
[code]
with parameters that are not numbers it converts `a` and `b` to strings and then concatenates them
which is why you see the result as `[1,2,3][4,5,6]`.

You can see that this happens even with without using the expression parser:

[code]

[2018-06-01 14:32] ericman314 commented on #1122
Sorry about that, I'll try to get it fixed tonight.

[2018-06-01 17:12] harrysarson commented on #1030
Can we close this now? I doubt any fixes are gonna land on v3 at this point?

[2018-06-01 18:12] harrysarson commented on #1088
I guess the problem here is that the first argument to `filter` should be a normal/evaluated argument and the second should be a raw arg?

[2018-06-01 18:52] harrysarson commented on #1088
This patch fixes this problem (although it breaks some tests) by adding an extra value to the scope when `filterNeg` is evaluated. It is a very hacky solution though.

[code]

[2018-06-02 01:04] ericman314 commented on #1122
Fixed in the develop branch via #1124.

[2018-06-02 08:35] gizmodus commented on #1030
We switched to v4 and are happy with it!

[2018-06-02 10:01] josdejong commented on #1122
Thanks a lot for the quick fix Eric! The fix is applied now in `v4.4.2`

[2018-06-02 10:01] #1122 closed

[2018-06-02 10:03] josdejong commented on #908
That makes sense. I will close this issue now, the improvements are now released in `v4.4.2`

[2018-06-02 10:04] josdejong commented on #1030
Agree let's close it, it will take a lot of effort to get this fixed in v3 whilst we have it solved in v4.

Thanks for the feedback @gizmodus, glad to hear!

[2018-06-02 10:04] #1030 closed

[2018-06-02 10:09] josdejong commented on #1119
:+1:

[2018-06-02 10:09] #1119 closed

[2018-06-02 10:57] josdejong commented on #673
That's a very good point. Wanting `NaN == NaN` return true is like answering "yes" to the question _"Ball A is not red, and ball B is not red. Do ball A and B have the same color?"_

So maybe it is not such a good idea after all.

[2018-06-02 14:06] firepick1 commented on #673
Naan is incomparable, especially with butter.

[2018-06-02 15:52] harrysarson commented on #673
I would also vote for having `NaN == NaN` return false.

This is definately the less confusing option as it is what everyone else does.

[2018-06-02 17:46] josdejong commented on #673
Agree. Let's keep it as it is and close this issue: `NaN == NaN` returning false. Thanks for all the inputs

[2018-06-02 17:46] #673 closed

[2018-06-04 05:00] thecodeboss commented on #1057
I see #1058 was merged, this issue can be closed now @josdejong

[2018-06-04 12:11] josdejong commented on #1057
Good point, thanks!

[2018-06-04 12:11] #1057 closed

[2018-06-06 07:10] josdejong opened #1127 "Breaking changes for v6"
- [x] Remove generated files from the git repo
- [x] Drop support for node version 6 (#1494)
- [x] Remove redundant "use strict" (#1473)
- [x] Group and cleanup all folders in the root of the repo

[2018-06-06 07:10] josdejong commented on #1045
I moved the topic of #864 to breaking changes for v6 #1127, it's time to move ahead with v5

[2018-06-06 07:12] josdejong commented on #1054
I would like to decide upon this now. I prefer `identity` since it better reflects what the function is about. This means a breaking change though, we'll start with implementing `identity` and marking `eye` deprecated, have it output a console warning when used.

[2018-06-06 07:12] josdejong commented on #1045
I will move the `v5` branch into `develop` today, the next release will be `v5`

[2018-06-06 07:15] josdejong commented on #1045
Yes, I first have to merge develop into v5 again, it's a bit behind

[2018-06-06 07:15] josdejong commented on #914
I want to setup an ES6 build script today, at first without any refactoring, basically move the code from lib to src. This means that any open pull requests will get merge conflicts but there is nothing big open at this moment except the `v5` branch and

[2018-06-06 08:53] josdejong commented on #1054
I've renamed `eye` to `identity`. Using `eye` throws an error explaining to use `identity` now. Will be released in v5.

[2018-06-06 10:08] josdejong commented on #1115
The tests are working now on IE11, Edge 17, Firefox 60, Safari 11.1 :tada:

[2018-06-06 10:29] harrysarson commented on #1045
If you look at https://unpkg.com/mathsjs/ you can see everything that gets downloaded when you run `npm install mathjs`, this means folt are downloading fra more than they need if they just want to include mathjs as a dep or run the CLI.

[2018-06-06 10:53] josdejong commented on #1045
Ah, that's a good point! We should indeed remove the test folders from the npm package.

[2018-06-06 10:54] harrysarson commented on #1045
See #1128

[2018-06-06 13:44] josdejong commented on #914
See #1129

[2018-06-07 00:11] SimonSimCity commented on #1101
Sorry for the very belayed response ... I too can confirm it works again with the latest version 🎉

[2018-06-07 04:24] iqbalhood opened #1130 "Logo Contribution For mathjs"
Hello @josdejong. Can I Contribute to make Logo For This Project ?

[2018-06-08 09:16] PfxMobile commented on #554
Hi folks - going back to the Custom units
We are working for the application that need to work with Labs Results and we requires special units like
Milliequivalents or Units(International units) U/IU
As i understand right now i couldn't register any unit that not derived from existing available Base ?

[2018-06-08 12:20] robinrodricks commented on #554
You can create a custom base as well. You need to add some values in some
places.

[2018-06-08 13:04] PfxMobile commented on #554
@robinrodricks Could you provide the sample?

[2018-06-08 13:17] nichabalie commented on #1123
math.add(a,b) works well, thanks !

[2018-06-08 13:48] josdejong commented on #1123
:+1:

[2018-06-08 13:48] #1123 closed

[2018-06-08 19:19] josdejong commented on #1130
Thanks for your offer Mohammad. Yes sure, if you can come up with something that's new and fresh and better than the current logo would be nice. You will have to convince us of course :)

[2018-06-09 12:09] josdejong commented on #1110
Anyone preferences for a JavaScript style?

I personally like to use 2 space indentation and no semicolons at line ends, so https://standardjs.com/ would be a nice fit.

[2018-06-09 12:15] josdejong commented on #914
Implemented via #1129

[2018-06-09 12:15] #914 closed

[2018-06-09 20:15] harrysarson commented on #1110
Yeah, I like the idea of standardjs or xo that don't require tonnes of configuration

[2018-06-09 20:49] harrysarson commented on #914
Am I correct in saying this is because lebab is expecting `require` to be at the top level and we call `require` from functions?

[2018-06-09 20:55] josdejong commented on #914
Yes exactly, that is one of the reasons (see related discussion #71). And there are other places where we simply have to refactor stuff like using importing `import * as utils from '../../utils'` instead of importing specific functions instead of everything. And for some reason some stuff breaks like `type.Complex` is not defined, not yet sure what's going wrong there.

[2018-06-10 11:57] josdejong commented on #1110
An easy to set up tool like standardjs or xo is a plus of course, but we can always switch to a different linting tool whilst changing the code base to a different style would involve a huge amount of work.

Most important to agree upon for me is the code style: standard, idiomatic, airbnb, node-style-guide, google, ... I think it will be good to choose a standard here rather than rolling our own

[2018-06-10 12:19] josdejong commented on #1103
This issue is fixed now by Joel, the fix will be available in the first next release, `v5.0.0` (expected to be released within a week)

[2018-06-11 05:06] robinrodricks commented on #554
@josdejong Glad you could add support for adding custom units directly into the library API! No more fiddling around with the JS statics!

[2018-06-11 07:44] PfxMobile commented on #554
@josdejong Right sorry i missed the line 'If you cannot express the new unit in terms of any existing unit'
That's cool
So then i guess this item could be closed

[2018-06-11 10:30] Jylomaki opened #1131 "Expression Tree as parameters"
I'm trying to do something in the like of this:
`loss.eval({F:fun,F_parameter:_somestuff_})`
and also this: `loss.derived({F:fun,F_parameter:_somestuff_})`

I need this because I'm trying to do an optimisation that require gradient (that will be provided by deriving over each parameter if I'm not mistaken).

So I have a function that never change that would be the F that take its parameters ( ~ 10

[2018-06-11 13:10] Jylomaki commented on #1131
Nevermind found my solutions, I had forgotten about usal derived.
`( F o G)' = G' * (F' o G)`
in our case:
`(loss o F)' = F' * (loss' o F)`
loss.derived({F:fun.eval({parameters:some_stuff}))

Though as I pass from a 3D space to a 2D space then a 1D space, I will probably need to consider them not as nD but as inlined parameters. This or I will use an approximation using an espilon, it may be way s

[2018-06-11 13:10] #1131 closed

[2018-06-12 18:06] josdejong commented on #1110
Ok then now+tomorrow I'm migrating the code as much as possible to ES6, and I will release v5.0.0 tomorrow. I don't expect to work away _all_ lint issues but hope I can fix most of them. We can do the rest later on bit by bit.

[2018-06-12 18:17] josdejong commented on #554
:+1:

[2018-06-12 18:17] #554 closed

[2018-06-12 18:30] josdejong commented on #1045
I will release v5.0.0 tomorrow.

[2018-06-13 20:06] josdejong commented on #1110
It was a hell of a job but I managed to resolve _all_ linting errors already, I hadn't expected that. About 12 hours of painstaking work, but really happy with the result. Linting is now running automatically when executing `npm test` :+1:

All semicolons are gone. `var` is replaced with `let`/`const`. Most important work left over is to replace `require` with `import`, that's not so trivial.

[2018-06-13 20:06] #1110 closed

[2018-06-13 20:07] josdejong commented on #1045
Release will be tomorrow or coming weekend: fully finished #1110 (more than expected) but no time left today to do the release.

[2018-06-13 20:09] josdejong commented on #914
lebab was of great help so far! Saved a lot of work refactoring `var` into `let`/`const`

[2018-06-13 20:13] josdejong commented on #1088
I haven't yet looked into this bug, but I just saw two unit tests in `FunctionNode.test.js` which are currently skipped which are about this exact issue:

https://github.com/josdejong/mathjs/blob/master/test/expression/node/FunctionNode.test.js#L102-L150

Not sure why I never took the time to get these tests working :(

[2018-06-14 13:21] ssaket commented on #964
Hi @josdejong, I have submitted a pull request for this.
Cheers

[2018-06-14 15:45] harrysarson commented on #1115
I think it would be fair to drop IE 9 in version 5, that would save us from the head ache of testing it?

[2018-06-14 15:46] #1113 closed

[2018-06-14 16:01] harrysarson commented on #1045
see #1115 about dropping  support for IE 9.

Would be a small and doc only change.

[2018-06-14 18:45] josdejong commented on #1115
Agree, let's drop official support for IE 9 (though it probably still works using ES5 shims)

[2018-06-14 18:46] josdejong commented on #1115
In that case, this issue is fully resolved :)

thanks again Harry, the browserstack tests really helped me a lot to make sure the ES6 build setup worked correctly, generating output that can be run on all browsers.

[2018-06-14 18:46] #1115 closed

[2018-06-14 19:01] josdejong commented on #1045
@harrysarson I've updated the docs: https://github.com/josdejong/mathjs/commit/4ca1d563b8aad2a439507e60a279842f365a9f29

[2018-06-15 12:12] torfsen opened #1134 "In-place operations"
Currently, if I want to add a vector `y` to an existing vector `x` and store the result in `x` I need to do
[code]
This means that new storage has to be allocated to hold the result of the addition. I'd like to avoid that.

I suggest in-place variants of those operations where it makes sense, e.g. `math.iadd`:
[code]

From an implementation point of view, `add(x, y)` could easily be implemented vi

[2018-06-16 10:06] josdejong opened #1136 "Rocket trajectory example broken since v4.0.0"
I noticed that the rocket_trajectory_optimization.html example is broken since v4.0.0. I haven't looked into it yet, it probably has to do with changes in implicit mulitplication.

https://github.com/josdejong/mathjs/blob/master/examples/browser/rocket_trajectory_optimization.html

To reproduce: open the example, change
[code]
to:
[code]

@ericman314 maybe it's easy for you to figure out the cause

[2018-06-16 10:12] samueltlg opened #1137 "Hide implicit multiplication (symbols) when using math.simplify to evaluate custom functions"
Hi there,

I have this piece of code:
[code]

I am looking to use the simplify function in order to evaluate _custom functions only_ ; hence I am not using `math.eval`. However, it seems that using `math.simplify` seems to make multiplication explicit, hence the `{ implicit: 'hide' }` option belonging to `toTex` has no effect. Is there a way to retain this implicit multiplication when using simpli

[2018-06-16 13:18] #851 closed

[2018-06-16 13:18] #1054 closed

[2018-06-16 13:18] #1103 closed

[2018-06-16 13:44] josdejong commented on #1045
Just released `v5.0.0` :tada:

[2018-06-16 13:44] #1045 closed

[2018-06-16 13:52] josdejong opened #1138 "The add_new_datatypes example broken"
The `add_new_datatypes` example (under advanced) is broken, I think it has been broken for a while already, could be since v4.0.0. Probably has to do with the behavior of `typed-function` changed a bit in this breaking release.

I will look into this myself soon, this is just a reminder

[2018-06-16 15:44] harrysarson opened #1139 "Streamline travis testing"
Originally raised by @josdejong in https://github.com/josdejong/mathjs/pull/1133#issuecomment-397813304

Currently mathjs' CI tests take a long time to run, should we:

1. not run the local browser tests in travis? Are the browserstack tests enough?

2. run lint stage last?

3. run in parallel by combining everything in a single stage instead of three stages.

[2018-06-16 16:21] harrysarson commented on #1139
will close #1133

[2018-06-17 12:14] josdejong commented on #1134
In general, I strongly prefer immutable objects and pure functions. Your proposal is exactly the opposite of that, so there must be a really good reason for it.

For matrices, reuse may seriously improve performance, which can be a valid reason. We should validate whether this is indeed the case though, and get to know how much we could gain.

From a practical point of view: it would require a _hu

[2018-06-17 12:20] josdejong commented on #1096
Thanks for sharing Eric!

[2018-06-19 01:11] elpeleq42 opened #1141 "webassembly"
Since nowadays every browser supports webassembly and (I think) even nodejs,electron, nwjs,etc also do, maybe mathjs should be ported to C/C++ and then compiled to webassembly.

Considering webassembly code to be only 30% slower than pure compiled code, and really easy to integrate with javascript, it could keep things as easy to use as they're now, but improve performance of complex/huge operatio

[2018-06-19 10:38] harrysarson opened #1142 "Spead up rationalize tests"
These two tests for `rationalize`:
 - processing power expressions (1857ms)
 - processing tougher expressions (9316ms)
found in file https://github.com/josdejong/mathjs/blob/master/test/function/algebra/rationalize.test.js both take for ever to complete. This slows down our CI and makes running `npm test` more fustrating than it should be.

We should either:
 - reduce the complexity of these test

[2018-06-19 10:41] harrysarson commented on #1142
Tagging @paulobuchsbaum as git blames says they added these tests.

[2018-06-19 12:06] paulobuchsbaum commented on #1142
The fast solution would be take out this 2 test cases, because it's proved that they work.

In terms of speeding up processing I find it somewhat difficult because the bottleneck is in the meta structure of simplifying rules processing made by `simplify` function,  done by other collaborators.

[2018-06-19 15:52] Pomax opened #1144 "Adding .row() and .column() functions"
I'm working on some matrix maths that requires row and column extraction, but the docs don't mention any function for doing something like `let row = matrix.row(3);` or `let col = matrix.column(1);`.

Would it be possible to add those functions?

[2018-06-20 09:34] nichabalie opened #1145 "Is it possible to combine two matrices ?"
Hello,

Is it possible to combine two matrices (or arrays) by row or by column like cbind() or rbind() in R?

Thanks.

[2018-06-20 13:21] josdejong commented on #1145
Not sure but I think you're looking for `concat`

Docs: http://mathjs.org/docs/reference/functions/concat.html

[2018-06-20 13:41] nichabalie commented on #1145
Yes, but it only work if both matrices have the same dimensions. Is it possible to concatenate an array with a matrix by row or by column for example?

[2018-06-20 20:41] #1141 closed

[2018-06-21 04:15] harrysarson commented on #1142
Closed by 6edac98 in #1143

[2018-06-21 04:15] #1142 closed

[2018-06-21 18:44] FSMaxB commented on #1141
Where WebAssembly would probably make sense is for typed matrix operations.

[2018-06-23 06:48] josdejong commented on #1134
Yeah, first we should do a benchmark to see how many impact it would have.

@torfsen how does numpy do this? Does numpy have such functions?

Just thinking aloud: maybe we could consider `iadd` like functions only for specific operations instead of for "all "functions. I'm thinking about the operators `+=`, `-=`, `*=`, and `/=`.  These are operations I regularly use in loops to do cumulatives and

[2018-06-23 06:49] josdejong commented on #1145
@nichabalie I'm not sure I understand your use case, can you post a code example of what you would like to be able to do?

[2018-06-23 06:54] josdejong commented on #1144
Sounds useful.

Note that this is already easy to when using the expression parser:

[code]

[2018-06-23 15:07] Pomax commented on #1144
absolutely, but when you just need to work with matrixes in a JS lib that's going to live on a page, you try to weed out as much as possible, so not using the expression parser means rollup can throw it away and save a considerable amount of space.

[2018-06-23 15:42] harrysarson commented on #1134
I believe a much greater improvement to performance would come from using something like numpy's ndarray to store vectors and matrices rather than javscript arrays and therefore that should be a priority.

Additionally, I would argue for more meaningful method names such as `matrix.inplaceAdd` or `matrix.modifyAdd` or even `matrix.withMutation.add`

[2018-06-23 15:45] harrysarson commented on #1134
See #760

[2018-06-23 15:45] harrysarson commented on #760
Lets discuss in #1134.

[2018-06-23 15:45] #760 closed

[2018-06-23 16:45] Nekomajin42 commented on #1134
Please don't forget the `%=`!

And what do you think about the `++` and `--` operators?

[2018-06-24 13:52] josdejong commented on #1144
Yes agree! It's just to give you and others an easy solution.

Anyone interested in implementing functions `row` and `column` ? If so just drop a message here and we can discuss the details.

[2018-06-24 13:57] josdejong commented on #1134
@harrysarson  good point. we should really first put these ideas for improvement in perspective. See also the [`benchmark` folder](https://github.com/josdejong/mathjs/tree/master/benchmark), where for example the performance of the JavaScript library [`ndarray`](https://www.npmjs.com/package/ndarray) (using `Float64Array`) against other libraries like `numericjs` which is amazingly fast but uses n

[2018-06-24 16:30] josdejong commented on #1137
Thanks for reporting!

A simpler example demonstrating the issue is:

[code]

The `simplify` function somewhere loses the `implicit` property of the original OperatorNode `*`, it would be nice if it can keep track on implicit multiplication when multiplications are left unchanged.

[2018-06-25 22:04] alexkwolfe commented on #997
Did this every find a resolution? I'm trying to do something like this, which is failing because the property is inaccessible:

[code]

The "easy" fix is to use an `Object` rather than a `String`, but I'm working inside another system where making this change is not possible. Are there other work arounds that don't compromise security?

[2018-06-26 06:45] maruta opened #1146 "rationalize() throws exception for some input with decimals"
rationalize() seems to fail for some input with decimals.
So far, I tested
`math.rationalize('1/(0.1x+1)+1').toString()`
-> throws exception
`math.rationalize('1/(1.0x+1)+1').toString()`
 -> "(x + 2) / (x + 1)" OK
`math.rationalize('1/(0.1x+1)').toString()`
 -> "10 / (x + 10)" OK
with version 5.0.0.

Thanks!

[2018-06-26 13:36] nichabalie commented on #1145
Sorry, the function `concat` worked well, I just needed to used it with matrix instead of array.
Thanks

[2018-06-26 13:36] #1145 closed

[2018-06-26 18:52] josdejong commented on #1145
👍 thanks for the feedback.

The function should work for both Array and Matrix

[2018-06-26 18:58] josdejong commented on #997
No progress on this issue yet. If anyone is interested in picking this up please let me know.

As for the problem at hand: using a `new String` object with properties on it sounds tricky in general though, would be great if you could find a way to use regular string primitives and objects instead, maybe you can somehow translate between your code and the external code that you can't control.

[2018-06-27 13:39] nichabalie commented on #1145
@josdejong
In fact the function works between Array-Array and Matrix-Matrix but not between Array-Matrix.
If I wanted to concatenate the Array `A = [1,2]` with the Matrix `B = [[3,4],[5,6]]`, `concat(A,B)` didn't work (DimensionError: Dimension mismatch (1 != 2)).
So I had to create a Matrix `C = transpose([[1,2]])` and use `concat(C,B)` to obtain my result: `[[1, 3, 4], [2, 5, 6]]`
It is not very

[2018-06-27 19:11] josdejong commented on #1145
Ah, now I understand what you mean with Array vs Matrix, you mean a one dimensional Array vs a two dimensional array. In math.js there is also a Matrix class (created via `math.matrix(...)`) I thought you where referring to that.

You indeed have to make sure the two Arrays have the same dimensions.

[2018-06-27 23:32] ewanorr opened #1147 "Allow configurable precision in format when in "engineering" mode"
The "engineering" mode in the format function seems to ignore significant figures that occur after a decimal point. Considering the following two examples, the first performs as expected; however I expected that the second example would be more precise.

format(12400,{notation: "engineering"})
"12.400e+3" // expected "12.400e+3"

format(12400.00,{notation: "engineering"})
"12.400e+3" // expected "

[2018-06-28 02:41] ericman314 commented on #1147
Unfortunately, math.js does not have any mechanism to keep track of significant figures. In your example, both numbers are converted to the same floating point representation the moment they are encountered.

There's no reason such a feature couldn't be added, which would propagate errors through each calculation and automatically format the result with the correct number of significant figures, b

[2018-06-28 07:36] maruta commented on #1146
After further investigation,
I found a part of the problem is related to negative integer exponents.
This problem is reproduced by simpler example
[code]
and some modification seems to solve this problem.
https://github.com/maruta/mathjs/commit/35c9aa7a689454047bfb552a0dcc6d026788d939

To make
[code]
work, I needed to modify rationalize() algorithm
https://github.com/maruta/mathjs/commit/b0d077f38

[2018-06-28 08:37] harrysarson commented on #1146
When you run `npm test` after your changes, do they all pass?

[2018-06-28 10:22] maruta commented on #1146
When I run `npm test` in my environment, one test fails as follows
[code]
the failed test also fails in v5.0.0 and seems to have nothing to do with my change.

[2018-06-28 22:38] ewanorr commented on #1147
Thank you for your reply, good to know that it is an complex problem and I wasn't missing something obvious. I was hoping that I could get the functionality that I wanted by specifying the precision; however, I am a bit confused about specifying precision when formatting with engineer mode.

When formatting numbers that have zeros that trail a decimal place then it seems that the behaviour of the

[2018-06-29 03:05] ericman314 commented on #1147
The documentation doesn't actually specify what meaning `precision` has in engineering mode, so perhaps this is a good time to specify one. I'm with you here: I think it would be good to change it so `precision` has the same meaning in engineering mode as it does in exponential mode.

Do you have any interest in tackling this yourself?

[2018-06-29 09:44] harrysarson commented on #1147
Change the title 👍

[2018-06-29 09:53] harrysarson commented on #731
Marking as a feature and changed issue title.

[2018-07-01 12:50] josdejong commented on #1146
Thanks for diving into this @maruta! I hope to look into this soon unless @paulobuchsbaum beats me ;)

[2018-07-01 13:08] josdejong commented on #1147
Thanks for opening this discussions @ewanorr .

It's ok with me to change the behavior of `engineering` notation. (Will be a breaking change of course).

Maybe instead of using `precision` everywhere with two different meanings for it (significant figures or numbers behind the decimal point) we should introduce a new option `significantFigures` besides `precision` which applies the current behavio

[2018-07-02 13:24] ThomasBrierley commented on #997
My colleagues are also stuck on an old version of MathJS due to this issue but i haven't had the time, I'll see if I can get some allotted time to spend on it.

However i'm happy to surrender this if someone gets to it first :smiley:

[2018-07-03 00:17] ashwinmr opened #1148 "Concatenating 1D matrices to 2D matrices"
I am using mathjs for some machine learning algorithms. I'm familiar with matlab where it is very easy to build matrices by concatenating scalars, arrays and matrices.
What's the best way to do this in mathjs ?

Example use case:
[code]
Desired result:
[code]
However, this results in a dimension error.

I could transpose `b` before concatenation. But it does not work since it does not make it 2D.

[2018-07-03 01:46] elpeleq42 opened #1149 "Make simple integral extension as part of mathjs main lib."
From what I could find, it seems that mathjs has no built in way to solve integrals, and requires the extension given on the website(which I couldn't install using 5.0.1 btw, not the main topic) to do so(for simple cases only, also).

My question is: Why?Since integrals are so used in math (mainly on college/university or other serious places, which are probably the public of mathjs), why is this

[2018-07-03 20:42] ewanorr commented on #1147
Hi @ericman314 thank you for looking at this. At the moment I probably wouldn't know where to begin with attempting to change the behaviour of engineering notation. If me and one of my colleagues get free time in a few weeks time I might see if he is keen and able to have a look at this with me.

[2018-07-04 01:52] JasonShin opened #1150 "Type Error when triggering Matrix function after calling math.zeros"
Hello, I'm using Math.js in my Typescript application. I found that I cannot trigger interface methods of Matrix after using math.zeros because the return type is 'number[] | number[][] | Matrix'

When I run the code below

[code]

It complains that `Property 'toJSON' does not exist on type 'number[]'..`

The only walkaround is using datatype:any, which I don't strictly like to do

[code]

Please

[2018-07-04 01:54] JasonShin commented on #1150
Apologies if I haven't followed any standard formatting when creating issues

[2018-07-04 06:50] ericman314 commented on #1147
No worries, @ewanorr. I'm sure someone here will be happy to take care of it.

@josdejong, looking more closely at the code for engineering mode, it looks like the original intent of engineering mode was to add zeroes if necessary to produce a number with `precision` significant digits, although where `precision` comes into play I'm not entirely sure:

https://github.com/josdejong/mathjs/blob/f0e5

[2018-07-04 06:56] ericman314 commented on #1147
Another thought: we could remove the `notation: 'fixed'` option entirely, and replace it with `fixed: #` where # is the number of digits after the decimal point. It could be used with engineering, exponential, or normal mode. Or, you can use `precision: #` to specify the number of significant figures in any of the engineering, exponential, or normal modes. If both are specified, one would take pre

[2018-07-04 07:06] ashwinmr opened #1152 "Shouldn't forEach provide an index to the callback ?"
The forEach function provides 3 parameters to the callback. Namely, val, ind, mat
[code]
I found that `ind` is an array instead of an index. This makes it difficult to use it to access elements in the matrix
[code]
This gives an error since `ind` is an array and not an index.

`m.subset(math.index(ind))` also does not work because `m` is not an array.

The only way I can think of to make this work

[2018-07-04 07:14] josdejong commented on #1152
I think what you try to do is:

[code]

or
[code]

[2018-07-04 07:31] #1152 closed

[2018-07-04 07:31] josdejong commented on #1150
I guess this is some issue in the TypeScript definitions that you use, which I don't maintain.

Maybe @bradbesserman can help here since he has been working on the TypeScript definitions recently? https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/mathjs

[2018-07-04 07:34] josdejong commented on #1149
Integration is indeed not yet been implemented. There are discussions about it though:

#442
#788
#993
#1015

[2018-07-04 07:34] josdejong commented on #1152
:+1:

[2018-07-04 07:36] ashwinmr commented on #1148
I'm using this helper function to make all matrices at least 2 dimensional for now
[code]

[2018-07-04 07:52] bradbesserman commented on #1150
Maybe try JSON.stringify(placeholder) - should accomplish the same thing and I think stringify is a little more versatile.  I don't think this is a problem with the mathjs type file - the error seems to be that Typescript doesn't recognize a toJSON function associated with the number[] type.

[2018-07-04 07:58] josdejong commented on #1150
Ah, good point @bradbesserman, you should indeed use `JSON.stringify` and not `toJSON`.

See also docs: http://mathjs.org/docs/core/serialization.html

[2018-07-04 08:00] TheDancingCode commented on #1100
Only the repository admin can enable greenkeeper.

[2018-07-04 08:04] bradbesserman commented on #1150
I think the confusion is that zeros() can return a standard typescript number array or a mathjs Matrix type.  Mathjs matrix type does explicitly have a toJSON function.

[2018-07-04 08:11] josdejong commented on #1136
I've found the cause and fixed it. Two occurrences of implicit multiplication of which the behaviour was changed in v4.0.0.

[2018-07-04 08:13] DrSensor commented on #1100
Another one that I found interesting is https://dependabot.com. And yes, only the repository owner can enable it.

[2018-07-04 08:17] josdejong commented on #1100
I've now configured greenkeeper, let's see if this works nicely and if not we can look into for example https://dependabot.com.

[2018-07-04 08:23] josdejong commented on #1100
Apparently it works ;)

See https://github.com/josdejong/mathjs/pull/1153

[2018-07-04 08:32] josdejong commented on #1150
That's determined by a config setting `math.config({matrix: 'Matrix' | 'Array'})`

Docs: http://mathjs.org/docs/core/configuration.html

[2018-07-04 08:53] JasonShin commented on #1150
Thank you !

[2018-07-04 08:54] josdejong commented on #1150
:+1:

[2018-07-04 08:54] #1150 closed

[2018-07-04 09:56] JasonShin opened #1154 ""getMatrixDataType" validation/functionality"
I am currently building a machine learning library and I often need to check whether given input is a matrix of numbers or strings or booleans or .... . I have written an extension method to deal with this within my project:

[code]
Notes:
1) `_` is Lodash.
2) Above code example only deals with `number[][]` ... =) ...

My question is, does this functionality already exist in Math.js?

[2018-07-04 19:18] josdejong commented on #1146
I've implemented a fix based on the work of @maruta (thanks again!), see https://github.com/josdejong/mathjs/commit/0d93fff8784e1187af3fe5071a85bfc9817e221d

@paulobuchsbaum and @maruta can you please review this commit? I'm not very familiar/confident with this part of the code base, so a pair of extra eyes would be helpful.

[2018-07-05 18:18] elpeleq42 commented on #1149
Oh thanks by the info. From what I could understand from the website, It looked like as this extension was never going to be a thing in mathjs, remaining just an extension.

Thanks for clarifying.

[2018-07-07 11:09] #1088 closed

[2018-07-07 11:09] #1136 closed

[2018-07-07 11:09] #1146 closed

[2018-07-07 12:01] josdejong commented on #1137
This should be fixed now in `v5.0.2`

[2018-07-07 12:01] josdejong commented on #1136
This is fixed now in `v5.0.2`

[2018-07-07 12:02] josdejong commented on #1146
I've released the fix based on @maruta 's work in `v5.0.2`, please let me know if there are still issues in this regard.

[2018-07-07 12:03] josdejong commented on #1088
This should be fixed now in `v5.0.2` (see https://github.com/josdejong/mathjs/commit/f6f7bd2b250356993390c846caef6a16dda93215)

[2018-07-07 12:11] josdejong commented on #1138
This has been fixed in `v5.0.2`

[2018-07-07 12:11] #1138 closed

[2018-07-07 22:06] harrysarson commented on #1088
Nice work :smile:

[2018-07-08 12:56] josdejong commented on #1149
This extension you refer to is a first step. I really hope we will get `integral` built-in mathjs itself. It's not trivial though.

Will close this issue now since the discussion is covered in other issues too.

[2018-07-08 12:56] #1149 closed

[2018-07-08 12:58] josdejong commented on #1148
Thanks for sharing. Would be nice if we could make `concat` more powerful so that it can automatically merge vectors with matrices like these util functions do.

Anyone interested in improving `concat`?

[2018-07-08 16:29] josdejong commented on #1154
There is no such function, though it's possible to pass a datatype when creating a new matrix, like:

[code]

The matrix algorithms reckon with this datatype and when provided, specific functions (like add for numbers only) are used instead of generic functions (like add for any type). This gives a huge performance improvement.

A function `isMatrixOf` sounds like a good addition to facilitate the

[2018-07-08 16:48] jamys94 opened #1159 ""compute" function/method"
I'm struggling with algebra functios to find a method to compute/expand products of polynomials but it seems there isn't a function to do this. Is possible to write it? I thought that it can have two parameters: the expression we want compute and the modulo in which we obtain the result. Here is an example:

Input: string = (x-2)(x-5)(x+3)
           number (optional modulo) = 2

Output: string =

[2018-07-08 18:14] josdejong commented on #1147
@ericman314 I think you're right, the intention was to add trailing zeros to note real significant digits, so this is about a bug in the `engineering` notation.

I like your proposal to keep `precision` for significant digits, and create a new `fixed` for number of digits after the decimal point. We could still keep `notation: 'fixed'` available though it would be redundant when just specifying `f

[2018-07-08 18:32] josdejong commented on #1159
Thanks for sharing your experience and suggestions. There is indeed no such functionality though `rationalize` comes close. Maybe we can expand that function with a modulo or something like that.

Anyone interested in picking this up?

[2018-07-08 18:32] josdejong commented on #1159
@paulobuchsbaum how do you think about this?

[2018-07-08 19:37] josdejong commented on #908
@ericman314 I just discovered something awesome (triggered by #1154): the performance of matrix operations is only optimized for matrices containing a single datatype (like numbers) when you explicitly pass the datatype. I wrongly assumed there was code in place to automatically detect the datatype of matrix contents.

So:

[code]

This means that mathjs is / can be much faster than we described i

[2018-07-08 21:17] harrysarson commented on #1159
Hi @tgiaki, could you explain what the modulo does? I will confess to being a bit confused :confused:. There is definately an overlap with `rationalize` that we could exploit.

[2018-07-08 21:19] samueltlg commented on #1137
Great! Thanks

[2018-07-08 22:28] tgiaki commented on #1159
Hi @harrysarson , sure the modulo is an "operator" that return the remainder of a division. For example 2 mod 2 = 0, 3 mod 2 = 1, 6 mod 2 = 0, 13 mod 2 = 1. This operator can be used also on polynomial coefficient so if I have x^2-3x+2 and I apply it a mod 2 it becomes x^2-x+0, in every module you are the coefficients, or the results constants, are the remainder of the division by the number you c

[2018-07-09 02:00] matthras commented on #1079
I'm happy to give it a crack if there's still no activity from @jwilber

May I verify that this is the specification intended for `linspace` ?

http://au.mathworks.com/help/matlab/ref/linspace.html

[2018-07-09 06:37] harrysarson commented on #1159
Cheers @tgiaki,that makes a lot of sense. `4x^2` will always be a multiple of two and therefore disappears from the polynomial when using `mod 2`. :+1:

[2018-07-09 06:40] harrysarson commented on #1079
That looks good to me :+1:

Also worth taking a look at the scipy docs: https://docs.scipy.org/doc/numpy/reference/generated/numpy.linspace.html

The two look fairly similar but it would be worth seeing if they differ at all.

[2018-07-09 08:16] josdejong commented on #1154
Great!

I was thinking, maybe instead of `isMatrixOf` we could create a function `getMatrixDataType` which would return for example `number'` if the matrix only contains numbers, and returns `'mixed'` if there are multiple types used? Then you can simply do `getMatrixDataType(myMatrix) === 'number'` to get the behavior you have with `isMatrixOf`.

A function `getMatrixDataType` should work for `De

[2018-07-09 08:33] josdejong commented on #1079
Thanks @matthras that would be great!

As far as I know the API is quite straightforward and works the same in all major math applications:

[code]
Correct?

We could discuss about the best default value for `num`, like 100 (matlab) or 50 (python)?

[2018-07-09 09:33] tgiaki commented on #1159
Thanks @harrysarson , you mentioned rationalize method, but child you explain what it does precisely? I don't think it was created for algebra expressions with monomials and polynomials. Moreover the compute method I thought can expand products of monomials and polynomials with more than a letter.

(xy-ab)(z+ab) = xyz + ab(xy-z) - a^2b^2

[2018-07-09 09:48] JasonShin commented on #1154
@josdejong
"What do you think" -> Sounds nice =) I will use the name `getMatrixDataType` and make sure to factor in`DenseMatrix`, `SparseMatrix`, and `Array`. With using the method against `Array`, would you implement another method to check the array is a matrix (e.g. [ [1, 2, 3], [4, 5, 6] ]?

[2018-07-09 13:03] aneilbaboo opened #1160 "Matrix translation / rotation?"
What is the right way to translate or rotate a sparse or dense matrix?

[2018-07-09 18:08] josdejong commented on #1160
Right now there is only `transpose` and `ctranspose`.

A translate/rotate function sounds interesting, we don't have that in mathjs. I guess we can get inspiration from similar functions in python/matlab/etc.

Do you have some concrete use cases for rotating a matrix?

[2018-07-09 18:19] ericman314 commented on #1160
Typically rotation matrices are used to manipulate points or objects in space or on the plane, for example when doing 3D graphics. The matrix is constructed using trig functions, then multiplied to each vector in the object to be rotated. This allows for rotation of many points at a time. It would be very handy to have a set of functions to create rotation matrices.

Or possibly @aneilbaboo means

[2018-07-09 18:34] josdejong commented on #1154
That's a great start! Some feedback points:

1. I think `getMatrixDataType.js` can be simplified a bit: input argument can simply be `array` (instead of a generic `object`), and I think `isArrayMatrix` can be replaced with just `Array.isArray(array)` on the input. Checks to ensure that you have a valid matrix with rows/cols with the same size are implemented in the `DenseMatrix` and `SparseMatrix`

[2018-07-09 19:16] josdejong commented on #1154
o, and I forget a BONUS step, but maybe we should do that in a separate PR in order to keep this PR focused:

- See step (1.) in https://github.com/josdejong/mathjs/issues/908#issuecomment-403311358: if we start using the new `getMatrixDataType` in matrix operations/functions we can make them like a factor 5 faster out of the box (!).
Means we have to replace usages of `matrix._datatype` of `Dense

[2018-07-09 21:23] aneilbaboo commented on #1160
Thanks, @ericman314 - yes, that is what I meant.

[2018-07-10 02:12] ashwinmr commented on #1148
While using my helper functions, I noticed that the `reshape` function` is very slow. It took 20 seconds to transpose a 1x100000 matrix. I'm guessing this is expected.

I tried the same operation using a matrix (already created with 2 dimensions) and it took around 40 milliseconds. So I think my main issue is that I am using the wrong method to convert an array into a matrix. What's the best way t

[2018-07-10 07:42] josdejong commented on #1160
Ah, of course. Sounds cool!

[2018-07-10 10:09] chidiwilliams opened #1161 "Not setting epsilon value"
_package.json_
[code]

I'm trying to set the epsilon value for comparing equality of two numbers. I want all numbers within a range of 1e-5 and below to be considered equal.

I'm doing:
[code]

But this gives an output of:
[code]

I've also tried:
[code]

But it prints the same output.

What's going on or what am I doing wrong?

[2018-07-10 14:33] JasonShin commented on #1154
Thanks for your replies @josdejong !

Giving you a quick update on the comment

`maybe you want to use plain old for loops for best performance? (Worth a small benchmark on a large matrix before changing things for real)`

I found that using plain old for loops perform much faster than using recursion. Here is the benchmarking result:

Code URL: https://github.com/JasonShin/mathjs/blob/develop-ben

[2018-07-10 14:34] josdejong commented on #1161
The `equal` function calculates the relative difference, not the absolute difference:

http://mathjs.org/docs/datatypes/numbers.html#equality

[2018-07-10 14:51] weinshel opened #1162 "`range` function cannot be overwritten using factory function"
I am unable to override the `range` function using a factory function, even though I am able to override other functions using factory functions and override range using a non-factory function.
See this [gist](https://gist.github.com/weinshel/c6676c36eead578eded3d2de5026eab5) for a minimal example, which shows:

- I am able to override other functions, such as `reshape`, using a factory function
-

[2018-07-10 18:48] josdejong commented on #1154
:+1: that's definitely worth it

[2018-07-10 18:52] josdejong commented on #1148
You create a Matrix from an Array using `var m = math.matrix(a)` like you already use in your code example.

I'm not sure why `reshape` on an Arrow would be so much slower than on a Matrix, that sounds weird. Can you share a code example on how to reproduce this?

[2018-07-10 18:59] josdejong commented on #1162
Thanks for reporting and the clear code example!

This issue may have to do with `range` having a transform function defined.

[2018-07-10 20:38] weinshel commented on #1162
That makes sense, it also fails for other functions with a transform such as `mean`. I may have narrowed in on a fix, I'll open a PR.

[2018-07-10 20:40] josdejong commented on #1162
working on it already...

[2018-07-10 20:44] josdejong commented on #1162
I have a fix in `develop`, see https://github.com/josdejong/mathjs/commit/6ac88078540cf432f8015a33e241745977661246

Now order of loading of the transforms becomes important, which makes sense: first functions, then transforms of the functions (else the transforms are cleaned up again).

[2018-07-10 20:59] weinshel commented on #1162
Ah perfect, I was getting to something similar, but good catch about the loading order. Thanks for the quick fix!

[2018-07-10 22:57] paulobuchsbaum commented on #1159
@tgiaki, `rationalize` does exactly this with one or more variables without the module feature.

[code]

[2018-07-11 02:23] matthras commented on #1079
There's two additional arguments in the [Numpy implementation](https://docs.scipy.org/doc/numpy/reference/generated/numpy.linspace.html) which look just as easy to implement (thanks for the link, @harrysarson!):
* `endpoint` : bool, optional - If True, stop is the last sample. Otherwise, it is not included. Default is True.
* `retstep` : bool, optional - If True, return (samples, step), where step

[2018-07-11 03:20] ericman314 commented on #1147
I've submitted a PR #1163 which hopefully fixes the bug.

[2018-07-11 04:01] ashwinmr commented on #1148
Here's what I'm doing:
[code]
This results in a 1 dimensional matrix. When I try to transpose it, it stays 1 dimensional. So I need to somehow make it 2 dimensional before I am allowed to concatenate it with anything.
If I try what you suggested:
[code]
`b` is again 1 dimensional.
The only solution I found was to use the `reshape` function.
[code]
Now `b` is 2 dimensional and can be concatenated w

[2018-07-11 06:55] josdejong commented on #1161
Yes makes sense.

As a workaround you could implement an equal function which does do two checks: one for the `value` itself, and one for `value+1`, something like:

[code]

If we implement absolute nearly equal functionality I think it should go in a new config option. It makes sense, let's give this some more thought. I will reopen this issue and change the title accordingly.

[2018-07-11 07:08] josdejong commented on #1162
:+1: thanks for your efforts too!

[2018-07-11 07:40] harrysarson commented on #1079
I would argue that we should implement `lispace` without these optional arguments and then if anyone comes back with a use case and complaining about the lack of these arguments then we can add them. Otherwise, we might aswell keep the initial implementation as simple as possible.

As far as I know, this is the best place :smile:

[2018-07-11 07:45] tgiaki commented on #1159
@paulobuchsbaum thanks, I found later that `rationalize` does exactly what I need. For the modulo that is an interest way to find if a polynomial is divisible by a number, but I need a function that compute it on the coefficients directly because I need to leave the polynomial as a string. I think it would be useful for certain uses. Thanks for the reply.

[2018-07-11 10:18] JasonShin commented on #1154
@josdejong
Hi, I'm having trouble with generating docs for `getMatrixDataType` function that I wrote. It's keep complaining

[code]

But I am pretty sure I have description, syntax, examples...

Could you please have a look at the code and let me know what's wrong?

https://github.com/JasonShin/mathjs/blob/develop/src/function/matrix/getMatrixDataType.js

Thanks thanks =) ...

[2018-07-11 12:42] josdejong commented on #1154
@JasonShin I think the doc generator (a small custom script) assumes that each file contains 1 function, and it only parses the first comment block it sees. I think if you move the `isMultiDimensional` with it's comment block to the bottom of the file the documentation will be generated correctly.

Looking at the code itself: I think it will become easier if you create the file as a `typed-functio

[2018-07-11 12:46] josdejong commented on #1154
You can have a look at other functions to see how the factory thing and dependency injection is structured exactly, basically:

[code]

[2018-07-11 18:55] paulobuchsbaum commented on #1159
@tgiaki, it's easy to recover the coefficient from one variable polynomial

[code]
@josdejong, it would be nice add "rationalize" in documentation in 2 points:
`Documentation / Expressions / Algebra` and  `reference / functions`. If you agree, I can write
this documentation  using the same style and I will send to you.

[2018-07-11 23:17] JasonShin commented on #1154
Thanks! Sorry, it's my first time working in this code base so I was confused ;)

[2018-07-12 01:44] ericman314 commented on #908
Cool! And you're right, `det` should be much faster with the explicit typing. I'll take a look at `lup` and see what I can figure out. And keeping track of the data types is a good idea; I'll take a look at that too but I'm not as familiar with how or where matrices are actually created in math.js, to be honest.

[2018-07-12 02:01] ericman314 commented on #908
Hmm, I'm actually not sure now about `det`. After looking closer, `lup` is the only function called in `det` that does any significant work. And in `lup`, there are no other matrix functions called. All the computation is done on individual elements. A long time ago I created a version of `lup` that used primitive JavaScript types, rather than the generic functions, and I think it was about two or

[2018-07-12 03:16] ewanorr opened #1164 "Problem defining units"
We are trying to define units that denote "places" in a number. For example,  1.123 ones in tenths is 11.23 tenths. We defined the following units.

[code]

However, we came across an error when we tried to alias our "one" unit with "ones". Everything worked fine with "one", for example

```mathjs.eval("1 tenth in one")```
[code]

But with "ones" (plural) it failed

```mathjs.eval("1 tenth in ones

[2018-07-12 04:10] maruta commented on #1146
@josdejong @paulobuchsbaum
Thanks a lot!
I totally agree with comments by @paulobuchsbaum

[2018-07-12 12:20] JasonShin opened #1165 "Matrices subtraction dimension error"
I am getting a dimension error while using math.subtract()

[code]

However, it throws

[code]

I believe `math.subtract(X, M)` should return

[code]

same goes for `math.sum` `math.multiply`

[2018-07-12 12:21] JasonShin commented on #1165
In the meantime, I will write a extension method to deal with it

[2018-07-12 14:43] ericman314 commented on #1164
That's exactly right. `ones` is a built-in function. Currently, creating a unit will not override a built-in function. As a quick workaround, if it will work for your use case, you could preprocess the input to change "ones" to "one" or even "_ones" or something similar. There's probably a more elegant solution, but that's just a quick idea.

[2018-07-12 17:43] mike239x opened #1166 "Constructing sparse matrices on your own?"
It appears the only way to create a sparse matrix is to use `sparse` function, or construct the matrix piece by piece.

How about creating a sparse matrix from data that represents sparse matrix?
For example, I'd like to have a function, that given the 3 arrays needed for the CCS format and the matrix size, will make that into a SparseMatrix object.

[2018-07-12 20:40] ewanorr commented on #1164
Thank you Eric; we might adopt the solution you suggested. Again, that helps a lot.

[2018-07-13 23:51] matthras commented on #1079
Function skeleton has been written, I've got a solid idea of how the internals should look, then I'll figure out what tests should be written.

Questions that I currently have:
* It looks like using `typed()` means that tests don't need to be written for type-checking, am I correct on that one?
* What's the philosophy/ideas regarding on dealing with number/BigNumber interactions?

I've noticed in

[2018-07-14 08:12] josdejong commented on #1166
That is an interesting suggestion, thanks Mike.

What comes close to this already is serialization of a SparseMatrix, though it has a different intention of course:

[code]

I think it would be relatively easy to create a factory function and a getter to get the internal arrays (Probably writing documentation for it the most work).

Anyone interested in implementing this?

[2018-07-14 08:44] josdejong commented on #1079
Good questions @matthras .

1. An option like `dtype` is in mathjs typically handled in two ways:
    - The type of numeric output is normally determined from the input arguments. I.e. if `linspace` is called with numbers in the input, the output will be numbers too. When the input is called with one or multiple BigNumbers, output will be BigNumbers.
    - Matrix type can sometimes determined from

[2018-07-14 08:50] josdejong commented on #1146
Thanks for your input @paulobuchsbaum . I don't fully understand all your points but if you can turn it into a PR it would be great!

To the `develop` branch. Note that there has been quite some refactoring going in v4 and v5, so please make sure your `develop` branch is up to date before implementing your suggested improvements.

[2018-07-14 08:57] josdejong commented on #908
Thanks for checking it out. Looks like we have to dig deeper then to find out why `lup` doesn't utilize matrices explicit types.

A different solution would indeed be to have a separate implementation for the different numeric types but I'm not sure if we should go there right now.

In #1154, @JasonShin is working on a new function `getMatrixDataType` and corresponding matrix methods `getDateType`

[2018-07-14 08:59] josdejong commented on #1154
No worries, its also not the most common/easy dependency injection. If you have more questions/doubts don't hesitate to ask!

[2018-07-14 09:09] josdejong commented on #1159
Documentation / Expressions / Algebra and reference / functions. If you agree, I can write
the documentation using the same style than the actual documentation and I will send to you.

@paulobuchsbaum Yes, good point, I noticed too that it is missing there which almost completely hides the existence. I've added a short section on it in this commit: https://github.com/josdejong/mathjs/commit/8e18a2

[2018-07-14 09:46] josdejong commented on #1147
Should be fixed now in `v5.0.3`, thanks again Eric.

[2018-07-14 09:46] #1147 closed

[2018-07-14 09:46] josdejong commented on #1162
Should be fixed now in `v5.0.3`

[2018-07-14 13:58] mike239x opened #1168 "lsolve, usolve for non-square matrices?"
It seems [`lsolve`](http://mathjs.org/docs/reference/functions/lsolve.html) and [`usolve`](mathjs.org/docs/reference/functions/usolve.html)  are only working for the square matrices.

Why is it so? I think it should work for non-square matrices as well.

Well, the important one is the `usolve`, because if you use LU decomposition
(in my case using [`lup`](http://mathjs.org/docs/reference/functions

[2018-07-14 14:57] mike239x commented on #1168
This is pretty easy to fix by simple adding some zeros to make the matrix square either adding/removing zeros here and there.

[2018-07-15 12:47] josdejong commented on #1168
I don't know why the current implementation only supports square matrices, but if it's easy to add support for non-square matrices that would be a great extension.

@mike239x would you be interested in giving it a try and extend `lsolve` and `usolve`?

[2018-07-15 13:08] josdejong commented on #1165
Yes, that can be a useful extension. Right now `math.subtract`, `math.add`, etc simply do element-wise subtraction/addition. Allowing to subtract a vector row-wise from a matrix is something you can do in Matlab and Octave.

I will change the title of this topic a bit.

Anyone interested in implementing this feature?

[2018-07-15 16:39] mike239x commented on #1168
@josdejong Right now I created my self-made implementation with some additional restrictions, so that it would be enough for me, later I can do that.  Right now kinda busy with my bachelor thesis, my bad.
You can assign this task to me if you want.

[2018-07-15 18:10] josdejong commented on #1168
:+1:

Let's just keep it open. If anyone can pick this up before Mike can please drop a message here.

[2018-07-16 00:18] JasonShin commented on #1165
Once I finish the `getMatrixDataType` pull request, I am happy to implement it =)

[2018-07-16 11:08] AnastasiaArtyom opened #1171 "Is it possible to add string comparison using == operator?"
when I tried evaluating something like "a" == "a" I got this error:
Error: Cannot convert "a" to a number
Is it possible to fix?

[2018-07-16 14:50] harrysarson commented on #1171
Hi @AnastasiaArtyom, this is by design, please see https://github.com/josdejong/mathjs/issues/1085 for more info about comparison of strings. You may find the function `equalText` useful (http://mathjs.org/docs/reference/functions/equalText.html).

[2018-07-16 17:05] AnastasiaArtyom commented on #1171
@harrysarson Thanks!

[2018-07-16 18:06] #1171 closed

[2018-07-17 14:14] JasonShin commented on #1154
PR for this open at https://github.com/josdejong/mathjs/pull/1172

[2018-07-18 11:01] JasonShin opened #1174 "Idea: Implement convolve function"
Hi again,

Would it be useful to provide a function to calculate convolution from math.js if it doesn't exist? I think people who are working on Deep Learning or Machine Learning will benefit from it.

References:
https://en.wikipedia.org/wiki/Convolution

Inspiration:
https://docs.scipy.org/doc/numpy/reference/generated/numpy.convolve.html

[2018-07-18 11:07] JasonShin opened #1175 "Idea: linear algebra methods for decomposition, eigenvalues and etc.."
Hi again =)

Throwing another idea of implementing some useful methods of linalg, mostly inspired by Numpy. Again, anyone who is doing Machine Learning in JS will benefit from Math.js if we can support APIs like:
https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.linalg.svd.html#numpy.linalg.svd
https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.linalg.eig.html#numpy.

[2018-07-19 08:28] wfwfwf opened #1178 "math.chain(5123.6).add(1683.6) = 6807.200000000001"
for example:

math.chain(5123.6).add(1683.6) = 6807.200000000001

Are you sure mathjs is useful ??

[2018-07-19 13:32] a8t commented on #1168
I wouldn't mind attempting, but I encourage others to hop on as well. Been a few years since I graduated, haven't done much matrix math since... 😅

[2018-07-19 19:45] josdejong commented on #1175
yeah, this would be awesome of course :sunglasses:

[2018-07-19 19:46] josdejong commented on #1175
Related: #672

[2018-07-19 19:48] josdejong commented on #1174
That can be interesting indeed, thanks for your suggestion. Anyone interested to pick this up?

[2018-07-19 21:02] sahi1l opened #1179 "Math.rationalize won't simplify xy-yx"
This is either a bug or an annoying inconsistency.
`math.rationalize("x*y+y*x").toString()` returns `2*x*y`,
but `math.rationalize("x*y-y*x").toString()` returns `x*y-y*x` and not zero.

[2018-07-20 17:06] javazen opened #1180 "err.message undefined"
This simple piece of code does not work (err.message is undefined) when given a bad formula such as "sum(a:c)" :
[code]

Version 4.4.2 math.js line 20491 is not throwing a "new Error" of any kind, just a string... (I see this on line 20280 as well)

[2018-07-21 01:37] honeybar commented on #1175
Hi, just letting you know I am currently working on eigenvalue/vector function.

[2018-07-22 09:47] arden opened #1181 "There's no average function"
There's no average function？

[2018-07-22 09:56] josdejong commented on #1181
Yes this function is available. Have you tried to find it in the docs on the website? (Seachbox top right on the website)

[2018-07-22 14:37] josdejong commented on #1175
awesome @honeybar !

[2018-07-22 14:53] josdejong commented on #1179
Thanks for reporting. This simplification is done by `math.simplify`, which is used by `math.rationalize`, I think we'll have to address this in `math.simplify`, I will change the title of this issue accordingly.

Sounds like we could improve `simplify` with a rule to simplify this too. @firepick1 and @paulobuchsbaum do you think this is easy to add, or is there some complications because of the s

[2018-07-22 14:54] #1178 closed

[2018-07-22 15:08] josdejong commented on #1180
Thanks for reporting @javazen

This has been fixed already , about a month ago:

https://github.com/josdejong/mathjs/blob/master/src/function/algebra/simplify/simplifyConstant.js#L247

I don't know by heart which version exactly contains this fix, but the latest version (`v5.0.3`) should throw a proper `Error`.