[2019-04-14 11:18] josdejong commented on #1454
Instead of `"use strict"`, I do like linters which warn you for anti-patterns in your code, for example eslint can warn you about using `==` instead of `===` and things like that. This way, you don't complicate the JS language itself, and can easily stay away from the bad parts of the language.

[2019-04-14 14:08] ericman314 commented on #1473
Not sure. I guess we'll have to experiment.

[2019-04-15 03:39] alvachien commented on #1472
@josdejong Thanks for the reply.

For instance, you create a fraction as following (https://mathjs.org/docs/datatypes/fractions.html):
`let testnumber = math.fraction('0.(3)');`

Is it possible to export testnumber with Tex format (via method toTex) which supported by math.parse?
`const node = math.parse('sqrt(x/x+1)');
node.toTex()      // returns '\sqrt{ {\frac{x}{x} }+{1} }'
`
Like following:
`

[2019-04-15 17:01] timfish commented on #43
We have already used math.js for low sample rate data and it works great. We are now looking to use the math.js expression parser to handle TypedArrays with millions of elements.

I've been experimenting with overriding typed functions and as we're only using 1D arrays we can see some big boosts in performance.

See the example code [here](https://runkit.com/timfish/mathjs-typed-arrays/1.0.3), whi

[2019-04-18 09:30] janitor100 opened #1477 "Using bignumber integers larger than 15 digits in non-exponential notation"
It may be me doing something wrong, but I seem to have some trouble calculating bignumbers when using large integers with more than 15 digits (see code fragment below).

I never experienced any issues when using arbitrary precision with decimal places but when it comes to large integers, I somehow run into issues when trying to do regular calculations with numbers that have more than 15 digits. Th

[2019-04-18 11:18] josdejong commented on #1477
In your example you first parse your values into a JavaScrip `Number` with limited precision, and after that you convert it in a BigNumber. But any precision is already lost when creating it as a `Number`.

Instead, you should create a bigNumber from a _string_ containing your value, like

[code]

[2019-04-18 11:24] janitor100 commented on #1477
Thanks a lot, that seems to work fine for the variables a and b. The output for c, however, is displayed in exponential notation. Is there any way to display c with all its digits?

[2019-04-18 11:46] josdejong commented on #1477
How you print `c`?

The way you use `math.format` in your example is at least not correct (just check the docs)

[2019-04-18 12:05] janitor100 commented on #1477
For the output I use:
`document.write(c);`

For determining the notation I assume I could use:
`math.format(c, {notation: 'fixed'}); `

According to the [documentation](https://mathjs.org/docs/reference/functions/format.html), this should work for displaying all digits, but I'm still getting the exponential notation as a result.

[2019-04-18 12:24] josdejong commented on #1477
yes indeed, that's the right way using `format` with notation `fixed`.

Shouldn't you do `document.write(math.format(c, {notation: 'fixed'}));`? `document.write(c)` will use the `.toString()` of `c` and not use `math.format`.

[2019-04-18 12:32] janitor100 commented on #1477
Yes, that works perfectly fine! I guess this thread can be closed then. And thanks again for your support, much appreciated...

[2019-04-18 12:43] josdejong commented on #1477
:+1:

[2019-04-18 12:43] #1477 closed

[2019-04-20 01:28] stoplion commented on #304
@bornova awesome solution.

[2019-04-21 09:13] kevjin commented on #1442
Hi @josdejong, I would be interested in fixing this issue. Should be able to submit a PR in a day or two, thanks! :)

[2019-04-21 14:39] zcohan opened #1481 "Unexpected joules in watt hour calculations"
I'm having trouble understanding math.js's behaviour in regard to watt hour units. I'd expect to be able to work directly with kilowatt hours or watt hours, however they sometimes are displayed in joules implicitly:

Example:

[2019-04-21 15:42] ericman314 commented on #1481
The way math.js chooses a display unit when using the `auto` unit system is that it gives preference to units that you have used before. The best way to describe it is with an example:

[code]
Which outputs:
[code]

Before you use the `kWh` unit explicitly in the second statement, math.js does not know whether you prefer `MJ` or something else.

We don't like side effects but we haven't been able

[2019-04-21 15:56] zcohan commented on #1481
Thanks Eric, that's indeed quite surprising. Can I ask what the reasoning was behind the decision to take previous calculations into account when evaluating an expression?

What would be the downside to math.js only doing a unit conversion in `auto` when the conversion is explicitly requested?

[2019-04-21 22:59] ericman314 opened #1483 "Configurable unit formatting"
The formatting of units works well 90% of the time, but sometimes the results are surprising. We should make the formatting of units transparent and totally configurable. The current behavior is strange enough to have drawn a lot of issues.

A successful fix ought to address most of these related issues:
#1481
#1452
#1449
#1314
#1306
#1300
#1282
#1008
#898

[2019-04-21 23:00] ericman314 commented on #1481
We've had lots of issues regarding making the unit formatting more configurable. I've opened another issue so we can collect all the ideas in one place: #1483

[2019-04-22 09:39] josdejong commented on #71
hm. Karma tests are failing in `modular_architecture` after upgrading to the latest versions (merging `develop`). I've tried a lot of things but no luck so far. @harrysarson can you maybe have a look too?

See: https://travis-ci.org/josdejong/mathjs/jobs/522952756

[code]

[2019-04-22 10:47] josdejong commented on #1442
:+1: thanks Kevin!

[2019-04-22 11:24] harrysarson commented on #71
So webpack is trying to bundle our node only tests and failing when it reaches `require(fs)`.

[2019-04-22 11:29] harrysarson commented on #71
See my review in #1319

[2019-04-22 18:16] #1481 closed

[2019-04-22 18:22] zcohan commented on #1483
I'd love to see an `auto` style mode that "does the right thing" however does not do any implicit unit conversions based on previous calculations or custom units. Result predictability is critical for my use case.

[2019-04-22 18:55] ericman314 commented on #1483
Here's a list of ideas of taken from all the related issues so far:

- [ ] Units formatting is deterministic and totally predictable by default
- [ ] Configurable selection of prefixes, with defaults that make sense (like, stay away from the less commonly used prefixes)
- [ ] The default configuration is like the current `auto`, which does the right thing and is predictable
- [ ] No side effects o

[2019-04-23 02:47] DbCrWk opened #1484 "`math.subset` converts matrix to scalar"
First, this is a great package!

One small quirk that I've noticed is that if I do something like:
[code]

Is this an intentional casting of a `1`-by-`1` matrix into a scalar? If so, is there a way to enforce that pulling the subset of a matrix always returns a matrix?

(For my particular use case, I have a function that accepts an arbitrary index `k` and returns the `k`-by-`k` upper left submatri

[2019-04-23 15:13] SKT1yang opened #1485 "throw error "SyntaxError: Parenthesis ) expected (char 102)""
I am throwing ‘SyntaxError: Parenthesis )expected (char 102) ‘ when using math.eval,And I found that when calculating the same expression, the scope variable parameter is 'complex' when it is reported, the 'simple' is normal; for example: "1.5/18.5" is calculated normally to get '0.081081081', "1.39/ 18.6" is reported. The specific situation is as follows: expression=math.eval(formul, data),form="

[2019-04-23 16:27] harrysarson commented on #1485
Hi, I tried running this version of your example (https://runkit.com/harrysarson/mathjs-1485):

[code]

I got this error:
[code]

Which seems reasonable to me. Could you share how you got the error you are reporting?

[2019-04-23 18:58] josdejong commented on #1472
The `Fraction` class has a method `toLatex()`. This is not created by mathjs but built-in with the fraction library used by mathjs: https://github.com/infusion/Fraction.js. Does that address your issue?

[2019-04-23 19:18] josdejong commented on #43
Cool @timfish, thanks for sharing your experiments, appreciated!

I did run your code locally, there it gives me the following results:
[code]

The large difference between `built-in` and `override` is I think because the build-in version does do a type check for every individual matrix element, it's still on my wishlist to make this smarter. But the difference between `override` shows that typed

[2019-04-23 19:45] josdejong opened #1486 "Move Unit.js into a standalone npm library"
Just floating an idea here: the `Unit.js` class is a powerful piece of functionality on it's own, separate from math.js. It could be interesting to think about splitting it from math.js into it's own npm library, similar to the libraries Decimal.js, Fraction.js and Complex.js used by mathjs under the hood. Of course Unit.js should keep it's injection of methods like `add`, `multiply`, `Complex`, e

[2019-04-23 19:46] josdejong commented on #1483
Thanks @ericman314 for collecting all these ideas :+1: ! I think predictability and no side effects are indeed very important, and more configuration options can make that work.

I think that should not be the case, every math instance should have it's own instance of `Unit`. I'm not entirely sure but I think this is already taken care of in the upcoming v6 that I'm working on branch `modular_arch

[2019-04-23 19:53] josdejong commented on #1484
Thanks @DbCrWk, great to hear you like the library :)

Changing 1x1 output of a matrix subset is indeed intentional. When retrieving a single value from a matrix, often you want to continue working with it as being a scalar.

There is currently no way to enforce output being kept a matrix. We could consider making this possible for example by configuring `predictable: true` globally, or passing th

[2019-04-23 20:31] ericman314 commented on #1483
You bet, these will all be breaking changes anyway.

[2019-04-23 20:33] ericman314 commented on #1486
Sounds like a great idea. Not sure how difficult it would be. I'll give it some thought.

[2019-04-23 20:41] harrysarson commented on #1486
We could nab the @mathjs namespace on npm for it?

[2019-04-24 02:38] gdefraiteur opened #1487 "slu function fails"
Hello,

I got this error really often:

Uncaught TypeError: Cannot read property 'L' of null
    at SparseMatrixNumberNumber (math.js:23661)
    at generic (math.js:32708)
    at Object.slu (math.js:32727)

Any idea on how i could avoid getting those?

[2019-04-24 04:47] DbCrWk commented on #1484
Good to know. I have a wrapper written around it for now. If you're good with some parameter being passed (or equivalent), I can open a PR on this!

[2019-04-24 08:27] josdejong commented on #1487
@gdefraiteur thanks for reporting. How can I reproduce your issue? Can you post a small code example?

[2019-04-24 10:23] josdejong commented on #1486
@harrysarson I guess we could, though I think it will be more powerful if Unit.js would become a really standalone library, and not sort of a child project still coupled to mathjs.

[2019-04-24 10:25] harrysarson commented on #1127
May I suggest that we remove all generated files from github for version 6? This will reduce the size of the repository and make contributing more intuitive. Is also good git practice.

In practice this would be some of `/docs` and maybe also `embeddedDocs` (or are these handwritten).

[2019-04-24 11:20] kevjin commented on #1442
@josdejong just submitted the above PR, thanks!

[2019-04-24 12:46] ericman314 commented on #1486
Sounds like a real challenge, but it feels like the tight direction to take it. Where do we go from here? Do we create a new repo?

[2019-04-24 15:22] josdejong commented on #1486
I think it involves the following steps:

1. Create a proof of concept, get a clear view on the challenges
2. Find someone who likes to pick up this challenge and becomes the "owner" of the project. Since large part of the code was developed by @ericman314 it would make sense to me if it becomes his library, but it totally depends on if you, Eric, like it and feel like you have enough time to crea

[2019-04-24 15:28] harrysarson commented on #1486
I like the idea of making mathjs into a monorepl with one github repo containing multiple npm packages. Although this approach has downsides too.

[2019-04-24 15:44] josdejong commented on #1486
Yes, it's also possible to spin multiple npm packages from the current mono repo.

The reason I'm interested in separating Unit.js is that, like say `Decimal.js`, it becomes even more powerful if it's focused and standalone. Having a mono-repo typically results in the units of functionality becoming entangled. It is harder to make the "right" decisions for Unit.js when the library when it is a sma

[2019-04-24 18:20] josdejong commented on #1442
Thanks Kevin, appreciated!

[2019-04-24 18:20] #1442 closed

[2019-04-24 18:22] josdejong commented on #1442
@kevjin we hope to release a beta version of mathjs@6.0.0 soon, which has a large breaking change for custom bundling: it will come with support for tree-shaking out of the box. Would you be interested in giving it a try as soon as it's in beta? That would be very helpful. See #71 for more information.

[2019-04-24 18:23] harrysarson commented on #1486
That makes a lot of sense 👍

[2019-04-24 18:26] josdejong commented on #1127
Good idea. The markdown files in /docs are generated and the website should be enough for this. The `embeddedDocs` are not auto-generated, we should keep them. In the `modular_architecture` branch there are currently still some index files which are half-auto generated. As soon as that's fully auto generated we can remove them too from the repo.

[2019-04-24 19:22] ericman314 commented on #1486
Sure, I'll take ownership. Sounds like a fun adventure. That part I'm unsure how to do would be injecting other types like Complex and Decimal into the new units module.

[2019-04-24 19:25] josdejong commented on #1486
Cool Eric :sunglasses:

There is no need to know all answers beforehand already, one step at a time.

Have a look at the Unit.js file in the `modular_architecture` branch, I think the new injection mechanism is much cleaner, can give some inspiration on how we could solve it for the new Unit.js library.

[2019-04-25 03:32] ericman314 commented on #1486
All finished: https://github.com/ericman314/unitmath

Just kidding, all it does is output `Hello, World!`

[2019-04-25 09:57] kevjin commented on #1442
@josdejong Absolutely! Just read the discussion and am looking forward to the new changes. Will definitely give it a try :)

[2019-04-25 14:21] ericman314 commented on #1486
I just checked out the dependency mechanism in the `modular_architecture` branch. It looks great! It kind of reminds me of Angular's dependency injection. However, with `unitmath` I would like to try and follow the mantra of "do one thing and do it well." Math.js's strength is in managing dependencies and bringing all the different libraries together. I really would not want to have to repeat that

[2019-04-25 23:06] ericman314 commented on #1486
I've written a proposed API for the new library. If you like we can continue the discussion there: https://github.com/ericman314/unitmath/issues/1

[2019-04-26 10:42] timfish commented on #43
Happy to do a PR.

A great stop-gap solution would be to add `TypedArray` and built in conversions to `Array` as this would at least allow users to pass typed arrays into mathjs.
[code]
Because Typed arrays only contain numbers, they can be targeted so types aren't checked on every element:
[code]

[2019-04-26 14:25] ericman314 commented on #1486
@josdejong, I've written a proposed API for extending the new unitmath library with custom types. Do you think that this API would work with mathjs? (https://github.com/ericman314/unitmath#extending-unitmath)

[2019-04-26 19:01] josdejong commented on #1442
:+1: will keep you posted

[2019-04-26 19:17] josdejong commented on #1486
Man I love it already @ericman314! The API looks really clean and simple.

I'm glad you go for immutable and factory functions instead of constructors with new :). I think your approach with custom functions `add`, `mul` by allowing to _optionally_ override them but have a working solution by default. Setting config looks really elegant!

I'm not sure about the name "extendType". maybe call it "ar

[2019-04-26 21:20] hsmyers commented on #1470
@josdejong I missed your comment. I'll work up a short example and post shortly. Again sorry—I'll slap my Gmail upside o' the head ;)

[2019-04-26 21:47] hsmyers commented on #1470
I write in coffeescript which generates javascript. At any rate, I've attached all. Strip off the ridiculous .txt I've used to defeat the GitHub attachment bug. Should you wish to re-compile, my associated command line is '`coffee --map --bare --compile --output lib/ ./`'

[tj.coffee.txt](https://github.com/josdejong/mathjs/files/3123101/tj.coffee.txt)
[tj.html.txt](https://github.com/josdejong/ma

[2019-04-26 21:51] hsmyers commented on #1470
Here are the files needed. Strip off the .txt extension. If you need to recompile here is the command line 'coffee --map --bare --compile --output lib/ ./`'

[tj.coffee.txt](https://github.com/josdejong/mathjs/files/3123117/tj.coffee.txt)
[tj.html.txt](https://github.com/josdejong/mathjs/files/3123118/tj.html.txt)
[tj.js.map.txt](https://github.com/josdejong/mathjs/files/3123119/tj.js.map.txt)
[tj

[2019-04-26 21:51] hsmyers commented on #1470
Sorry, wrong button…

[2019-04-27 03:59] ericman314 commented on #1486
Thanks for the feedback! You are right that flattening the config would be simpler. No need to overcomplicate things. I actually do find it difficult to use nested config options (think chart.js). The cloning implementation would be a *lot* simpler, too. Maybe prefix each with "custom", to show that it's a custom operator? So, `customAdd`, `customMul`, and so on. I'll think on that.

I also though

[2019-04-27 05:19] ericman314 commented on #1486
I just altered the capitalization in the docs to UnitMath and I like it much better now. (The package name will remain lowercase.)

[2019-04-27 09:57] josdejong commented on #1486
Sounds good going with flat config options. Maybe the "custom" prefixes are a bit superfluous too: any config option you set is per definition custom since it deviates from the default :).

I think you're right about `parseNumber`: it may be redundant since you can pass any numeric type when constructing a unit. KISS?

It makes sense to simply leave the `VAR` unit out of the library, and only crea

[2019-04-27 10:03] josdejong commented on #1470
I'm still not sure how to reproduce your issue. Can you strip the issue you have to a bare-bone example like:

[code]

[2019-04-27 11:33] hsmyers commented on #1470
Yes, I can and will later this morning. I should still be asleep but
foolishly checked my email and saw your response…

On Sat, Apr 27, 2019 at 4:03 AM Jos de Jong <notifications@github.com>
wrote:

[2019-04-27 17:14] hsmyers commented on #1470
Here it is:

<!DOCTYPE html>

What goes in comes back changed. A possible fix would be to change the
math.bignumber.prototype.toJSON to a string version of the original?

On Sat, Apr 27, 2019 at 5:32 AM Hugh S. Myers <hsmyers@gmail.com> wrote:

[2019-04-27 18:06] josdejong commented on #1470
If you want to serialize and deserialize for example a bignumber, you have to use the reviver when parsing, see docs: https://mathjs.org/docs/core/serialization.html

In your example I guess `testBox` will not properly revive because it's not a class known by mathjs.

[2019-04-27 18:21] hsmyers commented on #1470
Excellent! I just tested it by replacing the 'parse' line with

var y = JSON.parse(b, math.json.reviver);

Worked exactly as I would want. Problem solved, pull the switch 😎👍

p.s. for my needs, all that is required is that all bignumbers are
preserved in and out an this is the case with the simple modification.

On Sat, Apr 27, 2019 at 12:06 PM Jos de Jong <notifications@github.com>
wrote:

[2019-04-27 18:28] josdejong commented on #1470
:+1:

[2019-04-27 18:28] #1470 closed

[2019-04-28 14:17] josdejong commented on #1484
Thanks for your offer Dev. I'm still a bit in doubt about what would be the best approach here: passing an option along with `subset`, or using the global option `predictable` for this. I think I have a slight preference for using a global option for this, since inside the editor you use bracket notations like `c = A[1, 2]`, which under the hood uses `subset`, but there is no way to pass an option

[2019-04-28 14:25] josdejong commented on #43
Yes indeed, we can prevent type checking on all elements quite easily, luckily.

I'm not sure about the stop gap solution, it gives a bit of a false sense of support for typed arrays, and it's probably just as easy to create a util function `toArray` which converts your typed arrays to regular a Array before passing to math.js.

We do not have to implement support for typed arrays for _all_ functi

[2019-04-28 15:29] timfish commented on #43
I had assumed that `DenseMatrix` could contain non-number elements so had discounted that. If its only numbers then it would make sense to have it backed by a typed array.

I did notice the the README says:

Typed arrays will work in all the above mentioned environments although I think they are technically ES6. 🤷‍♂

[2019-04-28 15:54] josdejong commented on #43
Yes that is correct. I was just thinking about a more generic Matrix implementation which allows you to select different types of Arrays to be used under the hood. In case of regular Arrays, the elements can contain any data type. Or maybe we should enforce all elements to have the same type. Just thinking aloud here. Most important and difficult change would be to change from a nested Array to a

[2019-04-28 20:47] harrysarson commented on #1127
Updated to make note of dropping node 6.

[2019-04-29 02:09] DbCrWk commented on #1484
Sounds good! I'll take a crack at it.

[2019-04-29 06:21] josdejong commented on #1484
Cool, thanks!

This will be a breaking change so we have to schedule when to release.

@DbCrWk can you please work from the `modular_architecture` branch instead of `develop`? That will save us some merge conflicts. We're about to release a large, breaking refactor of mathjs, which for example has a different dependency injection mechanism. See #71.

[2019-04-30 00:08] DbCrWk commented on #1484
Cool, will do

[2019-04-30 19:44] josdejong commented on #71
After a half year of hard work I've just published `v6.0.0-beta.0`, the first beta release for mathjs v6 :tada:

[code]

How can you help?

- Test how it works, if the new API makes sense or is too complicated.
- Test if mathjs works correctly in your setup (node.js and ES6 module environments).
- See if deprecated functionality gives clear error/warning messages on how to fix them.

How to try th

[2019-04-30 21:17] josdejong commented on #71
Argh! I just noticed that the beta release is missing the new index files (must me on a whitelist). Fill fix that asap tomorrow with a new beta release.

[2019-05-01 11:36] josdejong commented on #71
ES6 indexes working now in `mathjs@6.0.0-beta.1`, please give it a try. Feedback very welcome!

[2019-05-02 09:25] nicholasnbg commented on #1334
Hey @josdejong I'd be keen to have a crack at this one.

Am I correct that the **default** option would be to have implicit multiplication enabled?

[2019-05-02 18:53] josdejong commented on #71
I've just merged `modular_architecture` into `develop`, let's do any further development in the new v6 codebase to prevent merge conflicts and refactors.

[2019-05-02 18:54] josdejong commented on #1345
FYI: I've merged `modular_architecture` into `develop` now.

[2019-05-02 18:55] josdejong commented on #1473
FYI: I've merged `modular_architecture` into `develop` now.

[2019-05-02 18:55] josdejong commented on #1483
FYI: I've merged `modular_architecture` into `develop` now.

[2019-05-02 18:56] josdejong commented on #1484
Dev, I've just merged `modular_architecture` into `develop`, so please continue any work there again.

[2019-05-02 19:01] josdejong commented on #1334
Thanks Nick!

I'm open to discuss both default options. We can say that implicit multiplication is tricky and turn it off by default. Or we could say let's keep everything backward compatible and leave it on by default (I guess that would be the easy way). Do you have any thoughts or preferences in this regard?

FYI: I've just merged the `modular_architecture` branch into `develop`, which contains

[2019-05-02 20:15] ericman314 commented on #1345
Do you want to try to finish this before releasing V6?

On Thu, May 2, 2019, 12:54 PM Jos de Jong <notifications@github.com> wrote:

[2019-05-02 20:19] josdejong commented on #1345
I don't think so, moving the code will not result in a breaking change would it?

[2019-05-02 21:07] ericman314 commented on #1345
It could result in some minor breaking changes, yes. I'm taking the
opportunity to improve some things with the code, and there could be some
corner cases that are different. I am hoping to minimize those changes,
though.

On Thu, May 2, 2019, 2:19 PM Jos de Jong <notifications@github.com> wrote:

[2019-05-03 08:05] saivan commented on #71
Awesome job @josdejong :)

[2019-05-03 18:04] josdejong commented on #1345
Ah ok. Well, the final v6 is still weeks away. It's both fine if you catch this train or the next. It's ready when it's ready :)

[2019-05-04 08:10] #1428 closed

[2019-05-04 09:19] nicholasnbg commented on #1334
I think keeping the change backwards compatible is best, but this is my first contribution to this so I'd leave decisions up to those more experiences such as yourself.

[2019-05-04 10:37] josdejong commented on #1334
Ok let's keep it backward compatible then! We can always reconsider the default value in the future if we want.

[2019-05-04 21:12] harrysarson opened #1498 "tests/README.md very out of date"
The file https://github.com/josdejong/mathjs/blob/develop/test/README.md has not been updated in 6 years and contains information that is no longer correct.

Not sure what the best thing to do with this file is but maybe we can just delete it.

[2019-05-05 07:41] josdejong commented on #1498
:joy: yes I will remove it

[2019-05-05 07:43] #1498 closed

[2019-05-05 21:00] ericman314 commented on #1345
The new library is making good progress. I think we could have a stable API ready in time for v6.

[2019-05-06 18:14] josdejong commented on #1345
:sunglasses:

[2019-05-06 22:50] nicholasnbg commented on #1334
Hey Josdejong,

I've implemented the config option, just to clarify, is implementing the logic for performing (or not) the implicit multiplication in scope here? Or is that a separate issue.

Also I have not been able to reproduce the behaviour in the original comment, I get the expected syntax error.

[2019-05-07 07:50] josdejong commented on #1334
Awesome! I think there is no need to change the implicit multiplication functionality itself (in `parse.js`), only to enable/disable it via a config option.

The original issue is about the precedence of implicit multiplication not matching the expectations in all cases, but that will remain an the issue no matter what choices we make. I propose not to make changes in that regard.

[2019-05-09 17:45] josdejong commented on #1428
FYI: I've merged the fix in the `develop` branch now, `v6.0.0` is almost ready.

[2019-05-12 13:30] josdejong commented on #71
I've now worked out the scripts to automatically generate all entry/index files needed for ES6 import and tree shaking. The files `*.generated.js` under `/src/entry` are not commited in the repo anymore.

So, to create a new function now, all you have to do is create a new file containing the function implementation, and add an export of it in `/src/factoriesAny.js` (and similarly we have `/src/fa

[2019-05-15 12:28] harrysarson opened #1511 "Feedback on v6"
I haven't had a chance to dig too deep into version 6 yet but:

 a) it looks great!
 b) There are a couple of points of feedback I do have.

1. The repo contains quite a lot of things.
  Whilst searching for the correct files to include to take advantage of the modular architecture, I was a bit overwhelmed by the number of files hanging around.
  There are:
    *  core.js (depreciated)
    *  inde

[2019-05-15 19:14] josdejong commented on #1511
Thanks for your feedback @harrysarson, that really helps.

The docs aren't updated yet, sorry (see ["Still to do"](https://github.com/josdejong/mathjs/issues/71#issuecomment-488089077)). The best starting point is looking at [the short explanation in the history](https://github.com/josdejong/mathjs/blob/develop/HISTORY.md#2019-04-31-version-600-beta1), and [the examples](https://github.com/josdejo

[2019-05-16 16:10] jstafford opened #1512 "format in engineering notation with precision < 3 can produce incorrect results"
Numbers such as 100e3, which is a perfectly valid engineering notation number, will be formatted as 10e3 when the precisions is set to 2. Formatting a number should never change its value. This is a general bug whenever the engineering notation would require a significand with more digits than the specified precision.

Example code:
[code]

[2019-05-16 18:11] josdejong commented on #1512
Thanks for reporting Jason, this is definitely a bug. There is something really weird going on:

[code]

[2019-05-16 19:53] josdejong commented on #1512
Proposed a fix in #1513

[2019-05-16 20:51] harrysarson commented on #1511
The HISTORY.md explainers are very helpful!

Yes.

---

My mistake was I intuatively reached for `import { something } from 'mathjs/something';` whereas I now see that all imports are from `'mathjs'` and treeshaking works it's magic 👍

[2019-05-16 20:51] #1511 closed

[2019-05-17 06:45] josdejong commented on #1511
:dancing_women:

[2019-05-17 17:48] #1512 closed

[2019-05-17 17:51] josdejong commented on #1512
This issue should be fixed now in `v5.10.1`. @jstafford can you give it a try?

[2019-05-17 20:34] cmccall opened #1515 "Error when importing most recently published version (v5.10.1)"
We have a dependency on mathjs. No code around it has changed in quite some time, but today I started seeing the following error trace:
[code]

This occurs at module load time (the code that uses mathjs is not yet called) -- I suspect this is an issue with the latest published version? The semver range in our package.json allowed for this latest publish to be grabbed. Changing our semver import to

[2019-05-17 20:47] josdejong commented on #1515
Thanks for reporting. Did this issue start when jumping from `v5.10.0` to `v5.10.1`? Or somewhere between `v5.3.0` and the latest version?

[2019-05-17 21:09] cmccall commented on #1515
Somewhere between 5.3.0 and 5.10.1 -- looking at my package-lock, I can verify it was fine at
`5.4.0`as well as thats the last locked version we had. I've done a full rebuild after the verification that 5.3.0 was working and gone back to 5.10.1 to re-verify and it seems to be working fine now, so I can no longer reproduce.

I'm guessing it was some snafu in transferring the tarball between npm and

[2019-05-17 21:56] chenosaurus opened #1516 "5.10.1 has a typo that crashes on load"
After installing 5.10.1, there's crash immediately on load.

[code]

If I rollback to 5.10.0, everything works.

[2019-05-17 21:56] chenosaurus commented on #1516
my test script is simply this:

[code]

[2019-05-17 21:59] harrysarson commented on #1515
We have had another report of this #1516. Lets investigate this there

[2019-05-17 22:00] #1515 closed

[2019-05-17 22:09] jstafford commented on #1512
I did a yearn upgrade and reran my test app. I get the following error:
[code]
I don't know why this is happening. I will investigate further.

[2019-05-17 22:23] neuronaut opened #1517 "Error occurs when requiring mathjs 5.10.1 in node.js"
As I get a different error I'm not sure whether this is the same as issue #1516, but when I require mathjs 5.10.1 in node.js (I'm using 12.1 if that makes a difference) I get the following error: "Factory object with properties \`type\`, \`name\`, and \`factory\` expected"

My steps to repro are:

`$ mkdir mathjs-test; cd mathjs-test`
`$ yarn init` (use all defaults here)
`$ yarn add mathjs`
`$ no

[2019-05-17 22:28] harrysarson commented on #1517
What version of mathjs did you upgrade from?

[2019-05-17 22:30] neuronaut commented on #1517
In my test project I didn't upgrade -- just did a direct install of the latest (5.10.1). In my real project I was using 5.8.0 and later 5.9.0 both without issue, but got the above error after upgrading.

[2019-05-17 22:34] harrysarson commented on #1517
What OS are you on?

[2019-05-17 22:34] jstafford commented on #1512
Well, I can't figure it out. I did a ```yarn remove mathjs``` and a ```yarn add mathjs``` and got the same problem. Verified that the version of mathjs is 5.10.1. Looked into the code and sure enough getArrayDataType doesn't have type and name like the error message says. But it doesn't seem like object isFactory is actually checking for either of those. (Though the comments do indicate that it is

[2019-05-17 22:35] harrysarson commented on #1516
Hi, which OS are you running?

[2019-05-17 22:36] harrysarson commented on #1517
Lets investigate over at #1516

[2019-05-17 22:36] #1517 closed

[2019-05-17 22:36] chenosaurus commented on #1516
OS X 10.14
node v8.9.4

[2019-05-17 22:37] harrysarson commented on #1516
The published npm package has two files in:

[code]

(see https://unpkg.com/mathjs@5.10.1/lib/function/utils/)

[2019-05-17 22:38] neuronaut commented on #1516
I'm on macOS 10.14.4 and node.js 12.1.0

[2019-05-17 22:38] harrysarson commented on #1516
I have no idea how these two files got there but I think they are the cause of the bug, it will only show up on certain file systems which are case sensitive. I think mac OS is case sensitive.

[2019-05-17 22:38] harrysarson commented on #1516
Yeah, is a mac thing 😨

[2019-05-17 22:40] chenosaurus commented on #1516
Just tested on Linux and it's okay, only crashes on Mac.

[2019-05-17 22:41] neuronaut commented on #1516
macOS's filesystem isn't case sensitive (unless you enable that) so typeof.js is probably overwriting typeOf.js (I only have the lowercase version).

[2019-05-17 22:43] harrysarson commented on #1516
@josdejong something went wrong during the release. Hopefully the following will fix:

* Clean your local copy of mathjs.
* Release mathjs v5.10.2.
* Check that https://unpkg.com/mathjs@latest/lib/function/utils/ does not contain typeOf.js (only typeof.js)

---

This is some sort of build error. @chenosaurus @neuronaut @chenosaurus  for now pin your version of mathjs at 5.10.0 we can hope for the

[2019-05-17 22:43] harrysarson commented on #1516
For the record, I cannot reproduce on linux or windows.

[2019-05-18 00:31] rcketscientist commented on #1516
I'm seeing the same thing.  #1516 is also the same error, but with the garbage reporting of Karma3.

[code]

[2019-05-18 06:23] josdejong commented on #1516
Ai! I messed up the `v5.10.1` release :flushed:. Should be fixed now in `v5.10.2` via https://github.com/josdejong/mathjs/commit/80fa60f75da0dfe5faacd0943804e9fc6dc6496b. Sorry for the trouble!

The cause was that the build script did not clean the build folders (`lib` and `dist`) before building. This never led to issues because renaming files hardly happened and even if there where left over fil

[2019-05-18 06:23] #1516 closed

[2019-05-18 06:26] josdejong commented on #1512
I messed up `v5.10.1` yesterday, sorry for that. See https://github.com/josdejong/mathjs/issues/1516#issuecomment-493652418 for details.

Can you give `v5.10.2` a try and see if it fixes the original issue of the `engineering` notation?

[2019-05-18 17:32] jstafford commented on #1512
I've tested v5.10.3 with our use case and it fixes the problem as far as I can see. Thanks for jumping on this so quickly.

[2019-05-18 18:02] josdejong commented on #1512
:+1: good to hear

[2019-05-20 04:02] ericman314 commented on #1486
Version 0.2.1 of UnitMath was just released. It is nearing a stable API. I haven't tested it with custom types yet, but trying to integrate it into Math.js might be the perfect opportunity to put it through its paces. What branch should we be basing this work on?

[2019-05-20 04:05] ajbouh commented on #1486
Hope this isn't too far off topic for this, but I have a sort of meta custom type that I've put together for dealing with sums of different unit types. I'd love to contribute it back upstream if there's interest.

[2019-05-20 04:10] ericman314 commented on #1486
Absolutely, you can find the project here: https://github.com/ericman314/UnitMath

[2019-05-20 18:33] josdejong commented on #1486
That's awesome news @ericman314 :sunglasses: ! You can start a new feature branch based on `develop`, like `feature/unitmath`.

[2019-05-20 18:42] josdejong commented on #1209
Addressed via #1518

[2019-05-20 18:42] #1209 closed

[2019-05-20 18:42] josdejong commented on #1043
Addressed via #1518

[2019-05-20 18:42] #1043 closed

[2019-05-20 19:18] ajbouh commented on #1486
Thanks, I just added https://github.com/ericman314/UnitMath/issues/13

[2019-05-21 13:44] ericman314 opened #1521 "Redefinition of SI units and physical constants"
On May 20, 2019, new definitions of SI base units came into effect. This means that some physical quantities which before were determined experimentally, are now defined exactly. We should check the physical constants to ensure the values are correct.

[2019-05-21 17:50] josdejong commented on #1521
:+1:

[2019-05-21 18:46] josdejong commented on #71
I've just published `mathjs@beta6.0.0-beta.2`, all docs are updated now. @harrysarson I hope that helps in further testing the library :)

[2019-05-21 21:48] harrysarson commented on #1521
I believe that no numerical values changed. However, it is possible that wikipedia is not the source of _all_ knowledge.

[2019-05-21 22:03] ericman314 commented on #1521
Here are some I found:

Constant | Old (mathjs) | New (2019)
-|-|-
planckConstant | 6.626069311e-34 | 6.62607015e-34
elementaryCharge | 1.60217656535e-19 | 1.602176634e-19
boltzmann | 1.380648813e-23 | 1.380649e-23
avogadro | 6.0221412927e23 |  6.02214076e-23

There are a few others as well. I can get a PR together tonight or tomorrow if no one else can.

[2019-05-23 21:27] jstafford opened #1530 "When rounding numbers, lowerExp is not always respected"
This is a fairly minor nit picky bug, but we ran into it because we're making a UI that exposes format settings to the end user and this case turned up in testing.

Consider the scenario where formatting options are:
notation = ‘auto’
precision = 1
lowerExp = -2

The format the following numbers 0.009, 0.0096, and 0.01
input: 0.009, output: 9e-3 as expected
input 0.0096, output 1e-2 but expected 0

[2019-05-24 10:13] anat opened #1531 "Nuxt + mathjs = Pre-generated OK, Client OK, server side (Node.js) KO"
Hi everybody,

I'm trying to get my project working on server side (dev) using Nuxt + Math.js.

It actually works on Client (chrome) side and using "nuxt generate" (npm run generate) but it is not working on SSR (Debug).

:heavy_check_mark: Client
:heavy_check_mark: Generated (nuxt generate)
:japanese_goblin: SSR (dev)

## First issue

`No access to property "foo"`

Inside mathjs the function call

[2019-05-25 13:51] #1530 closed

[2019-05-25 13:54] josdejong commented on #1530
Thanks for reporting Jason, that's an interesting case. It turned out the formatting function did _first_ apply the boundaries `lowerExp` and `upperExp`, and _after_ that did the rounding of the number.

Fixed via: https://github.com/josdejong/mathjs/commit/f54599a7013f4623b30cf1f9ef9834d026c9204a, scheduled for v6.0.0.

[2019-05-25 14:21] josdejong commented on #1531
Thanks for your detailed report and project which replicates the issue @anat .

I can imagine this has to do with the `scope.constructor === Object` check. Could it be that the code runs in a different JS envionment, similar to having a JavaScript running in an isolated iframe?

The `getSafeProperty` method is there to prevent security issues, we should be really careful making changes/fixes there

[2019-05-26 14:08] josdejong commented on #1486
@ericman314 v6 is about ready to release, I hope to publish the last beta version today. After that I want to write a blog post about it, work on some nice-to-haves. The real release can be done in one or two weeks from my point of view, but it would be great to have `unitmath` integrated too.

What is the status of `unitmath` and when do you realistically think we could have it integrated in math

[2019-05-26 15:25] ericman314 commented on #1486
UnitMath is getting very close. Since mathjs will be its biggest user at first, having it fully integrated and working would be a good indicator that it has reached a stable api. Otherwise I'm afraid it would just increment minor versions forever without reaching v1. I'll need some help integrating it though, as I'm unfamiliar with mathjs@6's new architecture. A couple weeks might be a little fast

[2019-05-26 15:47] harrysarson commented on #1486
I have some time on my hands from Friday onwards and happy to help piping UnitMath into mathjs

[2019-05-26 16:07] ajbouh commented on #1486
Will the new architecture make it possible to define units limited to a
specific scope?

On Sun, May 26, 2019, 08:47 Harry Sarson <notifications@github.com> wrote:

[2019-05-26 17:25] ericman314 commented on #1486
Yes, that should be possible.

[2019-05-26 18:17] josdejong opened #1532 "Breaking changes for v7"
- [x] Conjugate dot product of complex values. See #1761
- [x] Drop support for node 8.
- [x] Clean up deprecation warnings

[2019-05-26 18:18] josdejong commented on #1532
The issue #864 is not going to make it in v6, scheduling for v7

[2019-05-26 18:21] #1473 closed

[2019-05-26 18:23] josdejong commented on #1473
I've removed all occurrences of `'use strict'` now. I've double checked whether we're still in strict mode using the function from [the stackoverflow issue](https://stackoverflow.com/questions/10480108/is-there-any-way-to-check-if-strict-mode-is-enforced) mentioned by Eric, tested in browser and node.js and in both cases we're ok. The browser bundle generated by Webpack does add one `'use strict'`

[2019-05-26 18:28] josdejong commented on #1486
Cool sounds good Eric! Coming Tuesday or Wednesday I can setup a branch starting to import `unitmath` and replace the old `Unit` class. From there the three of us (Eric, Harry, me) can work on the branch fixing broken tests and whatever comes along. Does that sound like a plan?

[2019-05-26 21:33] harrysarson commented on #1473
Perfect!

[2019-05-26 21:36] harrysarson commented on #1127
One last request for v6: we have a lot of testing related directories in the top level of mathjs. (A large fraction of them put there by me.) If I can find a way to consolidate them into one (or maybe two) directories I think it would make the mathjs repo easier to use.

[2019-05-27 17:42] josdejong commented on #1127
Thanks a very good idea Harry!

Here an idea:

from | to
----| ----
`test` | `test/unit-tests`
`test-generated` | `test/generated-code-tests`
`test-node` | `test/node-tests` or `test/integration-tests`
`benchmark` | `test/benchmark`
`browser-test-config` | `test/browser-test-config`
`img` | `misc/img`
`es5` | `main/es5`
`es6` | `main/es6`
`composer.json` | drop it?

[2019-05-27 18:54] harrysarson commented on #1127
Looks perfect!

[2019-05-27 19:14] josdejong commented on #1486
Here we go: https://github.com/josdejong/mathjs/tree/unitmath (almost 200 tests failing at this moment, probably just a few causes)

[2019-05-27 19:31] josdejong commented on #1127
Ok I will move the directories around and update the build scripts.

[2019-05-27 19:43] ericman314 commented on #1486
Awesome! I'll get to work on it.

[2019-05-27 19:44] ericman314 commented on #1486
Oh and it's probably more than just a few causes, I made quite a few changes to the library. Hopefully they are all improvements!

[2019-05-27 22:56] ericman314 commented on #1486
Here are a few things items I've found:

- [ ] All of the `createUnit` tests are failing. UnitMath's custom unit definitions were totally redone. We'll need to create a wrapper for `createUnit` that reconfigures UnitMath with the new unit definition(s).
- [x] A unit's value is now stored in the "denormalized" format rather than the "normalized" (SI) format, and those functions are private now. Wil

[2019-05-28 06:34] ericman314 commented on #1486
I think this is because the `conv` function that converts to the custom type is configured according to math.config, so no matter what type of value you give to the unit constructor, it converts it to the type given by math.config. For example, if I config UnitMath for using Fractions, and then I call `unit(BigNumber)`, the unit constructor will call `conv` which will convert my BigNumber to a fra

[2019-05-29 18:52] josdejong commented on #1486
:+1:  it will be a puzzle indeed.

The `conv` function that I implemented in the feature branch should indeed leave inputs as they are except when the input is a string, I hadn't thought about that. I'm not sure about your crazy idea though. Except for facilitating a custom parse function, I think `unitmath` should stay away from handling custom types - it should just accept what comes out of the

[2019-05-29 19:41] ericman314 commented on #1486
Yes, I think unitmath should remain blind to how the custom types work. I just am not sure how to make it work. Let's say unitmath has a function called `timesTwo`:

[code]

Mathjs can't know, inside `conv`, what type to convert the number `2` to. Maybe the answer is to leave it as a number and let `math.multiplyScalar` take care of it. Anyway, the crazy idea is to include an instance of a custom

[2019-05-29 20:25] josdejong commented on #1486
And how about something like this?

[code]

[2019-05-29 20:42] ericman314 commented on #1486
I was thinking about this more:

If math.js tries to multiply a `Fraction` and a `number`, the result would be a `Fraction`, wouldn't it?

[2019-05-29 23:42] ericman314 commented on #1486
I've had the best luck with this for `conv`:

[code]

I think at this point most of the tests are failing due to formatting issues. There are still some problems with implicit conversion of numbers to BigNumbers. Perhaps this could be fixed by using your suggestion, Jos, of recasting all the hard-coded numbers in UnitMath to strings. Built-in units would store their numbers as strings, which `conv

[2019-05-30 11:00] josdejong commented on #1486
If you want to go puristic and fully support custom numeric types, I think `unitmath` should parse any numeric value from string into a custom numeric type. This could yield a performance penalty, though I _think_ that's negligible, especially when applying say memoization or some other caching technique.

However, practically seen, most units do not have a precision higher than what can be expres

[2019-05-30 13:05] ericman314 commented on #1486
Yeah I'd like that. I think what I'll try to do is define hard-coded numbers as strings instead. That should hopefully avoid the errors we've been getting converting numbers to Fraction and BigNumbers.

Then it could silently convert those strings to the custom type and cache them for a performance improvement.

And by default, the conversion function will continue to support either numbers or str

[2019-05-30 15:39] ericman314 commented on #1486
Already running into trouble. Consider this function in `denormalize()` that converts the `value` of a unit from base quantities (for example, the value `0.0254` is converted to `1` in `1 inch`)

[code]

Now consider the following test:

[code]

The error occurs at `unit3.div(unit4)`, when denormalizing `1 in^2`. The variables `unitValue`, `unitPrefixValue`, and `unitPower` are all numbers, on acc

[2019-05-30 15:46] ericman314 commented on #1486
What if we created wrappers for `div`, `mul`, etc. in `function/unit.js`. that inspect the types of the arguments and promote them as necessary to avoid the implicit conversion error? Although that is what `typed-function` does already, except it doesn't allow the implicit conversion from numbers with > 15 digits.

[2019-05-30 18:08] josdejong commented on #1486
Creating wrappers in `function/unit.js` where needed is definitely a good idea wherever we need to solve conflicts between `mathjs` and `mathunit`.

If working from strings internally gives too much complications, it may be best to just work from numbers internally instead. Or does that not solve these complications? The old `Unit.js` class in mathjs used numbers internally, which worked fine righ

[2019-05-30 18:50] ericman314 commented on #1486
Just gave it a try, and fewer tests are failing than ever before! We may be on to something.

[code]

[2019-05-31 00:41] ericman314 commented on #1486
I think for the most part the type problems have been resolved. Do you want pull the changes so far into the `unitmath` branch? https://github.com/ericman314/mathjs/tree/unitmath-test-fixes

[2019-06-01 06:10] josdejong commented on #1486
That's good news! Yes feel free to merge your changes into the `unitmath` branch and continue fixing and tweaking there.

[2019-06-01 06:50] vankop opened #1535 "expression loader"
Hi!

I didn't find webpack loader for mathjs expressions, so I decided to write it 😁 See https://github.com/vankop/mathjs-webpack-loader

It will be great, if you decided to official support it, or create your own.

Also I faced with problem, that I can't just use `mathjs.json.reviver` on root object, so I need to `revive` nodes recursively. It will be great to implement `revive` method for plain

[2019-06-01 17:19] josdejong commented on #1535
Thanks for sharing. I don't fully understand your loader, when and why would I need it?

Do you use the JSON recover the right way? It does work recursive, check out the docs for examples.

[2019-06-01 18:12] ericman314 commented on #1486
There was an issue with round-off error due to floating point arithmetic that was then getting proprogated into Fractions, so I caved and added a second parameter to `conv` to provide a hint as to which type to convert to. Now that test passes because the arithmetic is done using Fractions, not floating point. I don't particularly like this solution, and I'm leaving that second parameter undocumen

[2019-06-01 21:49] ajbouh opened #1536 "Support for UnitSum, for adding values with different units"
There are a number of scenarios where you would like to aggregate units of different types together in a "sum".

A simple example might be ingredients for a recipe. Native support for a unit sum makes it easy to do things like combine the ingredients for any number of recipes together with simple addition.

Beyond addition, there are other operations that make sense in the context of a UnitSum. Fo

[2019-06-02 00:02] ericman314 commented on #1486
I'm trying the multiple instances of `unitmath` approach, and I'd like to be able to call `Unit` from within `divideScalar.js` (and others) so that the wrapper around the `Unit` constructor can select the correct instance of `unitmath` in case the value type needs to be upgraded. But I'm having trouble importing `Unit` into `divideScalar.js`. When I add `Unit` to the dependencies, I get some kind

[2019-06-02 06:20] vankop commented on #1535
For example, html book splitted by chapters with N formulas in each chapter. So creating parsed expression on fly could be a bit expensive + there is no need to create N functions to compute formulas (writing code autogeneration for this will be overkill) + this code powered by webpack =) we can use code-splitting (creating one chunk on each chapter).

[2019-06-02 17:21] backspaces commented on #1175
Any progress?

[2019-06-02 18:57] josdejong commented on #1175
I haven't had any update about it.

[2019-06-02 19:05] josdejong commented on #1486
We may indeed need to adjust the unit tests of mathjs to the new way that unitmath works.

That's correct. I was able to remove most circular dependencies in `mathjs`. In some cases I moved functionality into separate util files. In some cases I was able to keep a dependency on say `BigNumber` or `Unit` implicit by accessing it's constructor from a passed Unit instance itself, see for example [cos

[2019-06-02 19:26] josdejong commented on #1535
Like in a static site or html generator? I'm still trying to grasp the use-case your loader. I sort of get it but it feels quite devious to solve something like this on the level of Webpack instead of having it handled by the site generator. It's probably me, but I also don't understand the examples: I would expect not having to load mathjs and call .compile and stuff like?

[2019-06-03 01:38] ericman314 commented on #1486
Yes I saw that trick you used in `unit.js` of accessing the constructor from an instance. Unfortunately, in my `unitmath-single-type-instances` branch, there are 4 constructors and the `Unit` function itself chooses the correct one to use. I know there is a right way to do this, we just need to find it.

[2019-06-03 14:08] TheImpressionist commented on #834
I've been looking into this as well recently. I've been writing my own lexer and parser for an own proto-editor, just for fun and/or potentially integrating that with our product which has a formula editor that is quite basic.

I should have a bit more time in the coming weeks. I could take a look at getting a simple ruleset going for codemirror.

I've used codemirror on very basic terms in the pa

[2019-06-03 15:12] jpatel3 commented on #834
Sorry, haven't got much time to check on this. Would love to spend time someday on it.

[2019-06-03 19:29] josdejong commented on #1486
1. About `conv`: it indeed feels dirty to provide this hint as to which type to convert to, and the `promoteArgs` function also feels relatively complicated. I think it will help to first resolve the other open ends, and when everything more or less works, revisit `conv` and `promoteArgs` to see if we can find a better solution.
2. About comparison of complex numbers: I can think of a few directio

[2019-06-03 19:42] josdejong commented on #1536
That's a funny idea Adam, thanks for sharing. It feels quite specialistic to me though, I'm not sure if this is something useful to many people in many situations. I think it's great to share as a separate npm library, as an extension of mathjs, and not integrate it with mathjs itself because it's quite a niche.

Thinking aloud: something like this could really shine in a "recipe calculator assist

[2019-06-03 19:46] ericman314 commented on #1486
Another equally horrific solution is to make the unit wrapper a state
machine that keeps track of the most recent unit type and then coerce
future arithmetic operations to that type. Like I said, horrific. But if we
rule out all the bad ideas, the only left will be the right answer!

Your other ideas sound good. I think I will have time during the next few
days to work on it.

On Mon, Jun 3, 2019,

[2019-06-03 19:48] josdejong commented on #1486
:joy: that's the spirit.

Yeah it's quite a challenge. It all feels to complicated. Maybe we need some sort of `hook` allowing us to expose extra methods on units or so. Or maybe we need to accept that the behaviour will not be as it was before and has certain limitations.

[2019-06-04 09:48] vankop commented on #1535
No, it is isomorphic app.

[2019-06-04 16:22] #1535 closed

[2019-06-04 17:21] josdejong commented on #1535
:+1: thanks for sharing.

[2019-06-05 04:24] ericman314 commented on #1486
Finally had some time to read through and respond to your comments above:

1. I think I've got the conversions working using the dirty trick with `conv`. I don't think it's that bad of a hack, but we'll keep an issue open about improving it in the future.

2. For complex numbers, I made yet another wrapper around the custom operators to do `abs` before comparing them. Considering where the compari

[2019-06-05 07:30] josdejong commented on #1486
- 3 `toNumeric`: sounds good, then this method is simply replaced with `u.to('kg').value`. Would be neat to attach a `toNumeric` and `toNumber` with a deprecation warning.
- 5 I think we can't do anything about that, it's indeed because unitmath is immutable, which brings us a lot of good though this is a limitation.
- 6 We indeed need quite some mathjs specific extension, which currently is trick

[2019-06-05 08:51] ericman314 commented on #1486
Works for me. I'll add `afterCreate` and you can go ahead with v6 and we'll get unitmath ready for v7.

[2019-06-05 09:01] josdejong commented on #1486
Ok cool :+1:

[2019-06-05 09:59] josdejong commented on #1127
The folders are reorganized now.

[2019-06-05 10:22] josdejong commented on #71
I've published `mathjs@beta6.0.0-beta.3`. This is the last beta, all is ready. I hope to do the final release of `mathjs@6.0.0` release coming weekend.

[2019-06-06 20:08] willfarrell opened #1538 "math.unit(number, unit) doesn't use BigNumber when specified"
Was thinking `math.unit(number, unit)` would be faster, but instead found it returning the wrong value.

[code]

[2019-06-06 20:38] #1538 closed

[2019-06-06 20:38] willfarrell commented on #1538
Reading the docs in more details, `toNumeric` should be used instead.

[2019-06-08 19:17] josdejong commented on #71
I've published `mathjs@6.0.0` :tada: enjoy!!

Tomorrow I want to publish a blog post about it.

[2019-06-09 10:27] josdejong commented on #71
Blog post available here: https://josdejong.com/blog/2019/06/08/mathjs-v6-a-monolith-turned-modular/

will close this issue now :)

[2019-06-09 10:27] #71 closed

[2019-06-09 15:17] jtenner opened #1539 "@types/mathjs out of date"
To use import syntax for the variance function, it requires a commented `@ts-ignore` directive to force the TypeScript compiler to pass. I don't mind submitting a pull request, I just need to know which repo I need to fork to fix this.

[code]

I happen to be using this library in my `as-pect` cli testing suite and have had great success in getting my Web Assembly modules tested with performance m

[2019-06-09 16:28] josdejong commented on #1539
There is a TypeScript in definition for mathjs in https://github.com/DefinitelyTyped/DefinitelyTyped. Mathjs itself is plain JavaScript. I think it can use some updates, since yesterday we released v6.0.0 with some breaking changes in the API.

[2019-06-09 18:07] jtenner commented on #1539
Ah okay. So I would have to fork @types/mathjs

Is there an easy way of getting the list of changes to submit a pull request?

[2019-06-09 18:35] josdejong commented on #1539
Thanks for picking this up!

The changes are described in the HISTORY.md:

https://github.com/josdejong/mathjs/blob/develop/HISTORY.md#2019-06-08-version-600

does that help?

[2019-06-09 19:32] jtenner commented on #1539
I'll try to inspect the source code.  If you don't mind, it might be a day or two.

[2019-06-10 20:18] #1127 closed

[2019-06-11 07:46] iongion opened #1540 "Is there a CHANGELOG"
Can you guys add a changelog file ?
Are there any breaking changes between `5.10.3`  →  `6.0.1` ?
It seems a major release.

[2019-06-11 08:23] harrysarson commented on #1540
Have you found HISTORY.md? We describe the changes for version 6 in detail there :)

[2019-06-11 08:28] iongion commented on #1540
Great, sorry !!

[2019-06-11 08:28] #1540 closed

[2019-06-13 10:42] Big-Gremlin opened #1543 "Objects like simple values in expressions"
Is it possible to use objects like simple values?

Example:
[code]

Can a special function be used, such as toString () or something similar?

[code]

[2019-06-14 18:57] twiertzema opened #1544 "`TypeError: Factory, Object, or Array expected` when custom bundling"
When attempting to pull in only the parts of the library that I need (following the examples from https://mathjs.org/docs/custom_bundling.html), I receive the following error:
[code]
This is my importing code:
[code]

I am using version `6.0.2`.

[2019-06-14 21:54] josdejong commented on #1544
The `create` function expects factory functions, like `matrixDependencies` and `multiplyDependencies`. The docs page you're referring to shows an example: https://mathjs.org/docs/custom_bundling.html

[2019-06-17 11:16] naseemali925 opened #1545 "Units Like `gallon / min` Cannot Be Created?"
Hi,
I am trying to use the library to create new units. But units like `gallon / min` on creation throw error?

Any help would be appreciated.

[2019-06-17 14:51] ericman314 commented on #1545
Try `gallon / minute`. `min` is actually the minimum function.

[2019-06-18 05:08] naseemali925 commented on #1545
Hi @ericman314 `gallon / minute.min` Doesn't Works.
Could you suggest something that works?

[2019-06-18 05:17] ericman314 commented on #1545
Can you provide a small code sample?

[2019-06-18 05:26] naseemali925 commented on #1545
@ericman314 Code Sample
[code]

[2019-06-18 13:00] ericman314 commented on #1545
Thanks @naseemali925. The first argument to `createUnit` is the name of the new unit, and it has to be alphanumeric. The second argument is the definition of the new unit.

Like this:

[code]

[2019-06-19 07:19] josdejong commented on #1144
I think we forgot to close this issue, the functions are already implemented a while ago.

[2019-06-19 07:19] #1144 closed

[2019-06-19 07:22] josdejong commented on #1543
It is possible to add support for a new data type and do calculations with it in the expression parser. You can find a small demo here:

https://github.com/josdejong/mathjs/blob/develop/examples/advanced/custom_datatype.js

is that what you mean?

[2019-06-19 08:34] zcohan opened #1546 "Unexpected cubed inches in unit calculation result"
These unit expressions evaluate correctly:
[code]

But performing them both in one operation produces a result in terms of kg cubed inches:

[code]

I was expecting `96 litres kg`.

I tried bracketing, but it doesn't change the result:
[code]

[2019-06-19 09:10] naseemali925 commented on #1545
Thanks @ericman314 This Helped A Lot. Solved My Issue.

[2019-06-19 09:10] #1545 closed

[2019-06-19 12:49] ericman314 commented on #1546
Thanks @zcohan for reporting. This is yet another consequence of the helpful (?) auto unit system. We recently split off `Unit.js` into its own [library](https://github.com/ericman314/unitmath) and made some major modifications to make all the operations on units deterministic. We're just working on getting it integrated into Math.js. We're hoping to have it ready for v7.

[2019-06-20 18:25] raydlevel5 opened #1547 "bignumber() result is in an array?"
Hey!  I'm dealing with a database that has a decimal datatype, precision of 38 and a scale of 30.  Long story short, the precision of the number is 38.

I can't find where it says in the documentation that `bignumber()` will return an array.  I expected an actual string or number.

*Is* an [array] of the broken-up number the intended response?  Am I supposed to concatenate the response as a string

[2019-06-20 19:14] ericman314 commented on #1547
This first performs the arithmetic using ordinary JavaScript floating-point numbers which have a precision of about 16 digits, then constructs a `BigNumber` from that result, which is why the last several digits are all zero. The array in the returned object is internal to `BigNumber`: you just have to call `toString()` on the `BigNumber` object.

Try:

[code]

[2019-06-20 20:08] raydlevel5 commented on #1547
I'm having issues trying to replicate this.... Will post something substantial for you soon.

[2019-06-20 20:24] raydlevel5 commented on #1547
I should note that I'm using plain-old JavaScript.  Also, I'm kind of entry level here.  I recognize the ES6 `const`  options, but I don't know exactly how to use it.

I also do not know how to create a separate instance of Math.js --- like, how could I instansiate a specific instance of Math.JS so that *not every* output has the BigNumber configuration?

![image](https://user-images.githubusercon

[2019-06-20 20:35] ericman314 commented on #1547
Here's an ES5 version that creates a new configuration named `bigmath` and also keeps the original configuration:

[code]

Outputs:
[code]

And another note, in v6 of Math.js, you can't alter the global config using `math.config`, you have to create a new instance using `math.create` first.

[2019-06-20 20:46] raydlevel5 commented on #1547
Oh man, I'm sorry I'm so dense --- I must be doing something terribly wrong! :(

i really appreciate your help, by the way...

What is `require`?   What am I doing wrong?

![image](https://user-images.githubusercontent.com/21373144/59880321-c1e7d500-937a-11e9-8a0c-a7049f184ac3.png)

[2019-06-20 21:07] ericman314 commented on #1547
Oh I'm sorry, the code I posted was for Node.js. If you're working in the browser it's a little bit different. Here's a working example: https://codepen.io/anon/pen/gNgjWm?editors=1010

[2019-06-20 21:39] raydlevel5 commented on #1547
It's because I omitted the single quotes around the expression :(

https://codepen.io/anon/pen/jjypjd?editors=1010

That you for showing me how to instantiate a new instance of math.js, and the config option, and how to get the long number.

[2019-06-26 02:52] Sanjit1 opened #1549 "Uncaught TypeError: while calculating matrices using lusolve"
When I try to solve Matrices using lusolve, then I get an error telling me that there is a type error, even though I am using Arrays.
I am including some code, that I am using:
`var button = document.getElementById("enter");`
`var R1Html = document.getElementById("R1");`
`var R2Html = document.getElementById("R2");`
`var R3Html = document.getElementById("R3");`
`var T1Html = document.getElementByI

[2019-06-26 04:24] Sanjit1 commented on #1549
The above error was showing when I used math.min.js. When I switched to math.js, then I got a different error for the same code.

`math.js:32207 Uncaught TypeError: Unexpected type of argument in function lusolve (expected: Array or DenseMatrix or SparseMatrix or Object or Matrix, actual: undefined, index: 0)`
    `at createError (math.js:32207)`
    `at generic (math.js:32729)`
    `at Object.lus

[2019-06-27 12:28] LloydLS opened #1550 ".map() used in user defined function does not read in all the variables"
Hi,

When using .map() in a user defined function, only the array gets passed through into .map().

Using a simplified example (my actual use-case is more complicated, and not necessary in order to demonstrate the issue):

[code]

However, if you define the other variables before the function, then it works as expected:

[code]
Interestingly, it is ignoring the value of `val` from `myFunc()`, and

[2019-06-27 21:19] mgsternberg commented on #1452
In most contexts (scientific, civil engineering, except perhaps for astronomy and particle physics), I would expect that to be communicated as `1.001 t` [tonnes (metric tons)](https://en.m.wikipedia.org/wiki/Tonne).

[2019-06-27 22:22] ericman314 commented on #1452
The km versus Mm issue is resolved by UnitMath's `commonPrefixes` property for each unit, `m` in this case.

Choosing between `kg` and `t` is a little more subjective in my opinion, it could go either way. Possibly we could include a method that converts a unit to a different related unit of a more appropriate magnitude, but I don't think we would be able to meet everyone's expectations perfectly.

[2019-06-28 12:03] benrodenhaeuser commented on #1232
For me, the following works:

- install Math.js via npm
- use the `commonjs` and `node-resolve` rollup plugins

Then you can do:

[code]

[2019-06-28 13:35] josdejong commented on #1232
Thanks for your input. It can very well be that this issue is fixed in v6, which moved from commonjs to ES6 modules. @smddzcy can you give v6 a try?

[2019-06-29 01:41] ericman314 opened #1551 "Config changes in unitmath"
One of the outstanding items in the Unit.js refactoring is in config changes. I'm looking for some direction and clarification on how to proceed. Mostly I am just finding myself a little behind in understanding all the changes made in v6.

1. Am I right in observing that v6 changed the way that a user sets the math.js config?
2. Are there now two separate methods used to change the configuration,

[2019-06-29 15:11] josdejong commented on #1551
heee you have a new avatar, where did the white helmet go ;)

In v6 the challenge was that I wanted to turn all functions into standalone, pure functions. This is supported now, though we still needed a way to listen for config changes in some cases, like BigNumber and Unit. I'm not fully happy with the hybrid solution solution, though at least we now have the possibility to have standalone functi

[2019-06-29 18:35] ericman314 commented on #1551
Thanks for the clear explanation. I'll start playing around with it.

[2019-06-30 08:40] josdejong commented on #1550
Thanks for reporting Chris, I can indeed reproduce this issue. I expect it to be similar to #1088, something with passing the scopes of `myFunc` and the inner function in `map` correctly.

[2019-06-30 08:49] josdejong commented on #1549
I tried to reproduce your issue, and with the variable values you list and I get an `M1` containing undefined and NaN values. Your custom `ln` function doesn't return its result, which I think is causing the issue.

[2019-06-30 16:04] Sanjit1 commented on #1549
Hmmm. You are right. After I fixed that my code works! Thanks. Can't believe I got stuck on that!

[2019-06-30 16:04] #1549 closed

[2019-07-01 05:06] holtc opened #1552 "Feature request: Percentile across dimensions"
Is there a way to get the xth percentile of data across a matrix dimension?  Similar to how `mean` returns the mean vector across a given dimension?  Similar to [numpy's percentile method](https://docs.scipy.org/doc/numpy/reference/generated/numpy.percentile.html), where we could pass in an axis

[2019-07-01 17:42] josdejong commented on #1552
mathjs currently doesn't have a `percentile` function. Would be nice to implement this. And when implementing, it makes sense to implement support for specifying a dimension too, like other matrix function like `mean` do. Thanks for your suggestion Chris.

Anyone interested in implementing `percentile` for mathjs?

[2019-07-01 18:18] mockdeep opened #1554 "Unexpected token in round.js"
When upgrading to MathJS 6.0.2, we get an error when trying to make use of mathjs in our application, compiling with Webpack 3.4.0:

[code]

Here's what it looks like where we set up MathJS:

[code]

[2019-07-01 19:02] josdejong commented on #1554
It looks like webpack uses the es6 source code in the folder `./main/es6`, which contains ES6 modules, but does not compile this code to ES5. I think you either have to configure your webpack setup to also compile the ES6 code of mathjs. Alternatively you could use the ES5 code which is available in `./main/es5`, but you would lose support for tree shaking.

[2019-07-01 20:08] charlee commented on #1539
As talked with @jtenner  in https://github.com/DefinitelyTyped/DefinitelyTyped/issues/36381#issuecomment-507364488, I would like to take a look at `@types/mathjs` package. Could @josdejong assign this issue to me?

[2019-07-01 20:16] josdejong commented on #1539
:+1: thanks

[2019-07-01 21:54] mockdeep commented on #1554
Hmm, I don't think we've had this problem with any other libraries. My understanding is that libraries will generally compile down to ES5 for their released version. I guess we can use the es5 version. In mathjs 5.10.3 we have been manually importing all of the pieces we need like so:

[code]

It doesn't appear that we can do it like this anymore, though, unless I'm missing something. It looks lik

[2019-07-01 23:00] holtc commented on #1552
For now, I have a naive implementation that involves transposing the matrix to get the result I desire:

[code]

[2019-07-02 01:42] charlee commented on #1539
@josdejong A quick question about function `create(factories, options)`. Is the `factories` parameter supposed to be extensible by users? Or it is pure internal?

Since I didn't see any documents regarding to using custom factories, I wonder if it is necessary to add types to `factories` parameter or simply leave it as `any`.

Please advise. Thank you!

[2019-07-02 08:19] josdejong commented on #1539
The `factories` parameter in `create(factories [, options])` is an object containing factory functions and/or nested objects with factory functions, something like:

[code]

A factory function is simply a `function` with a specific signature, from the docs:

Here some related docs that may help:

https://mathjs.org/docs/core/extension.html#factory-functions
https://mathjs.org/docs/custom_bundling.

[2019-07-02 08:31] josdejong commented on #1554
That's correct, though more and more libraries (and mathjs now too) start exposing ES6 modules, amongst others to better optimizing of bundles using tree shaking out of the box.

This should be simply a matter of configuring your Webpack setup to also transpile the mathjs code. Maybe the following topic is helpful: https://github.com/babel/babel-loader/issues/171#issuecomment-486380160

[2019-07-02 09:08] koosvanderkolk opened #1555 "getAll returns non-native data types"
When I run this code using mathjs' evaluate function:

[code]

and then retrieve the variables using mathjs' getAll function:

[code]

I expect scriptResultVars.myArray to be a JavaScript Array.

[code]
 Nevertheless, I do get an object:

[code]

Probably this is by design, but (at least for me :-)) it would be more convenient to return 'normal' JavaScript data types. Another option would be to ad

[2019-07-02 09:32] josdejong commented on #1555
By default, the expression parser parses matrices as a `DenseMatrix`. You can change this using configuration `{matrix: 'Array'}`, see docs: https://mathjs.org/docs/core/configuration.html

[2019-07-02 09:41] koosvanderkolk commented on #1555
Dear Jos,

Thanks for the quick response, I did not know of the 'matrix' option!

Does this setting affect other functions in MathJS? In other words: should I check all my existing mathjs-scripts to see if they still work?

[2019-07-02 09:44] koosvanderkolk commented on #1555
Additon: I think I should also set the 'number' config option, to get what I want (true Javascript data types)

[2019-07-02 20:58] charlee commented on #1539
Thanks @josdejong , I'll put this into typing.

[2019-07-03 08:30] josdejong commented on #1555
There are a few functions like `zeros` and `ones` which return output based on the config setting `matrix`. You may also want to configure `predictable: true` to prevent for example `sqrt(-4)` from returning a Complex number.

Well... just checkout the docs and configure to match your needs.

[2019-07-04 13:47] anasyo10 opened #1557 "Mathjs Error: Cannot convert “abc” to a number"
I have a mathjs function in react. What it does is evaluate formulas using the values from the variables. e.g
[code]
But when comparing string it returns cannot Error: Cannot convert "abc" to a number
[code]
Can anyone guide me on how should I do this. Thanks. Any question similar to this will be appreciated as well. I tried to search couldnt get much.

I have tried the following. It doesnt overri

[2019-07-04 14:33] josdejong commented on #1557
The `==` operator (function `math.equal`) and other comparison functions only work for numeric comparisons. String input is converted into a number, so that for example `"2" < "10"` evaluates to `true`, like you would expect in a mathematical context (whilst JavaScript returns `false` here).

If you want to compare strings, you can use the function `equalText`.

[2019-07-04 15:17] anasyo10 commented on #1557
If i use `equalText` or `compareText` I get the following error
`Uncaught TypeError: Unexpected type of argument in function compareText (expected: string or Array or Matrix, actual: Object, index: 1)`

Is there a way to compare the text from an object instead?

[2019-07-04 17:37] josdejong commented on #1557
What is "the" text of an object in your case? Can you show what you try to do?

[2019-07-04 17:52] anasyo10 commented on #1557
This is what I am actually trying to do.
[code]
import { evaluate } from 'mathjs'

const MATH_EVAL = (formula, variables)=> {
  var result = evaluate(formula, variables)
  return result
}
export default MATH_EVAL
[code]

[2019-07-07 02:20] ericman314 commented on #1551
Another thought I had: Would it be possible, or even a good idea, to divide the `Unit` type into four sub-types, like `Unit_Number`, `Unit_BigNumber`, `Unit_Fraction`, and `Unit_Complex`? Each would have its own `UnitMath` instance. Some advantages I can think of are that typed_function would automatically select the correct instance for operations. But it seems like there would be four times as m

[2019-07-07 08:02] josdejong commented on #1557
hm, this example from https://github.com/josdejong/mathjs/issues/1051#issuecomment-369930811 importing your own version of relational functions indeed doesn't work anymore. I will work out a new example.

[2019-07-07 08:12] josdejong commented on #1551
That's an interesting thought. Each of the four implementations will be relatively easy and straight forward to implement. But the downside is that you have to keep four implementations in sync with each other, and there is no way to use your own favourite BigNumber library. If these four implementations have hardly anything in common qua implementation, this makes sense. I have the feeling though

[2019-07-07 08:56] #1550 closed

[2019-07-07 08:58] josdejong commented on #1550
Fixed via https://github.com/josdejong/mathjs/commit/deb7c05b53eac09cc678ab07cf156fa44e3a87eb (a one-liner), not yet published

[2019-07-07 09:41] josdejong commented on #1550
Fixed now in `v6.0.3`

[2019-07-07 19:57] harrysarson commented on #1551
`Unit<T>` :shock:

[2019-07-08 16:47] charlee commented on #1539
@josdejong the PR has been merged and this issue can be closed soon.

[2019-07-09 08:58] Toso82 opened #1563 "Calculating psuedoinverse of a matrix"
It is possible to add function to create inverse of not square Matrix?

[2019-07-09 09:26] slavaGanzin opened #1564 "Discussion: codi.vim integration and soulver features"
[Codi.vim](https://github.com/metakirby5/codi.vim) is an interactive interpreter interface for vim.

![codi](https://user-images.githubusercontent.com/1011721/60875984-a9652f00-a243-11e9-86b9-6acb472c09f0.gif)

I created a pull-request to run mathjs in codi:
https://github.com/metakirby5/codi.vim/pull/112

[Soulver](https://soulver.app/) is an interactive editor calculator for Mac OS.

Basically c

[2019-07-09 11:18] brunojcm opened #1565 "ES5 support is broken for Angular users (MathJS 6+)"
I have just upgraded my Angular project to use MathJS 6.0.3 so I could use tree-shaking and reduce my bundle size. The first test was ok, everything good on chrome, bundle is 1.5MB smaller (amazing work, BTW, thank you very much for that), but the app started failing on IE11.

Since I was running the production build, the first error I could extract was this one:
![image](https://user-images.githu

[2019-07-09 12:36] ericman314 commented on #1563
Do you mean to invert each element of a non-square matrix? For that you can use `dotPow`:

[code]

But ordinary matrix inversion is only possible for square matrices:
[code]

[2019-07-09 12:53] ericman314 commented on #1564
So if I understand right you want to be able to make more customizations to the CLI interface, through the use of command line arguments or perhaps through running a setup script? What about pre- or post-processing the input/output outside of the mathjs cli? Would that work for your use case?

[2019-07-09 12:58] ericman314 commented on #1565
This could possibly be related to #1558. I'm not very familiar with the issue myself but I expect a fix is in the works.

[2019-07-09 12:58] Toso82 commented on #1563
@ericman314  I mean the possibility to calculate pseudo inverse  matrix for multy variable linear regression

https://en.wikipedia.org/wiki/Moore%E2%80%93Penrose_inverse

I know that inv it is only for square matrix.

[2019-07-09 13:04] slavaGanzin commented on #1564
It will work with comments, parsing percents and SI notation. But isn't this desirable features for mathjs too? That's what I'm asking in a first place

With variables parsing (cases 2 and 6) it certainly wouldn't work: how will wrapper know what can and what can not be interpreted?

Although currency parser should be integrated in mathjs to work properly.

[2019-07-09 13:17] ericman314 commented on #1563
Oooooh, fascinating. Yes I suppose it is possible to add that feature. The following statement from the article you linked is ominous:

 The pseudoinverse is implemented in other packages as `pinv`. Perhaps we should study some of those implementations.

[2019-07-09 13:21] brunojcm commented on #1565
Eric, I don't see how those problems could be related (the bug seems to be related to a few methods while this one happens with a single arrow function), but I don't know much about babel as well, so you might have a point.

[2019-07-09 13:22] harrysarson commented on #1565
Yeah sorry @brunojcm this is an upstream issue with Babel and we are waiting for a fix from them.

We should indeed support ie 11

[2019-07-09 13:24] Toso82 commented on #1563
Ok thanks, i think there is a good function to add so i can't use other library

[2019-07-09 13:53] brunojcm commented on #1565
Thanks @harrysarson! Could you please refer to the upstream issue, if you have it handy, so I can follow it?

[2019-07-09 13:57] ericman314 commented on #1565
https://github.com/babel/babel/issues/10166

On Tue, Jul 9, 2019, 7:53 AM BrunoJCM <notifications@github.com> wrote:

[2019-07-09 13:57] ericman314 commented on #1565
https://github.com/babel/babel/issues/10166

[2019-07-09 14:06] brunojcm commented on #1565
Well, this is the same issue mentioned in the PR Eric posted here, so I still don't get how an issue related to the `getOwnPropertyDescriptors` method can cause errors with arrow functions. I know nothing about babel, though, so I will trust you on that :)

[2019-07-09 19:12] harrysarson commented on #1565
We test maths on ie 11 in our ci and this issue came up when the newest version of Babel was published. I have no idea exactly what `getOwnPropertyDescriptors` and arrow functions have to do with each other though.

Possibly the error you are seeing in your browser has been translated by source maps?

[2019-07-10 05:16] brunojcm commented on #1565
No luck with the PR.

Tried enabling [arrow function plugin](https://babeljs.io/docs/en/babel-plugin-transform-arrow-functions), no luck as well.

Something looks very wrong here. I can't find any npm script to pass `src` files through babel, I'm just copying it over, and angular cli seems to be getting the failing line, `const createTrue = /* #__PURE__ */ Object(_utils_factory__WEBPACK_IMPORTED_M

[2019-07-10 05:19] brunojcm commented on #1565
One thing worth mentioning is that I'm importing like

`import { evaluate, round } from 'mathjs/number'`

which seems to follow `export * from './main/es6/number'` in `numbers.ts`. Not sure if that matters, but I'm running out of options here.

[2019-07-10 06:46] josdejong commented on #1565
@brunojcm the `export * from './main/es6/number'` is the one you want, though this points to ES6 code containing for example arrow functions `=>` that still needs to be transpiled to ES5. Is your Webpack setup configured such that it also transpiles ES6 code from from dependencies like mathjs?

This may be similar to #1554

[2019-07-10 06:49] josdejong commented on #1563
Sounds interesting. I love the warning Eric points too. Anyone interested in investigating what it would require to implement this in mathjs, to see if it's worth the effort?

[2019-07-10 07:05] josdejong commented on #1564
Interesting idea Slava!

1. Comments are already supported, exactly like you mention, starting with a `#`
2. That's sounds like a wildcard for a unit or so. I don't fully understand how that would work.
3. You can output the results like you want, you can use `math.format`, or create your own formatter.
4. The `%` symbol is already used for modulus, it's not possible to also use it for percentage.

[2019-07-10 07:45] brunojcm commented on #1565
That's indeed very similar!

No, and AFAICS [angular CLI does not transpile libs](https://github.com/angular/angular-cli/issues/11892). I don't even know where to start, and based on https://github.com/angular/angular-cli/issues/9126 it doesn't seem something easy to maintain.

I still have to study a lot more about all these JS tools/packagers, but what seems wrong to me is to copy all `src` and

[2019-07-10 08:27] brunojcm commented on #1565
Some new findings here, it seems that importing from `mathjs/main/es5/number` still gives me a reduced bundle size and works on IE11.

I use MathJS in two points here, one in the main app, which goes into the vendor chunk, and the other one in a lazy loaded angular module, which goes into the (let's call) lz1 chunk.

main: `import { evaluate } from '___'`
lazy1: `import { evaluate, round } from '_

[2019-07-10 10:26] josdejong commented on #1557
@anasyo10 I've created an example for this: [examples/advanced/custom_relational_functions.js](https://github.com/josdejong/mathjs/blob/c74a736ff987a279ba9ed3d73eb9870d85494acc/examples/advanced/custom_relational_functions.js). Can you have a look at that and see if it makes sense and solves your issue?

The main difference is that the created functions don't update their dependencies anymore when

[2019-07-10 10:43] slavaGanzin opened #1568 "Proposition: Units should be printed in explicit form"
Hello

For explicitness and to prevent ugly errors of units misuse I propose to use long unit names in output:

now:
[code]

after:
[code]

[2019-07-10 10:44] slavaGanzin commented on #1395
And how can I do the same in CLI?

[2019-07-10 10:55] josdejong commented on #1565
If you use `mathjs/main/es5/number`, it will use the _whole_ library but just the number implementation, so that's much smaller already. In your case, you're using `evaluate`, which has a dependency on _all_ functions, so you can't go any smaller and this solution may be just fine.

I've just done a test to double check whether the exported modules and treeshaking works correctly. I created an emp

[2019-07-10 11:02] slavaGanzin commented on #1564
1. Comments
[code]
Why undefined? It should be null (like: nothing was evaluated) and not printed at all :)

2. A wildcard unit can work as:
[code]
So basically if something is in equation on units position but cannot be parsed as unit, this pseudo-unit should be created and treated as regular one.

Let's parse it (in pseudo code):
[code]

[code]
And `--strict` should be by default.

3. I was talk

[2019-07-10 11:34] ericman314 commented on #1568
Thank you for the suggestion. This could indeed be done via a configured option. Would you mind raising this issue over at https://github.com/ericman314/UnitMath/issues? We are working on migrating the unit functions there.

[2019-07-10 11:39] slavaGanzin commented on #1568
Moved to: https://github.com/ericman314/UnitMath/issues/19

[2019-07-10 11:39] #1568 closed

[2019-07-10 11:49] josdejong commented on #1554
I've just done a test to double check whether the exported modules and treeshaking works correctly. I created an empty React application using `create-react-app`. In there, I imported mathjs like:

[code]
When building the application, it runs just fine on all browsers including IE11, and treeshaking works as expected (only thing was I had to add a polyfill for `Object.assign` for IE).

[2019-07-10 12:10] josdejong commented on #1564
1. :joy: yeah well we can argue about whether it should return `null` or `undefined`, that's a big topic in JavaScript world. Anyway it's returning `undefined` in mathjs.
2. I get the idea. This may lead to ambiguity though. @ericman314 do you think something like this could work out nicely?
3. :+1:
4. We don't have plans to implement percentages in mathjs. If you want to use it you'll have to cha

[2019-07-10 12:32] slavaGanzin commented on #1564
2 and 6:
If something can be parsed like 'hour' it should be parsed and after that all unknown symbols can be transformed into units/variables if --no-strict argument is passed.

[2019-07-10 12:33] ericman314 commented on #1564
2. I would catch the undefined symbol error, parse the error text, and use `createUnit` to create the unit in question, then reprocess the input. How do to that from the CLI, I'm not sure, you would have to make a wrapper for the mathjs CLI or something.

[2019-07-10 13:23] josdejong commented on #1564
@slavaGanzin mathjs first performs a parse+compile step an after that an evaluation step. At parse time, it is not known what variables are defined, that is only known during evaluation.

[2019-07-10 13:47] slavaGanzin commented on #1564
Seriously? So it's easier for me to write wrapper that magically understands what should be defined as symbol using mathjs as black box oracle, than for you to write: map(createUnit, unknown_symbols).
Whatever

I'll close this. I understand your attitude. Don't bother

[2019-07-10 13:47] #1564 closed

[2019-07-10 14:30] josdejong commented on #1564
Mathjs is indeed so flexible that you can adjust it to your needs. The behavior you're looking for does conflict with the existing behavior of mathjs, so we cannot solve this in mathjs itself. You can adjust the behavior to your needs, but you'll have to put in a bit of effort yourself by writing a small wrapper around it.

[2019-07-10 16:43] anasyo10 commented on #1557
@josdejong thanks ALOT, this worked.

[2019-07-10 16:43] #1557 closed

[2019-07-16 11:14] brunojcm commented on #1565
I'm not sure about the differences between Angular and React, but I tried the same with both React and Angular, and for Angular and it failed again on IE 11, it's not something specific to my app.
`File: vendor.js, Line: 78185, Column: 114`

This is the Angular project I tested with (target set to es5):
[my-app-math.zip](https://github.com/josdejong/mathjs/files/3396746/my-app-math.zip)
To run:
np

[2019-07-16 17:31] drschwabe opened #1571 "mathjs.org compromised"
Noticed the Google Custom search on mathjs.org is returning all sorts of junk/spam results like from this page:

http://pheghoode.mathjs.org/irbw-spore-1.html

just wanted to bring attention to this issue if it hasn't already been addressed

[2019-07-16 18:08] josdejong commented on #1571
That's weird, looks like there is some site on a subdomain of mathjs.org. Will look into it asap.

[2019-07-16 18:08] ShiftyMcCool opened #1572 "ERROR TypeError: Cannot convert 2546 to type "undefined"; valid output types are number, BigNumber, Fraction"
Hello,
I'm trying to use the evaluate() method to do some math using a string in an Angular application.   This is my method:

[code]
The formula var works out to be:  "2546 * (9988 / 120000)"
but any formula (i.e. 2*3) throws the same error with the first number in the formula.

This all works fine while developing, but as soon as I use `ng build --prod`  i get the error in the title.  Building w

[2019-07-17 15:52] josdejong commented on #1572
How can I reproduce your issue? Can you isolate the issue? Did you do debugging of the contents of `formula` right before you pass it to `evaluate` (both dev and prod)?

[2019-07-17 16:15] josdejong commented on #1571
Turns out it was a misconfiguration in the DNS for mathjs.org, a github-pages static site, which had a whildcard `*.mathjs.org` in the DNS. Github explicitely warns against this [in the docs](https://help.github.com/en/articles/setting-up-a-custom-subdomain):

The rogue subdomain is not available anymore as soon as the DNS is updated everywhere.

I've also contacted github about the misuse.

[2019-07-17 16:15] #1571 closed

[2019-07-17 16:39] ShiftyMcCool commented on #1572
Debugging showed the contents of the formula as 2546 * (9988 / 120000) before passing to evaluate() but, like I mentioned, even something as simple as 2*3 was failing (hard-coded).  I'm not sure this can be duplicated in something like StackBlitz since it is only a problem after `ng build --prod`.  The only way to reproduce, as far as I can tell, is to start an Angular project with my package.json

[2019-07-17 19:46] josdejong commented on #1572
I haven't used Angular for years. Would it be easy for you to set up a small github repo with (a minimal version of) your angular project so I can check out, start it, and see what's going on?

[2019-07-17 19:52] josdejong commented on #1565
Thanks for sharing you project, I will try to do some debugging soon.

Having to do complicated babel/webpack setups in angular projects shouldn't be needed, it should just work for Angular projects as it does for React. Haven't used Angular in years myself though, any help would be _very_ welcome.

[2019-07-18 00:44] charlee commented on #1539
@jtenner @josdejong The PR has been merged and package was uploaded to npm; can we have this issue closed?

[2019-07-18 03:42] jtenner commented on #1539
I suppose! Thanks for the fix.

[2019-07-18 04:55] brunojcm commented on #1565
I'd love to help more, but I'm afraid I don't have that much knowledge on how to create a library with ES6 and ES5 support in parallel, and also how Angular CLI bootstraps Webpack (I don't even know if what I say makes sense in this regard haha), so I probably won't be able to help much more for now :( I'll try to have a look again once I have more free time to revisit it.

[2019-07-18 12:47] ShiftyMcCool commented on #1572
Sure, I might need a couple days though, I'm on a tight deadline for this project and will be able to breathe pretty soon.  I'll post back with the URL when it's ready.

[2019-07-19 08:40] 941477276 opened #1578 "[Bug] Using "BigNumber" will still cause loss of calculation accuracy"
version: 6.0.3
browser: chrome 75.0.3770.142

[code]

[2019-07-19 13:31] ericman314 commented on #1578
The output looks correct to me. Can you double-check or provide another example?

[2019-07-19 17:34] dhardtke commented on #1539
I'm curious as to whether any of you guys got the example from the docs ([Using just a few functions](https://mathjs.org/docs/custom_bundling.html#using-just-a-few-functions)) working with typescript:

[code]

obviously fails as the typings don't contain e.g. `fractionDependencies` as export.

[2019-07-19 17:37] jtenner commented on #1539
Worked for the little bits that I used. I hardly use it though. I moved away from using `mathjs` as a dependency in my biggest project so I haven't been able to check it well enough.

[2019-07-20 12:18] josdejong commented on #1539
Thanks @charlee .

The exported `fractionDependencies`, `addDependencies`, etc are quite essential in order to use tree-shaking. It should be quite easy to create the list with all exported `*Dependencies`, and simply define them as an `Object` already helps a lot (without specifying the exact properties that it contains, these details are not needed for normal use)

Anyone interested in adding th

[2019-07-21 20:15] ericman314 commented on #1551
Finally got the definitions for `degrees` and so forth updating correctly when the `precision` config option changes. Turns out one of the typed function signatures was using the original configuration instead of the new configuration.

Whereas the buggy code used the original unitmath instance:

[code]

The correct code uses the current instance:

[code]

It's these kinds of bugs that are so diff

[2019-07-22 09:52] taozi926494 commented on #1554
@josdejong Hmm, I also create a test demo by vue-cli3 (use mathjs 6.0.3). Appear the same error in Edge and other low version browsers (e.g. QQ browser 9.6.3 [ based on chromium53.0.2785 ]). I just do something like this
-- mathtest.js
`import { random, evaluate, round } from 'mathjs';

export default () => {
  let __result = random(0, 100);
  __result = round(__result, 2);
  return __result;
};`

[2019-07-22 10:06] taozi926494 commented on #1554
@josdejong Hmm, I also create a test demo by vue-cli3 (use mathjs 6.0.3). Appear the same error in Edge and other low version browsers (e.g. QQ browser 9.6.3 [ based on chromium53.0.2785 ]). I just do this
-- mathtest.js`
[code]

-- App.vue
[code]

[2019-07-22 10:13] taozi926494 commented on #1554
@josdejong Hmm, I also create a test demo by vue-cli3 (use mathjs 6.0.3). Appear the same error in Edge and other low version browsers (e.g. QQ browser 9.6.3 [ based on chromium53.0.2785 ]). I just do this
-- mathtest.js`
[code]
-- App.vue
[code]

[2019-07-23 03:55] charlee commented on #1539
@josdejong I would be happy to fix this but may not be available in the following couple of days. Will try to do it by end of week.,

[2019-07-23 08:01] EliasHasle commented on #1232
I fail to import mathjs with Rollup too. (I am posting my problem here, as the name of the issue matches, and the issue is open and otherwise not alive.)

For some scripts (typed-function.js among them) `this` is `undefined`, and (probably as a consequence) `typed-function` does not export. My rollup setup applies `rollup-plugin-node-resolve` and exports in _umd_ format.

'I have tried multiple wa

[2019-07-23 19:15] josdejong commented on #1232
@EliasHasle thanks for reporting. Can you try

[code]
explicitly pointing to the ES6 code?

[2019-07-23 19:19] josdejong commented on #1539
Thanks a lot @charlee for picking this up :+1:

[2019-07-23 19:22] josdejong commented on #1551
Ah, that makes sense. Good to here you're making progress :+1:

Yeah, well it's mostly mathjs to blame. mathjs now is an unideal hybrid between pure functions and a stateful instance. Let's make sure that `UnitMath` itself stays neat clean :)

[2019-07-24 12:14] EliasHasle commented on #1232
I now tried:
[code]

with `rollup-plugin-commonjs` disabled, and got the samme errors as before.

[2019-07-25 08:46] Toso82 opened #1581 "Mathjs undefined in ng serve prod"
I Use mathjs 6.0.3 on my Angular 8 application. The strange i notice that function evaluate it is undefined on ng serve prod. I Import like:

[code]
It coud be something in import optimization .  If i use this work well.

[code]
Any idea while?

[2019-07-25 20:46] josdejong commented on #1581
Have you also tried the following?

[code]

[2019-07-27 01:52] charlee commented on #1539
@josdejong I just realized there's another import `mathjs/number` which involves different typings. Looks like it is new in mathjs 6 and I can't use previous v5 typings directly, so I need some more time to go over all the math functions to create the typings.

[2019-07-27 07:58] josdejong commented on #1539
Yes you're right @charlee . These are the two entry points that there are for mathjs the `mathjs/number` import contains a subset of all functions of `mathjs`: these are number-only implementations of all relevant functions of mathjs (it misses functions that are for calculations with matrices for example).

There is no deadlines here, take your time, I'm glad you're willing to put effort into get

[2019-07-27 14:50] Toso82 commented on #1581
Hi @josdejong  i'm just try to use
[code]

but give:
[code]
The strange do this just on compile release

[2019-07-28 08:26] josdejong commented on #1581
I've created a small Angular 8 + mathjs 6 demo that works fine. Maybe this demo can help you find what's going on in your own Angular setup?

Angular + mathjs demo
https://stackblitz.com/edit/angular-mathjs-demo?file=src%2Fapp%2Fapp.component.ts

[2019-07-28 08:37] josdejong commented on #1554
@mockdeep the error message is about webpack not recognizing the spread operator `...`. Can it be that your webpack setup doesn't support the spread operator and you need to update your setup? Webpack 3.4.0 was released two years ago (!). See also https://github.com/webpack/webpack/issues/5548.

[2019-07-28 09:18] josdejong commented on #1554
@taozi926494 can you create a separate issue for the vue3 thing? I did a bit of debugging with your code, It seems to have a different cause. Not entirely sure though. Can you create a codesandbox or stackblitz example demonstrating the issue?

[2019-07-28 13:06] Toso82 commented on #1581
Hi @josdejong  thanks for example i try to download this. I update @angular/core @angular/cli because it is old ok this is work well in ng serve but if u try ng serve --prod  not work

You can try and find this here:

https://github.com/Toso82/angular-mathjs-test

I thinks this is strange majbe some optimization or during package for release not include library.

[2019-07-28 14:07] charlee commented on #1539
@josdejong I realized that it would be a huge effort to review all the functions and do necessary changes, so I decided to submit a PR for dependencies only and continue my work on a separated PR.  This is a relative small PR and wonder if you have time to review it. Thanks!

[2019-07-28 15:43] mockdeep commented on #1554
@josdejong I think the problem is, as you mentioned, that we're not transpiling mathjs with Webpack. We've got plenty of spread operators in our own code, but we don't transpile node modules, as that would take forever. We'll leave it locked at version 5.x for now until we can figure out a better option.

[2019-07-30 14:54] Anexo commented on #1581
Hi @Toso82

I am also building an Angular 8 app+ mathjs. It is working fine on ng serve.

Just as you, when I build the app with ng build, I see an error, but in my case, it is different than yours:

Error: Function multiply missing in provided namespace "math"

I am importing the library like this:

`import { evaluate } from 'mathjs'`

And using it like:

`volumen = evaluate(csv[object], scope);`

[2019-07-31 07:30] josdejong commented on #1554
@mockdeep did you try upgrading Webpack? That may be a good idea anyway?

[2019-07-31 07:32] josdejong commented on #1539
Looks like your PR is merged already? :)

[2019-07-31 08:52] josdejong commented on #1554
I may understand the issue now: the mathjs configuration in package.js has a `module` file which points to non-transpiled modules. I guess mathjs should transpile the modules: `import`/`export` must stay, but `const`, `=>`, `...`, etc must be transpiled. Will give that a try.

[2019-07-31 09:07] josdejong commented on #1565
Probable cause: https://github.com/josdejong/mathjs/issues/1554#issuecomment-516759640

[2019-07-31 16:41] charlee commented on #1539
@josdejong Yes its merged and published as `@types/mathjs-6.0.1`. I will revise all the functions and create types for number in another PR.

[2019-07-31 17:25] josdejong commented on #1539
:+1: thanks for all your work

[2019-07-31 21:39] mockdeep commented on #1554
@josdejong we're currently on version 3.4.0. We haven't had a chance to upgrade to version 4.x, but I also don't think that should matter for this use case.

I think `import`/`export` should also be transpiled to `require`/`module.exports` syntax. If you install the `react` npm package for example, you'll see that all of their code uses that format.

[2019-08-01 17:41] josdejong commented on #1554
I think you're right that it's not because of an old version of Webpack. I indeed think it's because the module code should be transpiled to ES5. Still have to figure out how to get that working with babel (tried the `esmodules` option but it's not working or I don't understand it yet). We should keep `import`/`export` though in the transpiled module code, and not replace that with commonjs, since

[2019-08-01 19:36] mockdeep commented on #1554
`lodash-es` is the special version for ES6 tree shaking support, but `lodash` still compiles to using `require`/`module.exports`.

[2019-08-02 11:48] waspo opened #1585 "Angular units together with other units"
If I type the following into the math.js expression parser:
[code]
But if I type:
[code]
But [N] should be possible and should be correct because rad = m/m = 1 (according to SI).
Is there a chance to solve this?

[2019-08-02 12:53] ericman314 commented on #1585
That is a very interesting question: whether `rad` should be loosely matched when converting between units. You are correct that `rad` is dimensionless and that, mathematically, using rad and not using rad will give the same answer to any problem. So one argument for loose matching is that if a user explicitly requests removing or ignoring a `rad`, we should technically be able to do that.

But on

[2019-08-02 16:07] handoyo opened #1587 "Question: how to add math.round into custom bundle"
Hi,

i want to be able using math.round function in my code?

Currently this is my custom bundle file:

[code]

Which file should i import in order to be able to use the math.round function?

Thanks for the guidance.

[2019-08-02 18:33] josdejong commented on #1554
Yes indeed. I would like to offer both with mathjs: the `main` field in package.json points to the ES5+commonjs, the `module` field should point to ES5+import/export (and currently the latter is not ES5, I think that's the only thing that should be fixed).

[2019-08-02 18:36] josdejong commented on #1587
I'm not sure what you mean. If you only need `round`, all you have to do is

[code]

[2019-08-02 22:15] mockdeep commented on #1554
Ah, okay, I see what you're saying now. I'm a little surprising that the ES modules one needs to be transpiled to ES5 still.

[2019-08-03 08:02] handoyo commented on #1587
I have tried it, but when i use math.round(), i get an error says:

`Uncaught TypeError: math.round is not a function`

[2019-08-03 09:00] josdejong commented on #1587
@handoyo can you extend your code example above to show how you try to use the created function `round`? How can I reproduce the error you get?

[2019-08-03 09:03] handoyo commented on #1587
This is my testing code:

`console.log(math.round(math.number(math.to(math.unit('14 ft'), 'ft'), 'ft')),2);`

[2019-08-03 09:10] josdejong commented on #1587
Can you share an example of creating your custom bundle and using the function round created in this bundle?

[2019-08-03 09:19] handoyo commented on #1587
index.js:

    import {
    create,
    fractionDependencies,
    addDependencies,
    formatDependencies,
    matrixDependencies,
    multiplyDependencies,
    roundDependencies,
    } from 'mathjs'

    const config = {
    // optionally, you can specify configuration
    }

     // Create just the functions we need
    const { fraction, add, format, matrix, multiply, round } = create({
     fra

[2019-08-03 09:25] josdejong commented on #1587
Do you generate `math.min.js` from your `index.js`?

The file `index.js` doesn't export anything, so it doesn't look to me that you can use it like that. You either have to move your code console.log inside your `index.js` file, or change your `index.js` to actually export something and/or expose something on `window` if you just want to use it in the browser

[2019-08-03 09:48] handoyo commented on #1587
Yes i do generate math.min.js by following the custom bundling example. I attach the generated math.min.js from index.js.

[https://www.dropbox.com/s/7xase2dg84t0xz7/math.min.js](url)

[2019-08-03 10:24] waspo commented on #1585
Interesting point ericman314. I totally agree with you that keeping a dimensionless unit makes it easier to understand a physical problem. And I think there is no need to decide whether to keep a unit or not. There maybe 2 options:
1) Math.js could differentiate between implicit and explicit conversions. So if I want to do an explicit conversion (like in my first example) it should just ignore dim

[2019-08-03 21:16] harrysarson commented on #1585
This is a good question! I think that maths should treat radians the same as any other unit. If folk wish to convert `J / rad` to `N m` then they can divide by `1 rad`. It is better to he explicit I think :)

[2019-08-03 21:35] waspo commented on #1585
You're right, dividing by `rad` is a workaround. But the "problem" is still there: Returning an error for `rad/s to Hz` is not correct.

[2019-08-04 01:44] ericman314 commented on #1585
I don't think this is a terrible idea, I just worry that implicitly adding/removing/ignoring `rad` would cause too much chance for error. Your latest example, `rad/s to Hz`, brings to mind a possible issue.

For example, let's say I wanted to compute the angular speed of a 2-pole AC induction motor running on a 60 Hz supply in RPM. Wikipedia gives the [formula](https://en.wikipedia.org/wiki/Induct

[2019-08-04 03:35] ericman314 commented on #1551
I'm starting work on `createUnit`. Another question: when `math.create` is used to create a new instance, is anything besides the `config` options inherited? If I remember correctly, the entire `unit` factory is re-run when doing `math.create`, so that would clobber any existing custom units. Therefore, I'm not sure how I would make the following work:

[code]

Of course, if we could do things ove

[2019-08-04 07:36] josdejong commented on #1554
For reference: https://stackoverflow.com/questions/57336878/can-i-use-babel-to-transpile-to-es5-but-keep-import-export-instead-of-commonjs

[2019-08-04 09:17] josdejong commented on #1551
That's good to hear!

`const math2 = math.create()` is will not create a full clone of your current mathjs instance. It will create a completely new instance with default config. It will not contain any functions you imported using `math.import(...)`, and I think it should also not contain custom units created in the initial instance. I think that should make life easy for `unitMath`, right?

[2019-08-04 14:01] ericman314 commented on #1551
Oh ok. Then yes that will be much easier!

On Sun, Aug 4, 2019, 3:17 AM Jos de Jong <notifications@github.com> wrote:

[2019-08-04 15:53] mockdeep commented on #1554
Okay, I did some digging and did my best to [answer your question](https://stackoverflow.com/a/57348037/372479).

[2019-08-04 19:02] josdejong commented on #1554
That's it indeed :tada:, thanks a lot. I have a working proof of concept now. I hope to work it out tomorrow night and publish the fix.

[2019-08-05 08:50] waspo commented on #1585
Good example. A few comments on that:
1. If you would have defined RPM as `createUnit("RPM", 1/minute)` your result would be correct and as expected:
[code]
2. If the target unit contains dimensionless units in its definition like `createUnit("RPM", 360deg/minute)` then it should not be ignored, of course. Otherwise it should be ignored in explicit conversion by `... to ...`. By ignoring I mean di

[2019-08-05 13:12] ericman314 commented on #1585
Yeah, I did have to stretch a little in my example as I was converting to an angular unit rather than from an angular unit. You are right that if we did implement this, only conversion to angular-less units would remove the `rad`.

Very true. In that case, the angular units are never introduced into the equation at all. Which is, I think, another satisfactory resolution to this issue: if radians a

[2019-08-05 15:05] waspo commented on #1585
Yes I totally agree that such a fundamental change needs a strong justification. I supposed that incorrect results (`rad/s` _is_ `Hz`) should be strong enough. ;)
You need this evertime when you handle with angular motion and the corresponding force/momentum. The input is of kind `rad/s` or `deg/s^2` (acceleration) and the resulting forces are `N` or `N m`. I could omit the angular units, but for

[2019-08-05 20:34] josdejong commented on #1554
This issue should be fixed now in `v6.0.4`, can you give it a try @mockdeep?

[2019-08-05 20:34] #1554 closed

[2019-08-05 20:34] josdejong commented on #1565
This issue should be fixed now in `v6.0.4`, can you give it a try @brunojcm?

[2019-08-05 20:34] #1565 closed

[2019-08-05 20:36] josdejong commented on #1232
This issue is most likely fixed in `v6.0.4`, can you give this a try @EliasHasle and @smddzcy?

[2019-08-05 20:46] josdejong commented on #1587
Did you see my previous comment? https://github.com/josdejong/mathjs/issues/1587#issuecomment-517909967

[2019-08-06 04:40] ericman314 commented on #1551
All right, got `createUnit` mostly done. Only 20 failing tests remaining (down from 200 originally)!

Question about `unit.setUnitSystem`. This is yet another example of a function that could just as easily be made an option in the math.js `config`. I haven't yet invested much time implementing or testing unit systems in UnitMath itself, so we can be flexible here. What do you think?

[2019-08-06 06:24] waseemyusuf commented on #1329
@josdejong, hey, I have been working on implementing a function for combinations with replacement and I am pretty much done with this task. A few points to note before I make a pull request:

### Naming:
I named this function `multicombinations()` because `combinationsWithRepitition()` is too long. Do you have any other suggestions or does `multicombinations` sound good?

### Edge Case:
What shoul

[2019-08-06 15:51] handoyo commented on #1587
Sorry, i missed the details. I have export and now i can use the round function. Thanks a lot

[2019-08-06 16:58] josdejong commented on #1587
:+1:

[2019-08-06 16:58] #1587 closed

[2019-08-06 21:08] aneilbaboo commented on #1329
Ugh. You're right @waseemyusuf. 🤦‍♂️

(corrected)

[2019-08-07 06:26] josdejong commented on #1551
Woohoo! That's good news :+1:

Configuring `unit.setUnitSystem` via the mathjs config sounds good. I think it's quite a core setting for UnitMath, right? It's in a sense similar to the config option `precision`, which is a core setting for `BigNumber`.

[2019-08-07 06:31] josdejong commented on #1551
On a side note: in _some_ future version of mathjs (not too soon) I would like to see if we can fully move away from mathjs instances. Currently we have a complicated hybrid between pure functions and a stateful instance. Not sure if feasible and how complicated it will be, I would have to do some experimentation. The simplicity and beautiful API of `UnitMath` really inspires me in this regard :sm

[2019-08-07 06:45] josdejong commented on #1585
Interesting discussion!

On a side note: I've always doubted whether I should let mathjs functions like `asin` return a unit in radians or a number. Right now `asin(sin(0.5 rad))` evaluates to `0.5`, but it could possibly evaluate to `0.5 rad`. If we would do the latter, it's every inconvenient if you want to use it in a calculation _not_ using units but just numbers, like say you do `asin(0.1) +

[2019-08-07 08:17] josdejong commented on #1329
Thanks for picking this up @waseemyusuf !

It makes sense to me to throw an error for `multicombinations(0, 0)`, and also with negative inputs.

Qua: naming I strongly favor a clear name over a short one. In mathematics the phrase "combinations with repetition" is really strong, so it would be good if this comes back in the name. If I google for "multi combinations" I'm not finding anything relate

[2019-08-07 08:47] josdejong commented on #1581
@Toso82 running `ng serve --prod` with [your example product](https://github.com/josdejong/mathjs/issues/1581#issuecomment-515761368) gives me the following error (also with the recently published `mathjs@6.0.4`:

[code]

When running `ng build` and opening the generated application, all works fine though, so this is probably not a blocking issue?

I have no clue where this can come from, nor whet

[2019-08-07 12:34] Toso82 commented on #1581
@josdejong  Hi try now update with new version of  `mathjs@6.0.4`  also `@angular/cli@8.2.0` `@angular/core@8.2.0`  `typescript@3.5.3` and now seams work well with `ng serve --prod` if you want to try i update my example.

You can try and find this here:

https://github.com/Toso82/angular-mathjs-test

The problem maybe there is in angular compiler or latest typescript version fix this.

[2019-08-07 15:04] waseemyusuf commented on #1329
Yeah, `combinationsWithRep` makes clear sense. I'll change the name to that, and you can expect a PR in a few minutes.

[2019-08-07 15:10] josdejong commented on #1329
Cool, thanks!

[2019-08-07 15:12] josdejong commented on #1581
That's good news! I think we can close this issue then?

[2019-08-07 15:15] #1581 closed

[2019-08-08 07:18] EliasHasle commented on #1232
I can confirm that my issue is resolved with 6.0.4. Thanks! :smile

[2019-08-08 11:33] josdejong commented on #1232
That's great to hear, thanks for the feedback.

Since multiple people report they can successfully use mathjs in their rollup projects I'll close this issue now.

[2019-08-08 11:33] #1232 closed

[2019-08-09 15:36] phoenixor opened #1589 "got wrong result when calculate tan(90 deg)"
when i use mathjs to calculate tan(90 deg) in my wxapp project, i got 16331239353195370 instead of an error. and i have no idea how to solve it.
By the way, when caculating 0.1+0.2, it does on give me 0.3

[2019-08-09 15:47] ericman314 commented on #1589
Unfortunately, this is a problem due to round-off error and there is no easy solution. Duplicate of #133.

[2019-08-09 15:47] #1589 closed

[2019-08-14 07:42] sublayerio opened #1592 "Memory leak when using mathjs in jest tests"
I noticed unexpected behaviour when using mathjs in Jest.

I created 16 test files that just import mathjs.

<img width="372" alt="Screenshot 2019-08-14 at 14 39 34" src="https://user-images.githubusercontent.com/44947294/63003006-74cb3f80-bea1-11e9-9020-a48285f09442.png">

When running the tests the memory heap piles up.

<img width="1485" alt="Screenshot 2019-08-14 at 14 38 46" src="https://user

[2019-08-15 09:28] josdejong commented on #1592
Thanks for reporting Olivier.

At first sight I have no clue what could cause this. Since `const mathjs = require('mathjs')` is "passive", I doubt whether mathjs itself can instantiate "something" multiple times, nothing is invoked. Is it really mathjs related, or does it occur too with other libraries? As far as I know, inside a single nodejs process, a `require` is only loaded once. Can it be th

[2019-08-15 12:16] harrysarson commented on #1592
Can this be reproduced without using Jest?

[2019-08-15 12:17] harrysarson commented on #1592
Could Jest run each js file in a separate process (or something)? If so then it would make sense for memory usage to increase.

[2019-08-15 12:55] keyflight commented on #1592
I think it has to do with running things in parallel and things not getting cleaned up after tests have run. I opened an issue at jest repo as well to figure that out.

https://github.com/facebook/jest/issues/8832

[2019-08-15 13:35] josdejong commented on #1592
Yeah something like that makes sense. It could be that there is no actual problem though and that the garbage collector simply didn't trigger yet.

[2019-08-16 00:14] waseemyusuf commented on #1329
@josdejong This issue can be closed now. The feature was added in PR #1588

[2019-08-16 13:08] cryptomanxxx opened #1593 "Math Notepad needs to become open source!"
All current mathematical software / computer algebra systems (cas) such as Maple, Mathematica and Matlab have close source code and they are proprietary. They only exist to make money. I refuse to use software from greedy and pathetic capitalists that are only interested in making money. Math notepad have a golden opportunity here to take the lead. Math notepad therefore needs to become open sourc

[2019-08-16 21:22] harrysarson commented on #1593
If I may answer this question on behalf of Jos, who has spent years contributing over 2000 commits to this open source mathematics library, has given up a lot of time to engage with folk using this open source library and has put huge amounts of effort into constantly improving this open source library largely based on requests from users.

Creating high quality mathematical software _is_ hard and

[2019-08-17 08:39] josdejong commented on #1593
I'm always open for any constructive discussion, but I'm not going to comment on such a rude, negative, demanding tone.

[2019-08-17 09:35] cryptomanxxx commented on #1593
I apologize if the tone was hard but the fact is that there is war going on between people that want to profit from knowledge, control it and have closed science (universities, mathematical software companies and greedy scientific journal publishing companies) vs open science and free flow of knowledge. As an independent scientist (not spoiled by a wage from a university) that lives on an constrai

[2019-08-17 11:07] harrysarson commented on #1139
@josdejong what are we thinking about the current state of ci build times? Currently, runs take about 5 minutes. I have submitted #1594 to solve (1.). With that can we close this out?

[2019-08-17 11:22] harrysarson commented on #1139
I don't think limiting git depth or caching node_modules saves much time, I might see if we can drop these from travis.yml

[2019-08-17 15:37] josdejong commented on #1593
Apologies accepted.

I'm glad you see a lot of potential in Math Notepad. Please note that I've open sourced the largest part of Math Notepad already in the form of this `mathjs` library. Just open sourcing Math Notepad will not solve any immediate issue. Running an open source project successfully is not as simple as you may think. It requires dedicated people putting a lot of effort (for free!)

[2019-08-17 15:39] josdejong commented on #1329
Yes, thanks. Will do so once released ok?

[2019-08-17 15:44] #1139 closed

[2019-08-17 16:35] cryptomanxxx commented on #1593
ok thx for the suggestions and links. I will check them out and see if they can add any value to my research / data analysis.

[2019-08-17 17:24] waseemyusuf commented on #1329
Oh, ok. 😅 I thought you forgot to close it.

[2019-08-17 20:18] josdejong commented on #1329
The new function `combinationsWithRep` is now available in `v6.1.0`. Thanks again Waseem!

[2019-08-17 20:18] #1329 closed

[2019-08-17 20:58] cryptomanxxx commented on #1593
ok, let me see if I can explain more pedagogically by using an example what kinds of problems not open sourcing the HTML for math notepad leads to for me and for others.

Let say I write a java script function that I have stored locally in a text file on my computer.
Now I want to run that function on your website http://mathnotepad.com/
There is no way for me to do that because only the JavaScrip

[2019-08-17 21:22] harrysarson commented on #1593
It does sound like numpy + Jupyter is exactly what you are searching for. I think you could have some luck exploring those.

[2019-08-17 21:39] cryptomanxxx commented on #1593
numpy is python and I have never liked the programming language python! So unfortunately you are wrong. I am very sensitive to programming language syntax. If I dont like the syntax in the first couple of days I will drop that language. The only programming languages I more or less like are: JavaScript, Maple, VBA and google aps script.

[2019-08-18 07:00] cryptomanxxx commented on #1593
The fact is that I have even seen selfish and anal developers that have inserted malicious code in to the open source code to make sure they have 100% control of code, in this case, a crypto currency wallet. If the developers did not like what people were doing with "their" code they could externally (a kill switch) make the code stop working. This is the kind of hostility we see from some develop

[2019-08-18 07:57] cryptomanxxx commented on #1593
Also I have had a look at the HTML of the expression parser of mathjs in the browser https://github.com/josdejong/mathjs-expression-parser

What kind of ad hoc and un-ortodox src attribute is:

<script src="../dist/mathjs-expression-parser.js"></script>

Does ... mean I dont give a crap if this work for you since it works for me?

A correct src attribute look like this:

<script src="https://ajax.

[2019-08-18 08:45] josdejong commented on #1593
I will close this discussion, it's not constructive at all.

[2019-08-18 08:45] #1593 closed

[2019-08-18 14:41] ericman314 commented on #1593
Jos, I know I might regret posting in fear that it may encourage even more toxic discussion in the future, but I thought the least I could do is fork cryptoman's repo and alter it to use math.js as a processor. I hope you are not offended by this.

@cryptomanxxx, I share your preference for open source software, and I rarely (if ever) pay for software. But in return I contribute to the open source

[2019-08-18 17:07] KrystianKatafoni commented on #1572
The same issue here with angular. On localhost, before build it's working, but after ng build --prod, I have the same error message.

[2019-08-20 09:21] harrysarson commented on #1532
I propose removing:

https://github.com/josdejong/mathjs/blob/41efed79d3fcdcd5043952378f089df662d94ab1/src/utils/bignumber/formatter.js#L111-L112

https://github.com/josdejong/mathjs/blob/d8a4f3a00a5e61383ac72ea5509ff69cdcbdf6be/src/utils/number.js#L223-L224

[2019-08-20 09:28] harrysarson opened #1597 "sqrtm of 3D matrix returns undefined"
Try `math.sqrtm(math.zeros(2, 2, 2))` in mathjs v6. The function will return `undefined` - it should either return something sensible or throw an error.

[2019-08-20 09:31] harrysarson commented on #1597
Inserting this code is a good start:
[code]

[2019-08-21 08:23] waspo commented on #1585
Unfortunately I don't have a better idea than the one I described before. I know it's holiday time, so maybe there will be a descission in a few weeks?

[2019-08-21 09:08] josdejong commented on #1597
Good find! You're proposal of adding a `default:` case to the switch throwing an error is the right solution I think.

[2019-08-21 09:11] josdejong commented on #1532
Yes agree, and there are more deprecations I think (search code for `@deprecated` or `cleanup`).

Also good to repeat the thought I expressed in https://github.com/josdejong/mathjs/issues/1551#issuecomment-518960098:

On a side note: in _some_ future version of mathjs (not too soon) I would like to see if we can fully move away from mathjs instances. Currently we have a complicated hybrid between

[2019-08-21 09:13] harrysarson commented on #1597
The linter knows better than we do 😊

[2019-08-21 09:31] josdejong commented on #1597
:joy:

[2019-08-21 15:07] josdejong commented on #1253
I expect this issue to be resolved in `mathjs@6.0.0`, which has ES6 modules. Will close this issue now. If there are still issues please open a new topic.

[2019-08-21 15:07] #1253 closed

[2019-08-23 22:36] mirabilos commented on #676
I just needed this, and because it’s apparently impossible in py3k *and* JavaScript, I wrote a small shell script https://evolvis.org/plugins/scmgit/cgi-bin/gitweb.cgi?p=shellsnippets/shellsnippets.git;a=blob;f=mksh/fixfloat.sh;hb=HEAD to postprocess the numbers and dissolve the scientific notation using string operations.

[2019-08-27 10:50] AshoneA opened #1603 "use fraction got a incorrect number"
when i use `math.fraction(10.234567) ` to fraction, i got a fraction is 99401400/9712321, but 99401400/9712321 result is 10.234566999999279. I think i should got a fraction like 10234567/1000000, maybe i should set some config ?

[2019-08-27 11:19] harrysarson commented on #1603
This is due to the inexact representation of `10.234567` in javascript. (see http://mathjs.org/docs/datatypes/numbers.html#roundoff-errors).

Try `math.fraction("10.234567")`

Hope that helps!

[2019-08-27 11:45] AshoneA commented on #1603
@harrysarson awesome! thanks for your help!

[2019-08-27 13:10] harrysarson commented on #1603
pleasure

[2019-08-27 13:10] #1603 closed

[2019-08-28 14:12] #1547 closed

[2019-08-28 14:17] #1463 closed

[2019-08-28 19:05] dkreye opened #1606 "math.format() with {notation: 'fixed'} does not work for expressions"
Bug found in version 6.1.0:
The function `math.format` does not propagate its argument `options` into the recursive subcalls. As a consequence, the options are ignored if applied to expressions.

Example:
`math.format( math.parse( "1234567 + 1"), {notation: 'fixed'})`
results in "1,234567 + 1" rather than the expected "1234567 + 1".

[2019-08-28 19:59] dkreye commented on #1606
In order to fix this bug, propagating `options` into the `toString()` calls in function `string_format` is a good start:

[code]

[2019-08-28 20:50] dkreye commented on #1606
Workaround: `math.parse( "1234567 + 1").toString( {notation: 'fixed'})`

[2019-08-29 08:18] #1606 closed

[2019-08-29 08:19] josdejong commented on #1606
Thanks @dkreye, fixed via e37cc81 (not yet published).

It remains a bit odd that we pass `options` to the default `.toString`, maybe some day we can better rename this method to `.format(options)` since it's non-standard behavior (`.toString` has no arguments).

[2019-08-31 08:11] josdejong commented on #1606
Fixed now in `v6.2.1`

[2019-08-31 21:35] dkreye commented on #1606
Thanks a lot, that was quick...

[2019-09-06 09:11] stared opened #1610 "Kronecker product creates DenseMatrix from SparseMatrix"
The current implementation of the Kronecker product #704 silently changes sparse matrices into dense matrices.

Example:

[code]

Returns `v`, which is a `DenseMatrix` even though `v1` and `v2` are`SparseMatrix`.
I would expect `SparseMatrix` instead.

Is it intended behavior?

[2019-09-06 11:13] stared commented on #1166
@josdejong  What is `ptr` anyway?

Vide:

https://github.com/josdejong/mathjs/blob/429276a3bf0cf3ee5ba72fe0a80633ad8516ac75/src/function/matrix/transpose.js#L158-L164.

[2019-09-06 15:50] mike239x commented on #1166
Uh oh, I completely forgot I wanted to implement the thing...
@stared see [CSR storage](https://en.wikipedia.org/wiki/Sparse_matrix#Compressed_sparse_row_(CSR,_CRS_or_Yale_format)) for sparse matrices, `ptr` is supposed to be column index for the non-zero elements in the matrix.
I haven't touched that in a while though so better double-check.

[2019-09-07 04:19] stared commented on #1166
Thanks @mike239x !

Now I see (I only knew about the `(i, j, val)` format).

In any case, I care about outer products (as I am developing [Quantum Game v2.0](https://medium.com/quantum-photons)). Is it easy to:

* create outer (Kronecker, tensor) product (vide #1610)
* map index/ptr to row and column indices (I would need it pretty much all the time).

[2019-09-07 09:05] josdejong commented on #1610
Good question. Not all functions do have support for SparseMatrices. If they don't have support, they convert the `SparseMatrix` input into a `DenseMatrix`, do their calculation, and return a `DenseMatrix`.

What you can do is wrap the function call so you get a `SparseMatrix` as result, like:

[code]

[2019-09-07 17:37] GauravKanted opened #1612 "Doubt - Help!"
@josdejong @rjbaucells
Hi,

I've looked through the docs and the issues posted here and could not find a solution for my issue.
I'm quite surprised nobody's faced what I'm facing (or maybe I'm approaching it wrong!)

So I'm using the library to convert a math text (from an excel) into it's LateX format using NodeJS
Something along the lines given below but the parser throws up an "UnhandledPromise

[2019-09-07 18:17] josdejong commented on #1612
The expression parser does not support expressions like `(4/5)^2 = ? * {4/5}`. You would have to adjust the parser quite a bit to be able to do something like that. In this particular example: it expects a variable on the left hand side of `=`, not an expression, it doesn't know what `?` is, and it doesn't know what `{4/5}` is, it's not a valid object notation.

Are you looking for something like

[2019-09-08 03:14] GauravKanted commented on #1612
Thanks for you prompt reply @josdejong!

I understand. I was just wondering maybe we could pass an array of arguments to the parser that when it encounters these symbols,or regex, to just ignore and move ahead. Somewhat like the replace function present in JavaScript, just instead of replacing the parser can move to the next character.

My end goal here is to convert the expression(and 1000's more

[2019-09-08 10:05] mike239x commented on #1166
@stared
so, first of all, regarding `index` and `ptr` - I made a minimal example to just see what exactly what field means:
[code]
This yields
[code]
so it is actually column-wise sparse storage, `index` indicates which row the value is in and `ptr` indicates where in `values` new columns start.

Now, the conversion to `(i, j, val)` should be fairly easy: `i`-s are values in `index`, `val`-s are v

[2019-09-08 14:40] mike239x commented on #1610
As of right now you can just use something like this:
[code]
I believe this is not the fastest way to do it, but it gets the job done.

Alternatively, I also wrote how to do that manually, but for this code to work you would have to fix #1166 first:
[code]

[2019-09-09 06:16] tonyxiao opened #1614 "Configure DBL_EPSILON?"
[code]
I'd like the result to be `true` and can't figure out a way to do that with math.js without my own hacks. What's the right way to do this?

[2019-09-09 20:15] josdejong commented on #1614
The way nearly equal is calculated is explained here in the docs:

https://mathjs.org/docs/datatypes/numbers.html#equality

comparing almost zero against amost zero is a special case. You can either make sure both sides are not close to zero, for example add 1 to both sides:

[code]

or you can look if BigNumbers solve your issue: https://mathjs.org/docs/datatypes/bignumbers.html

[2019-09-10 04:58] wanmifam opened #1615 "Document 'isNumeric' function does not correct"
The document of function [isNumeric](https://mathjs.org/docs/reference/functions/isNumeric.html) does not correct as below point:

It always return false if parameter is 'string' type.
It seems mistake as below: https://github.com/josdejong/mathjs/blame/develop/src/function/utils/isNumeric.js#L20

[2019-09-11 08:05] josdejong commented on #1612
Unfortunately the parser cannot just "ignore" some syntax it doesn't understand. The parser first translates the syntax into a model ("expression tree", or "abstract syntax tree"), so it has to know how to translate.

Maybe you can build a preprocessing step, something like:

- Split the expression in two if there is an assignment `=` somewhere, have mathjs parse left hand side and right hand side

[2019-09-11 08:06] josdejong commented on #1610
Thanks for sharing Mike! Would you be interested in working out a SparseMatrix implementation of `kron`? (implementation, tests, docs)

[2019-09-11 08:11] #1615 closed

[2019-09-11 08:11] josdejong commented on #1615
Thanks for reporting, that's indeed an error in the docs Fixed it via a4f8451 (not yet published).

[2019-09-11 08:25] mike239x commented on #1610
@josdejong if I manage my free time properly, then yes, but so far I am not good at this...

[2019-09-11 08:40] josdejong commented on #1610
:+1: no worries, only if you like it.

[2019-09-15 20:01] richardbullin opened #1620 "Improve simplify"
The below simplify methods could be improved, also theres some funny stuff going on with the implicit operators?

[code]
I added the below rule to simplify a bit  more and thought I would share
[code]

[2019-09-16 17:57] josdejong commented on #1620
Thanks for sharing, there is indeed room for improvement there.

Would the rule you propose also work for something like `2x/5x`? Just handling the exact same numerator and denominator feels quite limited to me. What do you think?

[2019-09-16 18:44] ericman314 commented on #1620
I wonder why this wasn't caught by a rule such as `v/v = 1`? It's been forever since I've looked at simplify.js, perhaps a lot has changed?

[2019-09-16 18:52] josdejong commented on #1620
Yeah, I don't know. Maybe because the order of `x` and `5` are not the same for num/den. I have the feeling we have to dig a bit deeper to see why `simplify` is currently not able to simplify this equation.

[2019-09-16 19:57] richbully commented on #1620
@josdejong No it doesn't solve the issue you highlighted but I wouldn't say its limited as it takes care of other situations such as `(cos(x)sin(x))/(sin(x)cos(x))`, for the `2x/5x` case its a bit more specific as you are looking at ratios between constants. I would add `{ l: '(c1*n1) / (c2*n1)', r: "c1/c2" }` in addition to `{l: "(n1*n2) / (n1*n2), r: "1"}` to capture all these cases.

@ericman31

[2019-09-16 20:13] ericman314 commented on #1620
Nodes should be matched recursively, so in that case both the numerator and denominator would match the `*` node and its children. But I just glanced through the rules and I didn't see `n/n`. simplify.js was refactored a while ago, so maybe that rule got lost or was no longer needed for some reason.

[2019-09-16 20:56] richbully commented on #1620
@ericman314 Interesting! I just added that rule in and it still doesn't solve `'5x/5x'` but does work for `(cos(x)sin(x))/(sin(x)cos(x))` the nodes on the numerator were coming out as symbol * constant while the denominator was coming out as constant * symbol and one was implicit and the other wasn't. I changed the order so the top and bottom both used same order and also tried with both implicits

[2019-09-19 16:05] lovechaudhary commented on #1572
@KrystianKatafoni
Thanks for the solution. I had same error and after changes as you mentioned its working now.
But I want to know why the latest version not working on production build? Any idea?

Thanks

[2019-09-22 14:47] GauravKanted commented on #1612
Okay, thanks a lot for your support.
Will look at these ways.

[2019-09-22 14:47] #1612 closed

[2019-09-23 13:38] borboss366 opened #1628 "Cannot call string methods on empty string"
If you have a string, and try to use some of the default string methods (like toUpperCase, toLowerCase, etc).
If the string is '' (empty) calling these methods will fail with error 'No access to method', because of the check in isSafeMethod function.
[code]
!'' is always true. But '' is a legit string.
!object should be replaced with condition !== null && !== undefined

[2019-09-23 17:59] josdejong commented on #1628
Ouch! Thanks for reporting. This is one of these classic JavaScript pitfalls. The same issue occurs with calling a method on a number with value `0`, like `(0).toFixed()`.

[2019-09-23 18:23] #1628 closed

[2019-09-23 18:39] josdejong commented on #1628
This is fixed now in `v6.2.2`

[2019-09-23 18:54] borboss366 commented on #1628
Great!!!!

[2019-09-24 10:51] MouhamedEssam opened #1631 "Wrong behavior of toTex()."
## Wrong behavior if using toTex() on expression like ```log(x)```

[code]
### when it should produce latex ``` \log\left(x\right)```

[2019-09-24 12:52] borboss366 commented on #1628
Thanks! Already integrated changes! =)

[2019-09-24 12:55] #1631 closed

[2019-09-25 21:26] danger89 opened #1633 "Cumulative Sum calculation function"
Hi,

I saw you got already `sum()` in the libary, but I was missing the [Cumulative Sum](http://mathworld.wolfram.com/CumulativeSum.html).

In JavaScript you could calculate this as follows (using an array as input):
[code]

Maybe an idea to add this?

Regards,
Melroy

[2019-09-25 22:13] danger89 opened #1634 "Missing diff"
Hi,

I have an array of numbers, I would like to calculate the diffs between them.

Just like the [numpy diff](https://docs.scipy.org/doc/numpy/reference/generated/numpy.diff.html).

Is that possible?

Ps. this is definitely not the same as your `math.setDifference`!

Regards,
Melroy

[2019-09-26 15:25] LloydLS commented on #1634
You can use `.map()`, e.g.

[code]
The function `f(x,i,a)` used in `.map()` gives you access to the element of the array (`x`), the index of the array (`i`, note that this is zero based and returned as an array containing 1 element), and the array itself (`a`)

[2019-09-26 15:41] LloydLS commented on #1633
Might be nice for the devs to add this if they have time; alternatively, you could use `.map()`:
[code]

[2019-09-26 16:54] danger89 commented on #1634
@LloydLS
Is this also possible to calculate the diff between two arrays? Example of numpy:
[code]

[2019-09-26 16:55] KevinGervais opened #1635 "nthroot((negative number)*0, 2) should be 0 and gives an error"
by example if I do:
[code]
it shoud be:
[code]

also, when we have any other negative number it equals error when it could be a complex number
by example:
[code]
it should be:
[code]

the sqrt function works properly with those cases, maybe you could replace nthroot by sqrt when the root is 2, but the problem is that if we have any even root, the same problem occurs

[2019-09-26 21:21] danger89 commented on #1634
More over your code gives `ReferenceError: f is not defined`

[2019-09-26 21:27] danger89 commented on #1634
The answer would be, but nevertheless maybe somebody just want to add it to mathjs?
[code]

[2019-09-26 21:51] ericman314 commented on #1635
I'm not able to reproduce this. For me, I get:
[code]

Some ideas:
1. Is your config using something other than regular numbers, like BigNumber?
2. Perhaps you meant `nthRoot` with a capital R?

As for the second case:

[code]

`nthRoot` always returns a real number by design; there's a good discussion of it in #851. Here are some alternatives to get the complex roots:
1. `pow(-5, 1/2)`, which ret

[2019-09-27 08:27] LloydLS commented on #1634
Hi,
If you want to subtract one array from another in MathJS you don't need `.map()`, you can just subtract one from the other.

[2019-09-27 08:29] LloydLS commented on #1634
That's odd, it works for me on the MathJS site. Maybe someone else can chime in on this.

[2019-09-28 12:15] KevinGervais commented on #1635
Yes the configuration is on bigNumbers

[2019-09-28 15:50] DragonOsman opened #1636 "Parsing input stored in calculator app before clearing or evaluation - may or may not be valid expression"
I'm trying to implement a browser-based calculator app that tries to emulate the Windows calculator app (except making the symbols for squaring and getting the square-root of a number being the ones that this library would require).  I have the input stored in the calculator appear at the top in the display screen, which I have as a `div` element with two `p` elements: one for the stored input and

[2019-09-29 14:19] josdejong commented on #1636
You can use parentheses in regular expressions but you'll have to escape them.

If I understand you correctly you use this regular expression to check whether the input is valid before evaluating? You can simply execute `math.parse` and enclose it in a `try {... } catch`: if the input is not valid it will throw and you catch and continue.

[2019-09-29 14:21] josdejong commented on #1633
Adding `cumsum` would be a nice addition Melroy, thanks for your suggestion. Before implementing it we should discuss what to do with 2 or n-dimensional matrices.

Anyone interested in implementing `cumsum`?

[2019-09-29 14:26] josdejong commented on #1634
Thanks for your suggestion Melroy, would be nice to add a function `diff`.

@LloydLS the function `diff` would not calculate the difference between two matrices, but calculates the difference between the elements in a matrix: `[1, 2, 4, 7, 0]` should return `[ 1,  2,  3, -7]` for example.

Before implementing `diff` we should discuss the details of how it should behave, we can take the Python impl

[2019-09-29 19:37] nwiatrek commented on #1635
For the first case, ie `nthRoot(-5*0,2) = error.` I created a test that shows the same as was what @ericman314 got, and even setup the configuration to be on bigNumbers:
[code]

This returns back that the test indeed passes. I doubt that the problem is with the capital R in `nthRoot` since if you don't have the `R` an error is thrown saying that it is not a function.

What version of the package a

[2019-09-29 20:51] josdejong commented on #1635
@nwiatrek I don't think the `beforeAll` in your test is doing anything: you're not using the created `mathjs` and also not using the expression parser which would parsed the numbers as BigNumbers.

[2019-09-29 21:14] nwiatrek commented on #1635
you are correct, my apologies. is this something that is more correct:
[code]

[2019-09-30 18:17] josdejong commented on #1635
@nwiatrek you'll have to pass a string to `mathjs.evaluate` in order to create BigNumbers from values in the expression.

I can reproduce the case like this (node.js):

[code]

The reason that the error is thrown in case of BigNumbers is that the current implementation sees `-0` as a negative number in case of a BigNumber, but not in case of a number. We we improve that edge case for BigNumbers.

[2019-09-30 20:34] DragonOsman commented on #1636
What if the expression is incomplete?  I need a way to tell if the expression is complete, for example that it has enough numbers and operators in it or at least one function that can be successfully evaluated.  Would be good if the exception I get can help with that.

[2019-09-30 22:08] dvd101x opened #1639 "on std.js there is a duplicated 'min' in seealso:"
Change
`  seealso: [
    'max',
    'mean',
    'min',
    'median',
    'min',
    'prod',
    'sum',
    'variance'
  ]
`
to
`  seealso: [
    'max',
    'mean',
    'min',
    'median',
    'prod',
    'sum',
    'variance'
  ]`

[2019-10-01 03:15] edgarjrg commented on #1449
I haven't found anything that solves the US system, Imperial, Metric differences of `cup`, `Tbs` etc well, same issue happens in [measuring-cup](https://github.com/cgatno/measuring-cup/issues/4). The need of

1. Transform between systems (US, Imperial, Metric, etc)
1. Transform between units (`cup` of sugar -> `g` of sugar)

Are very common use cases for cooking, (the 2nd point is a total differen

[2019-10-01 03:25] ericman314 commented on #1449
I've been working (very slowly) on migrating all the units functions from math.js into their own library. Would you mind raising this issue over at https://github.com/ericman314/UnitMath/issues ? That way I will not forget about it. I imagine that this might be something we could address with a configuration option to choose between the various types of cups, etc, or have units with suffixes such

[2019-10-01 14:40] Chris1234567899 opened #1640 "Using mean with units throws error in evaluate function"
Using a calculation like this:

`var calculation = "mean(5km,10km)";`
`math.evaluate(calculation);`

results in the following error:
` Cannot calculate mean, unexpected type of argument (type: Unit, value: {"mathjs":"Unit","value":5,"unit":"km","fixPrefix":false})`

It is because of the units, because the line
`var calculation = "mean(5,10)";`
works perfectly fine.

I tested the same with function

[2019-10-01 15:41] ericman314 commented on #1640
Thanks for reporting. Anyone want to work on a fix? Might be a while before I can get to it.

[2019-10-01 19:56] #1639 closed

[2019-10-01 19:56] josdejong commented on #1639
Thanks for reporting @dvd101x , fixes via 2713431b846226f9d4b7567345ef3199b6b20c44

[2019-10-01 20:03] josdejong commented on #1636
Well, it's just my 2-cents. I don't know what kind of rules you have in mind to determine whether an expression is complete. Anyway, just trying to parse it and see if it fails will allow you to figure out whether the expression is valid, and is not missing a closing bracket or a value on the right side of an operator, etc.

[2019-10-02 16:29] clintonc commented on #1640
I'd like to work on this (and related matters); I've got working code and tests, so I can make a PR later today.

[2019-10-02 20:14] tobiasguimaraes opened #1643 "Stupid question if"
Theres a way apply if else in middle of the expression?

math.evaluate(' if(scope.a > scope.b) ? scope.a * 10 : scope.b * 20 ', scope) ?

Where it evaluates the variable apply the correct way ?

[2019-10-03 05:34] josdejong commented on #1643
You probably mean the conditional operator `condition ? truePart : falsePart` .

https://mathjs.org/docs/expressions/syntax.html#operators

[2019-10-03 18:30] josdejong commented on #1640
For reference: fixed via #1644

[2019-10-03 19:10] #1643 closed

[2019-10-03 20:34] Chris1234567899 commented on #1640
Cool, great.

I noticed the round() function as as well problems with units. Maybe you could have a look at that while you are on it. Maybe it's the same thing.

[2019-10-03 21:01] ericman314 commented on #1640
Thanks, @clintonc!

@Chris1234567899, if you mean `round(6.35 cm)` or something, that's not supported because we don't want the results of expressions to change based on what units they're written in:

[code]

It's even more problematic when the argument to `round(...)` is an expression itself with various units,  then there's no telling which unit it will be expressed in when it is passed to `rou

[2019-10-04 14:13] Chris1234567899 commented on #1640
@ericman314  thanks for the explanation. I had in mind to overcome the problem with floating point precision with rounding, but it seems I can take the format() functionality for that in my case. This has no problem with units. Nevermind then :)

[2019-10-04 15:02] ericman314 commented on #1640
Cool!

[2019-10-04 15:02] #1640 closed

[2019-10-06 08:09] josdejong commented on #1640
That's a clear explanation Eric. I can imagine we extend the function `round` so you can pass the unit which you want to use to round the value, like `round(6.3542 cm, {unit: cm, precision: 2})` or `round(6.3542 cm, cm, 2)`.

[2019-10-06 14:07] larkin-nz commented on #1532
Hey @josdejong,

I really appreciate you and the others involved in maintaining this project.

Any estimated timeline relating to addressing #864 in V7?

Thanks

[2019-10-07 18:06] josdejong commented on #1532
Hi Daniel, thanks for your message. I myself currently don't have plans to work on it the coming period. If someone else could pick it up that would be great, but if not it will not be addressed any time soon I'm afraid.

[2019-10-08 02:55] wes-r opened #1645 "Object syntax doesn't allow keywords (to, mod, in, etc) as keys"
`math.parse('{from: 5, to: 7}')`
fails with:
`math.js:46660 Uncaught SyntaxError: Symbol or string expected as object key (char 11)`

This fails for all of the keywords in the syntax: `mod, and, not, or, xor, to, in`.

Tested version: `6.2.2`.

[2019-10-09 06:27] josdejong commented on #1645
Thanks for your suggestion Wesley, it would be nice indeed if we could use keywords as object properties. Should be possible I think.

[2019-10-09 17:48] Chris1234567899 commented on #1483
Is there any news on this one?
Or workarounds meanwhile?

[2019-10-09 18:15] ericman314 commented on #1483
I'm working on it in https://github.com/ericman314/UnitMath. Most of the checklist items [above](https://github.com/josdejong/mathjs/issues/1483#issuecomment-485512818) have been addressed. There's just a bit more work to do regarding custom units, and when it's ready we'll schedule it for the v7 release I think, with UnitMath as a Math.js dependency.

[2019-10-23 06:34] ShadabFaiz commented on #1572
Any update on this issue?

[2019-10-23 12:37] josdejong commented on #1572
No. What would be helpful is a minimal code example demonstrating the issue. I'm not sure how to reproduce.

[2019-10-24 03:24] JoaquinKeller opened #1659 "Inplace matrix operations"
Hello !
I am a newb in mathjs and this is my first time posting here...

My question:
When dealing with big matrices allocating memory can be costly.
Using subset I wrote a piece of code (see below) that allows to assign a new value in an already allocated matrix.
I was wondering is there is another way of doing so.

Also it would be great if operations could be done inplace. example
[code]
Or may

[2019-10-24 05:45] Quoteme commented on #1253
The error still has not been fixed:
[code]
results in:
[code]

and
[code]
results in:
[code]

[2019-10-26 12:34] josdejong commented on #1659
Thanks for your question Joaquin, it's a good question. mathjs is designed with immutability in mind, so all operations like `add` and `multiply` do not alter the inputs but return a new matrix instance containing the results. Working in an immutable is a good idea in general since it can prevent quite some bugs and weird side effects.

For example [moment.js](https://momentjs.com/) has this behav

[2019-10-26 12:50] josdejong commented on #1253
@Quoteme thanks for reporting.

The entry point for ES Modules is `main/esm/index.js`. The `module` field in `package.json` is pointing to this file, and bundlers like Webpack pick this up automatically. This entry point though will load hundreds of files though, since it's the unbundled source files, and I don't think unpkg.com likes that.

It would be nice if there is a way to make the bundle al

[2019-10-26 14:34] JoaquinKeller commented on #1659
Thanks for the answer.
Actually mathjs is quite complete. I've been comparing with alternatives for linear algebra in js (ndarray and tensorflowjs) and mathjs is the only one to implement complex numbers (tfjs support for complex numbers is poor and buggy, ndarray has none).
So I've been able to achieve what I was looking for: a quantum computer simulateur to run in the browser --like in here: [Qu

[2019-10-26 16:59] josdejong commented on #1659
Great to hear mathjs is such a good fit for your application.

One area where there is much room for improvement in mathjs is performance (even without considering mutating matrices themselves). If you like I can email you a paper Eric and I wrote about mathjs a couple of years ago, which also has a section about performance. There are also some issues here in the issues section discussion options

[2019-10-30 16:12] durgaprasadd commented on #1633
I liked the idea of adding functionality of cumulative sum. If you don't mind, I want to implement that `cumsum` . Assign that to me and let me know conventions.

Regards,
Durga Prasad.

[2019-10-31 17:20] danbulant opened #1663 "Allow using special characters in names of custom units (ř,č,í...)"
Hello.
I want to use mathjs in Czech platform, and I would like to have support for czech. How I can translate? I've found only createUnit, but this only fixes units, but I would like to change even the word "to" and maybe other words that are available.
Also using special characters that normally appear in non-english words are throwing errors.

[2019-10-31 20:48] danbulant commented on #1663
If it's not possible in API, could you please send me location of the strings in source code?

[2019-11-02 09:40] josdejong commented on #1633
Thanks for your offer @durgaprasadd , that would be great. Before you implement the function it is good to agree on what the function will exactly do (what to do with 2 and n-dimensional matrices). Can you do a proposal @durgaprasadd ?

About conventions: the code style is standardjs (`npm run lint`), and you can take an existing function like `sum` as a base to see how things work.

[2019-11-02 09:46] josdejong commented on #1663
I think you're asking for two things here:

1. Can I get localized error messages? (the error messages is the only text in mathjs I think)

    There is no localization implemented in mathjs right now. That will be useful to implement I think. Anyone interested in implementing localization in mathjs?

2. I cannot use certain special characters in variable names in the expression parser. Is this wh

[2019-11-02 09:50] josdejong commented on #1663
Check out the source code. Search for all occurrences of `"throw "` in the `src` folder, you will find about 700 error messages.

[2019-11-03 00:46] chivington commented on #1165
Any progress on this? Am getting into mathjs as a numpy replacement in the browser for implementing ML/AI stuffs. [Broadcasting](https://docs.scipy.org/doc/numpy/user/basics.broadcasting.html) is a verrry handy feature that makes a lot of learning algorithms a bit simpler to implement. Happy to pitch in.

[2019-11-03 00:50] chivington commented on #1165
Also might add the word "Broadcasting" to the title for the numpy folks looking for help on this. I'd imagine they'll become a larger and larger part of your target audience, if they aren't currently.

[2019-11-03 10:36] josdejong commented on #1165
@chivington thanks for your input. There is no progress on this feature so far. I've marked the issue with a label "help wanted", now.

Anyone interested in implementing this feature?

[2019-11-05 16:05] VorpalBlade opened #1665 "mathjs/number missing typescript definitions."
mathjs/number (documented at https://mathjs.org/docs/custom_bundling.html) doesn't seem to work with TypeScript. It looks to me like this is missing from the @types/mathjs TypeScript definitions.

Is this sort of issue tracked here at mathjs or should I open a separate bug against the DefinitelyTyped repository instead?

[2019-11-06 10:51] josdejong commented on #1665
@charlee has been working on the TypeScript definitions. I think he also wanted to implement types for `mathjs/number` but I don't know the status of that.

See #1539, let's continue the discussion there ok?

[2019-11-06 10:51] #1665 closed

[2019-11-06 10:52] josdejong commented on #1539
@charlee did you manage to write type definitions for the number types? I see this issue is still open.

[2019-11-06 14:38] ShiftyMcCool commented on #1572
Sorry for the delay, lots of tight projects lately.  Minimal reproduction here: https://stackblitz.com/edit/angular-8rfnpw

Works fine in the browser, but download the code and do a production build.  After the project is built, serve the contents of the dist folder and you'll see this in the console:

![image](https://user-images.githubusercontent.com/1320624/68307412-334dc900-0079-11ea-9d2d-7285

[2019-11-06 19:35] josdejong commented on #1572
Thanks for reporting back Ryan!

I downloaded https://stackblitz.com/edit/angular-8rfnpw, run `npm install`. Tried `npm start` which works fine, and also `npm run build` and then opening dist/demo/index.html works fine.

How can I get the issue to trigger exactly?

[2019-11-07 03:10] ShiftyMcCool commented on #1572
It has to be a production build, use `ng build --prod`

[2019-11-07 12:52] kevinkelleher12 opened #1669 "math.qr returning lower triangular matrix"
`math.qr([[0, 1], [1, 0]])`

throws this error:

`Uncaught Error: math.qr(): unknown error - R is not lower triangular (element (1, 0)  = 1)`

I'm able to use the QR decomposition in other software on this example matrix.

I believe the issue is with the below line of code returning 0 when pivot is 0, so that the reflection is not properly calculated:

`const sgn = unaryMinus(sign(pivot))`

Side n

[2019-11-07 21:06] josdejong commented on #1572
Ah ok, thanks, I can now reproduce the issue. No clue what could be the cause though.

[2019-11-10 19:16] josdejong commented on #1669
Thanks for reporting Kevin.

So if I understand you correctly there are two issues:

1. The qr fails for example above whilst it should be able to calculate the result
2. The error message is incorrect.

Anyone able to look into this issue in more detail? Help would be very welcome.

[2019-11-11 18:10] kevinkelleher12 commented on #1669
Thanks, yes I believe you've summarized the issues correctly.

After changing the line of code I identified to read:

`const sgn = pivot === 0 ? 1 : unaryMinus(sign(pivot))`

the function correctly calculates the QR decomposition for my example and passes all tests.

I would be interested to hear someone else's thoughts, as I'm not an expert (especially unsure how to properly handle this for compl

[2019-11-11 20:32] harrysarson commented on #1669
Yeah, legit bug. Thanks for flagging!

I can fix this, do you have an example of a complex matrix that would cause the same error?

[2019-11-13 16:04] daveisfera opened #1672 "Parsing `{}` as variable instead of object?"
Currently, we have some Python code that overrides the `set` parsing to be able to identify variables that have spaces and such and we'd like to be able to use these same expressions and evaluate them in Javascript. A simple solution we could do is to replace `{}` and spaces with another characters, like `_`, but we'd love to be able to build this into the parser and we almost can. Here's an examp

[2019-11-13 19:33] rmickus opened #1673 "Recusively parse and evaluate expressions"
I have an application where certain equations rely on other equations. The ordering of the dependencies of equations is not known at run time. So I would like to be able to use a scope to recursively evaluate each expression without throwing errors. Right now I can't seem to figure this out and was curious if this feature is possible.

For example, If I have in my scope:

`let scope = {
    a: "4

[2019-11-13 20:05] josdejong commented on #1673
Yes, that is an interesting case, that's more or less what Excel does for example.

This is a duplicate of the discussion in #791, which is still open. Shall we continue the discussion there to keep it focused?

[2019-11-13 20:10] josdejong commented on #1672
You can indeed not use variables with spaces or special characters in the global scope. You could defined them as object properties though, like this:

[code]

Would that work for you?

[2019-11-13 20:20] daveisfera commented on #1672
That's an interesting idea, but the formulas are already stored in that format and that's how the user can enter them, so we'd have to parse and rewrite the expression to do something like that and that's what I'm trying to avoid. Basically, is sounds like the search and replace concept is probably the easiest option.

[2019-11-13 21:17] josdejong commented on #1672
In that case I think you're right and replacing the special characters with an underscore is best.

[2019-11-13 21:31] daveisfera commented on #1672
👍

[2019-11-13 21:31] #1672 closed

[2019-11-13 21:42] rmickus commented on #791
I've run into a similar issue. Here's the post I made:

I have an application where certain equations rely on other equations. The ordering of the dependencies of equations is not known at run time. So I would like to be able to use a scope to recursively evaluate each expression without throwing errors. Right now I can't seem to figure this out and was curious if this feature is possible.

For ex

[2019-11-15 12:55] HaraldStiwa commented on #1334
Cool!
For me it would also be okay if it can be enabled/disabled via a config option. If there is a config option for it I do not care about the defaults ;-).

[2019-11-15 23:13] jadbox opened #1675 "Extend function distance with support for n-dimensional input"
Currently the distance function only works for a list of arrays with length between 2 and 3. Ideally math.distance should be able to work on arrays of size 1 (just an X cord) or n-dimensional arrays (provided all list of array items are of the same n length).

[2019-11-15 23:58] jadbox commented on #1675
For n-dim, see: https://github.com/zeke/euclidean-distance

[2019-11-16 13:30] josdejong commented on #1675
Ah, that would be nice indeed! I think once implemented this n-dimensional implementation could replace the current implementation for 2 and 3 dimensions and make the function as a whole much more concise.

Anyone interested in extending function `distance` to support n-dimensional input?

[2019-11-16 13:31] josdejong commented on #1675
Ah, that would be nice indeed! I think once implemented this n-dimensional implementation could replace the current implementation for 2 and 3 dimensions and make the function as a whole much more concise.

Anyone interested in extending function `distance` to support n-dimensional input?

[2019-11-16 13:33] josdejong commented on #1334
Thanks for your feedback Harald!

[2019-11-16 14:33] #1673 closed

[2019-11-16 14:34] josdejong commented on #791
:+1: thanks for sharing here.

[2019-11-17 20:09] andipabst opened #1676 "TypeError in the browser"
When I try to use mathjs 6.2.3 in the browser, it doesn't load, but throws the error `TypeError: array is undefined in math.js:5408:19`. This seems to be a line in the function `parseSignature` from the library typed-function (https://github.com/josdejong/typed-function/blob/e298b5c360018c6b1c3df7e558e61ee11055e450/typed-function.js#L316)

The same also occures with the minified version and both i

[2019-11-17 20:13] #1676 closed

[2019-11-17 20:15] andipabst commented on #1676
Sorry for bothering you, another library was messing with Array.prototype.map without me noticing.

[2019-11-17 21:07] josdejong commented on #1676
👍

[2019-11-18 16:30] wes-r commented on #782
@josdejong :'( Looks like this trick is once again no longer working? Got an update?

[2019-11-18 16:30] wes-r opened #1678 ""foo.2.baz" yields "Unexpected operator ." error"
I have some scope variables that use numbers as keys, e.g. `{foo: {2: {baz: 33}}`.

I'd like to be able to do `math.evaluate("foo.2.baz", {foo: {2: {baz: 33}})` and get `33`. Attempting to do so currently yields an `Unexpected operator .` error.

Would it be possible to get the parser to work for this case? Open to attempting a PR if I had some guidance on where to look/poke. TY!

[2019-11-18 19:03] #942 closed

[2019-11-18 19:03] #1669 closed

[2019-11-18 20:15] josdejong commented on #782
Ah, yes indeed that doesn't work anymore since v6 I think. I will see if there is another workaround.

[2019-11-18 20:23] josdejong commented on #1678
Interesting case. I think we can indeed improve the parser to allow array indexes in dot notation.

Would be great if you can give this a try!

The relevant code is in the function [`parseAccessors`](https://github.com/josdejong/mathjs/blob/develop/src/expression/parse.js#L1273) in `parse.js`.

[2019-11-19 16:08] izanagi1995 commented on #1572
I have the same issue... @josdejong did you find a solution ?

[2019-11-19 16:24] josdejong commented on #1572
I haven't yet found time to look more deeply into this (except being able to reproduce the issue).

Help would be very welcome!

[2019-11-20 08:26] josdejong commented on #1669
This issue is fixed now in `v6.2.4`. Thanks again @harrysarson and @kevinkelleher12.

[2019-11-20 08:27] josdejong commented on #942
This issue is fixed now in `v6.2.4`. Thanks again @harrysarson!

[2019-11-20 08:47] josdejong commented on #1551
@ericman314 just curious: what is the latest status of UnitMath? Are you still working on it?

[2019-11-20 11:17] ericman314 commented on #1551
I'm planning to work on it when I have time, so, hopefully soon. What's your timeline for v7?

[2019-11-20 11:34] josdejong commented on #782
@wes-r this should be easier now in v6, however, I noticed that `IndexNode` currently uses a hard-coded, one-based instance of the `index` function. I've addressed this in b9175a1a29e9b9ac02c899e956551c14c7ccd110 (not yet published).

After this fix is published, it's simply a matter of cherry picking which functions you want to import, in your case that is all functions except transforms:

[code]

[2019-11-20 11:37] josdejong commented on #1551
Mathjs is on the back-burner from my side these months, I'm working on an other project (jsoneditor). So I think v7 will only contain the new `unitmath` library, which is huge by itself so totally worth a major release :)

[2019-11-20 11:53] josdejong commented on #782
Ok should be fixed now in `mathjs@6.2.5`, can you give it a try Wesley?

[2019-11-21 04:06] wes-r commented on #782
Success! TY!

[2019-11-22 11:32] aalexgabi opened #1679 "toObject and fromObject"
I can serialize and de-serialize an expression to JSON as shown here: https://mathjs.org/docs/core/serialization.html

In my application the expression is part of a bigger JSON which is de-serialized at a higher level. I would need to de-serialize an expression from an object like this:
[code]

Of course I could do something like this but it's not optimal because I would have to serialize the obje

[2019-11-22 13:06] aalexgabi commented on #1679
I have been able to do it this way using [deepdash](https://github.com/YuriGor/deepdash):
[code]
Which prints:
[code]

It would be nice if the library would support this natively.

[2019-11-23 12:24] xcorpio commented on #1572
thanks, I have the same issue.

[2019-11-23 16:17] wes-r commented on #1678
I tried exploring that code a bit but am fairly lost.

Additionally, I was able to rework things on my end to use arrays.

Closing, but feel free to re-open if desired. Ty!

[2019-11-23 16:17] #1678 closed

[2019-11-23 16:47] josdejong commented on #1678
👍

[2019-11-24 03:21] wgxli opened #1681 "Complex gamma function gives wildly incorrect results"
Evaluating math.gamma(-4.242 + 0.0001i) gives a very, very, large number. However, the actual value of gamma(-4.242 + 0.0001i) is about -0.131...

This does not occur if math.gamma is called with a purely real number (-4.242). It needs a very small imaginary part.

[2019-11-24 08:48] josdejong commented on #1681
Thanks for reporting. Maybe there is a bug in the complex implementation of `gamma`, or maybe the small complex part causes numeric instability or so.

Anyone able to look into this issue?

[2019-11-24 09:10] josdejong commented on #1679
I get what you mean. That's interesting. You want to turn mathjs objects into plain JSON objects (non-stringified).

A simple (not very efficient) solution is to do it like this:

[code]

I suppose your "higher level serialization" is not customizable in such a way that it can embrace the provided `reviver`? I think that would be even better. Your proposed solution is to first turn mathjs objects

[2019-11-25 08:55] aalexgabi commented on #1679
@josdejong I receive JSON messages from an MQ broker. The MQ library automatically de-serializes messages and passes them to a handler function. Somewhere deep inside the handler function math.js is called with a part of the whole object to evaluate an expression.

The message contains multiple dynamic properties which are math.js expressions and are evaluated for a given context (scope).

[2019-11-25 19:26] josdejong commented on #1679
Thanks for the context Aalex, that makes sense.

I think your idea of `fromObject` and `toObject` is indeed worth implementing. It will give another powerful option for serialization/deserialization like your use case, and I expect it will be not that much code.

Anyone interested in implementing `fromObject` and `toObject`?

[2019-11-28 12:14] cosmorunner opened #1683 "Adding simple floats sometimes results in incorrect value"
Hi, im using default configuration and executing folling statements:

`math.evaluate('0.1 + 0.1');`
--> 0.2
`math.evaluate('0.1 + 0.8');`
--> 0.9
`math.evaluate('0.1 + 0.8 + 0.1');`
--> 1
`math.evaluate('0.1 + 0.7 + 0.1');`
--> 0.8999999999999999
`math.chain('0.1').add('0.8');`
--> Object { value: 0.9 }
`math.chain('0.1').add('0.1').add('0.7');`
--> Object { value: 0.8999999999999999 }

Is there a

[2019-11-28 13:15] Yaffle commented on #1683
@cosmorunner , see https://mathjs.org/docs/datatypes/numbers.html#roundoff-errors

[2019-11-28 13:22] #1683 closed

[2019-12-03 08:06] instafluff opened #1685 "math.intersect() for lines produces wrong intersections"
Using the production 6.2.5 version [https://unpkg.com/mathjs@6.2.5/dist/math.min.js](https://unpkg.com/mathjs@6.2.5/dist/math.min.js) of math.js, the following code should return null but returns an intersection point of (6, 0):

[code]

[2019-12-03 21:21] josdejong commented on #1685
Thanks for your feedback @instafluff. I think your assumption is that lines have a start and end and only intersect when the intersection is between the start and end of the line. The current implementation of `intersect` though takes the two points you give as "some" location on the line but not a start and end, it works with lines which have infinite length. You could validate whether the return

[2019-12-03 21:22] josdejong commented on #992
This issue was still open but is already resolved.

[2019-12-03 21:22] #992 closed

[2019-12-03 21:24] josdejong commented on #696
I think we forgot to close this issue, the functions are already implemented long time ago.

[2019-12-03 21:24] #696 closed

[2019-12-07 04:28] kmdrGroch opened #1687 "improve bigFactorial algorithm"
You can use different algorithms of factorial to speed this 2-8 times. Universal one (twice as fast):
[i am using bigint's in implementation, but logic is the same]
[code]

If you are interested in the less universal (faster than this after n=1400), I could provide it in comment

[2019-12-07 08:29] troflog commented on #472
What is the status of this?

[2019-12-07 10:35] josdejong commented on #472
This issue is stil open, I think Koos didn't manage to implement this, I haven't heard back.

Anyone interested in picking this up?

[2019-12-07 11:37] koosvanderkolk commented on #472
The project for which this was needed was suddenly cancelled, so I had to move on.

I would be happy to put some effort in it, but would still be struggling on how to implement the global var ("mathjs_normalRandom_spare" in my script) in a mathjs-way...

[2019-12-09 18:50] josdejong commented on #472
Thanks for your update Koos. Please don't feel obligated to pick this up, only if you enjoy it :).

Since we had this discussion, we have had quite a deep change in the dependency injection solution of mathjs (since v6.0.0), it's good to be aware of that. I don't know the exact details of `window.mathjs_normalRandom_spare` again, but generally we should not rely on a global `window` with certain f

[2019-12-09 18:55] josdejong commented on #1687
Performance improvements are of course always welcome Bartosz :) Would you like to work this out in a Pull request, or can we ask the community to pick this up?

I think it will be useful to write a little benchmark to make sure we're actually improving (see `/benchmark` folder.

[2019-12-09 20:30] kmdrGroch commented on #1687
@josdejong for now, I have benchmarks for my implementation. This algorithm is written to be fast tho. Should be always ~2 times faster since you have twice less numbers
20! = 1 * 2 * 3 * 4 * ... * 20  ( 20 terms )
20! = 20 * (20 + 18) * (20 + 18 + 16) * (20 + ... + 2)  (9 terms or so)

[2019-12-09 20:36] kmdrGroch commented on #1687
@josdejong I have one question tho. Should I use this math library or can I use BigInt?

[2019-12-09 21:43] kmdrGroch commented on #1687
![image](https://user-images.githubusercontent.com/28489774/70475615-cfca1780-1acc-11ea-854a-575efdb10adf.png)
After a small test, it seems it is faster (from 8! tho, but we can hardcode first 7 factorials I guess)

[2019-12-10 13:55] saschb2b opened #1689 "Evaluate with scope ignores BigNumber"
I'm a little bit confused on when the configuration actually is used.

This is my config
[code]
My calculation is as follows `x / a * b`
Where as
[code]

[code]
**Expected behaviour**:
evaluate(expression, scope) should be the same as evaluate(expression))

Installed version 6.2.5

[2019-12-10 22:06] m4recek commented on #1175
Any progress now? We have just "found out" that numeric.js has a bug in calculating eig values. And I was not able to find any trustworthy javascript library.

+ can this be takend out of Math.js docs? Its recommending numeric.js for eig calculations
https://mathjs.org/docs/core/extension.html

Issues with numeric.js
https://github.com/sloisel/numeric/issues?utf8=%E2%9C%93&q=eig

[2019-12-10 22:13] honeybar commented on #1175
@josdejong Hi, I am so sorry. It is been a while and I am busy with work. I dont think I am able to complete it. Feel free to pass it over to anyone.

[2019-12-11 00:29] kmdrGroch commented on #1687
@josdejong would you also like a proof paper for this algorithm?

[2019-12-11 03:19] kmdrGroch commented on #1687
Update: I have been working theoretically investigating this subject, and I have managed to make this algorithm twice as fast, these are results on this moment (right now I have implemented square difference factorial, as you can see in PR, although I am planning to check other possibilities too)

[code]
(It has been written using BigInt, not this library, so probably due to complexity I'll have t

[2019-12-11 07:56] josdejong commented on #1175
Thanks for getting back @honeybar, no problem at all!

Anyone interested in implementing eigenvalues and eigenvectors?

[2019-12-11 08:02] josdejong commented on #1689
This can be indeed confusing.

The behavior is:

- when any function receives numeric input (`number`, `BigNumber`, etc.), it uses that input as is.
- when any function needs to parse a string into a numeric value, it uses `config.number` to determine how to parse the string (i.e. into a `number`, `BigNumber`, ...)

Does that help?

[2019-12-15 08:45] josdejong commented on #1687
Thanks

[2019-12-15 08:51] josdejong commented on #1687
Thanks Bartosz, this benchmark clearly shows a factor 2 improvement, that's impressive :). I've merged the benchmark in the `develop` branch and fixed some linting errors that it complained about.

Anyone interested in replacing the current bignumber implementation with the faster one proposed here?

[2019-12-15 13:30] kmdrGroch commented on #1687
I am still working theoretically on that. Give me a week or two, I'll try to handle this PR or at least write benchmarks :)
Also, I need to check edge cases like n = 0 or n = 1 since in my proof I am omitting it. I need to consult my maths teacher so he can check my proofs :)

[2019-12-15 20:53] josdejong commented on #1687
Yes so it should be quite straight forward to replace the implementation with the one in from benchmark :)

I'll await your further experimentation.

[2019-12-15 21:10] kmdrGroch commented on #1687
Exactly. It will probably be just copy-paste implementation :)

[2019-12-17 16:30] kmdrGroch commented on #1687
@josdejong If you like, I have also quite fast algorithm for double factorial (the same logic as for factorial, so double speed).

[2019-12-17 16:41] petermarks12 opened #1693 "Same unit name with 2 different bases"
I have just gone through docs.  I want to create 2 units with same name but different base.

mb stands for millibar
mb stands for megabyte

I want to create 2 units with same name, one for binary and one for pressure.  This is just an example.   I could not see any option where i can define base for these units on this page.

https://mathjs.org/docs/reference/functions/createUnit.html

[2019-12-17 17:42] ericman314 commented on #1693
Unit names have to be unique, so unfortunately you can't define two units with the same name.

The base of a unit is inferred from its definition, so if you do `math.createUnit('inHg', '3386.39 Pa')`, it knows `inHg` should be a pressure because `Pa` is an existing pressure unit. Does that help?

[2019-12-18 12:21] petermarks12 commented on #1693
Thanks, got it... one small question... is there a function to get base of the unit?

[2019-12-18 14:20] ericman314 commented on #1693
There is not a built-in function to get the base. There will be in the next major release, hopefully.

Here's a polyfill you could use to get the base:

[code]

Then you can do:

[code]

The built-in bases are a little limited right now, but that should change in the next major release, because we hope to be using [UnitMath](https://github.com/ericman314/UnitMath) by that time, which recognizes ma

[2019-12-19 07:22] petermarks12 commented on #1693
thanks, you are very very helpful

[2019-12-19 12:59] ericman314 commented on #1693
We are moving math.js's unit functionality into its own library, UnitMath. Nearly all of the functions for units that are available in math.js right now will be included in UnitMath, plus some extras. Then, the next major release of math.js will use UnitMath, so all of those functions will still be available.

[2019-12-21 09:05] josdejong commented on #1679
Funny: https://www.bram.us/2019/11/25/faster-javascript-apps-with-json-parse/

I don't think it will apply to our case here, but it could be a good idea to do some real world benchmarking :)

[2019-12-21 12:43] josdejong commented on #1693
Really looking forward to see UnitMath finished :)

I think we can close this issue right? Feel free to reopen if needed.

[2019-12-21 12:43] #1693 closed

[2019-12-21 12:45] josdejong commented on #1687
That sounds interesting of course :)

[2019-12-21 12:56] kmdrGroch commented on #1687
If you are interested, I have created a math library based in bigints. You might want to take a look on some implementations :)

[2019-12-22 00:55] kmdrGroch commented on #1687
![download (1)](https://user-images.githubusercontent.com/28489774/71315442-8925d700-2455-11ea-9c5e-5fd6931e8667.png)

I was thinking of making a simple graph to illustrate speed of algorithms and came up with something like this (it is a rough version for simple illustrations)

[2019-12-23 09:29] josdejong commented on #1687
That's nice, that really gives a clear insight on _how much_ performance improvement the different  give, and how good they score on different ranges of values. It's interesting to see that up to about `1450` the `initializeFactorial` has worse performance than the others. So if the typical use case is below that, it may yield a regression in real world applications. Do you have an idea on what ra

[2019-12-23 14:10] kmdrGroch commented on #1687
Honestly, I have not done research in this field. For now, I am only testing different algorithms since I'm super interested in the "speed" part, not the "usage"/"social" part.

Although the speed is worse for numbers 1450 < , I still find this algorithm usable. You just need to "swap" algorithms for different thresholds:
[code]
using this method, we always get the best performance possible

[2019-12-24 09:11] zhenhua2340 opened #1697 "math.js Calculation error in `for`"
code:

[code]
output:

![math-error](https://user-images.githubusercontent.com/8407487/71405367-2fe5bf80-2670-11ea-899b-a63ff7eece91.png)

How can I set it to calculate correctly？

[2019-12-24 09:12] #1697 closed

[2019-12-24 09:14] zhenhua2340 commented on #1697
Sorry. I have misunderstood.

[2019-12-24 21:03] josdejong commented on #1687
Yeah I can imagine that it's really interesting to see how all these different approaches compare :) I'm sure it will also differ a lot whether working with numbers, BigNumbers, BigInt, etc.

I think it makes sense to put all your different algorithms and benchmarks and research in a separate repository (and maybe an npm library) purely focused on the best performance of factorial for large values

[2019-12-24 23:16] kmdrGroch commented on #1687
I'll remove `initializeFactorial` algorithm due to high complexity of it. Instead I'll try benchmarking my other model (factorial3) which uses the fact that: `n!` can be *almost* written as `n!! * 2 ** (n/2) * (n/2)!. It is has super easy proof by itself and both double factorial and factorial uses quite similar algorithm, so it is easy to understand. Full implementation in BigInt:
[code]

[2019-12-25 11:16] josdejong commented on #1687
These are very well understandable algorithms! Looks good.

Practical questions:

1. mathjs does not have any support for BigInt. It makes sense to me to add BigInt support for mathjs but that only works it we add support for at least all arithmetic functions for example and add documentation etc, that requires some work. I think that's too big to be part of this PR though.
2. The current implemen

[2019-12-25 12:26] kmdrGroch commented on #1687
There is no problem in changing it from bigint to bignumber, the only drawback is performance, which I'll measure to ensure its indeed faster.

If it comes to other functions, if needed, you could consider using parts of my library which basically works quite similar to BigNumber, but on BigInts.

But I am probably able to write every function using BigNumbers. Still I have to measure performance

[2019-12-26 00:45] arkajitmandal commented on #1175
I am interested. I have written already eigenvalue problem : https://github.com/arkajitmandal/DiagonalizeJS
check the demo: https://arkajitmandal.github.io/DiagonalizeJS/

[2019-12-26 20:02] josdejong commented on #1175
That is exactly what we're looking for Arkajit! Thanks for your offer. Would be great if you can implement this in mathjs. Note that right now mathjs supports numbers and BigNumbers. An implementation for both would be great but it makes sense to me to start simple with just support for numbers. What do you think is a good approach to integrated this functionality in mathjs?

[2019-12-26 20:04] josdejong commented on #1687
Let's focus on improving factorial (number and BigNumber) for now and keep BigInt support separate ok? I'm looking forward to see what you come up with :)

[2019-12-26 21:58] arkajitmandal commented on #1175
I agree, I would start with simple. I will begin with the eigenvalue eigenvectors for real symmetric matrix.
Lets call it  "eigs.js" in the matrix folder. What do you think? Once this is done I will do a function for generalized eigenvalue problem (we will call it "eigg.js"?) then one for hermitian complex ("eigh"?).

[2019-12-27 12:51] josdejong commented on #1175
I think `/src/function/matrix/eig.js` is indeed the best place to put the new function. Sounds good to do implement the functions one at a time :+1: . If you have questions about the architecture of mathjs please don't hesitate to ask.

[2019-12-27 13:56] kmdrGroch commented on #1687
@josdejong I have removed that complex algorithm and was playing with another algorithm, but I couldn't make it fast enough (even with BigInt, since I had to use `BigInt(n)` instead of 1n,2n etc which make it slow). So for now the fastest algorithm available is already on. Even after optimisations, the difference was insignificant, so this is the fastest available for now :/ (still double speed is

[2019-12-27 17:28] yboujraf opened #1699 "Mathjs : generating formula for RX and Tx exchange between two different equipments not speaking same language"
Dear @jherdman , @pavpanchekha , @tmcw , @tmpvar , @garrison

### translate from different protocols data with properties.

One of the properties is "Formulas".

### Formulas ( Rx / Tx)

•	Formulas provide a way to project values received from an equipment to another value range or representation.
•	For example, an equipment might send gain values as INTEGERs ranging from 0 to 65535, while the act

[2019-12-28 05:13] arkajitmandal commented on #1175
I have started coding. I will ask you if I get some problem. Thanks

[2019-12-28 15:30] josdejong commented on #1699
mathjs could definitely be used to parse and evaluate expressions like `$ / 8000000.0`. I'm not sure though what your formula `"1*\n1/"` means, it's not syntax that the expression parser of mathjs will understand out of the box.

It's maybe easiest to just play around a bit with the expression parser to get a feel of what it can do.

[2019-12-28 15:51] josdejong commented on #1687
Double speed is awesome :sunglasses: :rocket: ! Bummer that the other optimizations didn't work out, but very good to have this verified with some benchmarks! Thanks for all your effort.

I think we can close #1691 then, and the next step would be to actually implement the 2x improvements that are already in `test/benchmark/factorial.js`?

[2019-12-28 16:23] Veeloxfire commented on #927
I thought I'd take a look at this just for something to do. I fixed it for sin cos tan and cot by adding if/switch statements for specific cases in the trig function js files e.g. in tan.js
`number: Math.tan` goes to
[code]

idk if this is the sort of thing you were looking for because it does add in the NaN which isnt ideal and you could just remove that part and let it go to the default.
I'm not

[2019-12-28 17:16] kmdrGroch commented on #1687
Well yeah. I guess it's enough to just copy /paste implementation to SRC folder :) I can do it tomorrow /maybe today

[2019-12-29 08:16] yboujraf commented on #1699
Dear @josdejong

Yes it think MAthjs could do what I need but need some help or an example in javascript.

Regarding **formula "1*\n1/"**

That means when the client receives this properties the "/n" is the separation from RX formula then TX formula then no needs two properties

### Use case - write the formula - RX

1. the client introduces the formula in an editbox. Just the '$' indicates the va

[2019-12-29 14:19] Veeloxfire commented on #1675
how about
[code]
and
[code]

only written it for arrays though as proof of concept

[2019-12-29 23:22] arkajitmandal commented on #1175
Hi !
I am trying to add the eigs function. And I have some questions regarding this. So far, this is what I have done:

1. created a file  src/function/matrix/eigs.js , which is exporing createEigs with name = 'eigs' and some dependencies. Right now the this file only checks whether the input is square or not.
2. Added test/unit-tests/function/matrix/eigs.test.js which now has sopme preliminary un

[2019-12-30 06:01] arkajitmandal commented on #1175
Update:
I have the eigenvalues working , but the eigenvectors are still not done.... have to fix a bug.... anyway please let me know about the above error.

npm build then
npm test
works ....

[2019-12-30 07:50] good-fat opened #1703 "There are some errors in the calculation results"
I use eval function to calculate a number,the expression is as follows:
math.eval('12 / (2.3 + 0.74)');
The correct result should be: 3.9473684210526316(rounding) or 3.9473684210526315(no rounding),
but, math.js gives me the result: 3.9473684210526314.
There is an error.
Releases: v6.2.5

[2019-12-30 10:03] josdejong commented on #1703
This is a floating point round-off error, see docs: https://mathjs.org/docs/datatypes/numbers.html#roundoff-errors

[2019-12-30 10:04] #1703 closed

[2019-12-30 15:25] Veeloxfire commented on #1277
for 4. I thought complex infinity meant that it was infinity with unspecified direction.
So {re: +- infinity, im: 0} would still be complex infinity yet Imaginary part is still 0 because the argument could be 0 or 2pi. Wouldnt this mean {re: infinity im: infinity} wouldnt be complex infinity as this would have a specified argument? In fact Wolfram says -log(0)-i*log(0) is {re: infinity im: infinit

[2019-12-30 18:17] arkajitmandal commented on #1175
Update:
![math eigs](https://user-images.githubusercontent.com/10487689/71594179-e9c3ac80-2b04-11ea-85a1-4535fadd143e.gif)
eigs is now working but I still have "the Missing entry in bundle" error. Thanks

[2019-12-31 04:55] arkajitmandal commented on #46
Hi is this implemented yet?

[2019-12-31 08:46] josdejong commented on #46
No this hasn't been implemented. Anyone interested in picking this up?

[2019-12-31 10:21] josdejong commented on #1699
Math.js does not have support for inverting formulas, though we would love to have this! It is not a trivial thing to solve though. It depends also on whether you want to solve it numerically or algebraically. There is an open issue for this, about support for a solver: #38.

[2019-12-31 10:33] josdejong commented on #1687
Thanks Bartosz, I've merged your PR now! It's a very nice improvement and I love it that it's achieved by just a few lines of code.

[2019-12-31 10:40] josdejong commented on #1175
That looks promising Arkajit :+1:

The issue `Missing entry in bundle. Path: ["docs","eigs"]` is probably because mathjs expects embedded documentation for every function. To solve this add an entry `eigs` in `src/expression/embeddedDocs/embeddedDocs.js`. You can look at docs of existing functions to get the idea (and if still unclear just ask me).

[2019-12-31 10:56] josdejong commented on #1687
Improved `factorial` is now available in `v6.3.0`

[2019-12-31 10:56] #1687 closed

[2019-12-31 11:09] josdejong commented on #927
@Veeloxfire thanks for looking into this! This is definitely the direction we should be thinking: replacing `tan(pi/4)` and a multiple of that with `1`.

This issue is about _algebraic_ simplification though, not _numerical_ simplification. So we're looking to extend the rules that the `simplify` function currently has. So for example:

[code]

Can you give an example? It may be the difference bet

[2019-12-31 11:10] josdejong commented on #1675
Yes, that should do the trick! Would you like to work this out in a PR @Veeloxfire?

[2019-12-31 11:11] yboujraf commented on #1699
Dear @josdejong

I think I don't need this.

Is just need in the formula properties to write the equation (formula) provided by the manufacturer to get the readable value for client side like celsius, -14.00dB instead of 4054.

But when the client want to interact, which is the revert formula to convert to the sensor or other.

RX = $/1000
TX = $*1000

Not problem to write it and math could do the

[2019-12-31 11:18] josdejong commented on #1675
Ah I should read my inbox backwards I think :joy: now I see #1702

[2019-12-31 11:30] josdejong commented on #1277
Thanks @Veeloxfire I think you're right.

WolframAlpha defines complex infinity as:

So in terms of JavaScript, this should be `{re: +- infinity, im: NaN}` then?

Having a constant `complexInfinity` is indeed a great idea to be able to consistently solve this and prevent all kind of edge cases.

I've updated my previous comment to prevent further confusion.

[2019-12-31 11:39] josdejong commented on #1699
Well, `mathjs` can definitely parse an expression like `$ / 1000` or `log($ * sin(34 deg))` for you and evaluate it. It can also work with units, that may be interesting for you too :).

[2019-12-31 11:49] yboujraf commented on #1699
Dear @josdejong

Great news but I need reverse also then I could use it on my framework.

Could you generate on the fly the TX or RX depend which formula is available?

If yes, my 2020 will start with happiness ;-)
Youssef

[2019-12-31 12:54] josdejong commented on #1699
Now I'm confused.

So I guess you _do_ need support for automatically inverting a formula? Or not? Or are you going to write the reversed version yourself and enter it in the system? Anyway, like I said before, mathjs doesn't have support for calculating the inverse of a formula at this moment.

[2019-12-31 13:13] kmdrGroch commented on #1687
If you have any algorithm you want to be improved, message me. I'll take a look then ;p

[2019-12-31 14:07] yboujraf commented on #1699
Dear @josdejong

Apology,

Ususaly I add always topic with description to answer.

### Topic - Mathjs  for formula RX or TX

With your library I could calculate the value to send to the Client (RX)  **OR** the sensor (TX).

That's great and will try it in my proof of concept.

### Topic - Mathjs - enhanced functionality - reverse a formula

If you could add in your roadmap the possibility to rever

[2019-12-31 14:28] josdejong commented on #1687
Thanks! It would be great if you could have a look at the performance of `det` some day. This is currently like 100 times slower than we would expect, see #908.

[2019-12-31 14:35] josdejong commented on #1699
Thanks, yes, clear to me :)

It is on the "roadmap" since it's an open issue, but it has been for a long time and isn't picked up yet by anyone (I will not be able to pick it up by myself on sort term either). If it's really important to you maybe you can consider contributing it yourself :)

[2019-12-31 14:50] kmdrGroch commented on #908
there is an amazing algorithm for it which takes performance to O(n^2.372)

https://people.csail.mit.edu/virgi/matrixmult-f.pdf

But I have to analize this paper. Meanwhile I'll take a look on current implementation. There probably is some bottleneck or unnecessary condition which breaks something

[2019-12-31 14:56] josdejong commented on #908
Yes it could very well be an implementation issue and not the algorithm itself.

[2019-12-31 16:45] peteruithoven opened #1704 "Unit validation?"
Thanks for creating this great library!

I was wondering whether there is an easy way to validate / check whether a given unit is supported?

The easiest way for now seems to try to do a `math.unit("foo")` and if there is no error thrown it's a valid unit.

I'd love a simple build in function, something like:
[code]

[2019-12-31 16:49] peteruithoven commented on #1704
This is somewhat related to: https://github.com/josdejong/mathjs/issues/627

[2019-12-31 17:01] peteruithoven commented on #1704
I now realize `math.unit("foo")` would already throw an error which prevents the use of a `isValid()` function.

Maybe something like `math.validate("foo")` beside the existing `math.evaluate()`?

[2019-12-31 17:42] arkajitmandal commented on #46
I can do this once I am done the eig functions

[2019-12-31 18:25] ericman314 commented on #1704
You can access the built-in (and user-defined) units using `math.Unit.UNITS`, so you could do something like `math.Unit.UNITS.hasOwnProperty('foo')`, but that wouldn't correctly validate units with prefixes, like `kg`.

The fastest way to check for the validity of a unit would be to access the underlying parse function like this: `math.Unit.parse('foo')`. This will throw if the unit and prefix doe

[2020-01-02 19:39] josdejong commented on #46
Great, thanks for your offer Arkajit!

[2020-01-02 21:50] atulmy commented on #1445
I'm trying to do something like this:
[code]

However, when calling the parser `const response = parser.evaluate('select()')` throws following error:
[code]

Can we create `async` functions? Any help on this would be highly appreciated.

CC: @josdejong

[2020-01-02 22:02] harrysarson commented on #1445
Async functions are not something that mathjs supports. Saying that your example should work - I made a quick example: https://repl.it/repls/GargantuanAcclaimedCoins

[code]

which does what you would expect it to do  :)

[2020-01-02 22:17] atulmy commented on #1445
That was super quick @harrysarson, thanks!

I tried your example and it does work. However in case of `parser.evaluate('select() + 10')` it actually fails with the same issue. Any idea how can we achieve that?

Updated example: https://repl.it/repls/UnselfishBrownAlphatest

[2020-01-03 07:32] josdejong commented on #1445
The parser has no support for async responses. An async function should be invoke with `async` (or by resolving the returned promise), and this is not what the parser does.

I think you can simply do something like this:

[code]
So first you resolve your async value and after that put the results in the parser.

Be careful in your examples not to run any evaluation _before_ your `await Model.count

[2020-01-03 08:11] atulmy commented on #1445
Okay, will use a work around. Thanks for the quick help and building this awesome library @josdejong!

[2020-01-03 09:33] josdejong commented on #1445
I do not see this as a workaround but as a proper, valid solution. The `Parser` simply is not async, and adding support for it would not add anything. I don't think it would make your code simpler or better. It may even make it more tricky and complicated when you mix sync and async on various levels that way: as you can see from my example you have to `await` for the `count` to resolve before you

[2020-01-03 19:17] josdejong commented on #1445
Sorry [my previous comment](https://github.com/josdejong/mathjs/issues/1445#issuecomment-570517219) sounds a bit offensive, that was not my intention. Anyway, I think there is no need at this point to add `async` support and it's easy to write your own wrapper if needed. Will close this question now, feel free to reopen if needed.

[2020-01-03 20:21] atulmy commented on #1445
I think `async` support would really help when we are working with cases where user creates own formula with different params to it and which needs to be resolved from database.

[2020-01-04 13:28] josdejong commented on #1445
Atul can you give a few examples of your idea of using async functions inside the parser? Some use-cases that would be very hard, verbose, cumbersome, or simply impossible to achieve without having async support in mathjs itself?